<h1>New Organization Request</h1>
<% if @admin.present? %>
  <p>
    Name: <%= @admin.to_s %><br/>
  </p>
  <p>
    Email: <%= @admin.email %>.<br/>
  </p>
<% end %>
<p>
  Organization Name: <%= @org %><br/>
</p>
<p>
  Click here to respond to the request: <%= link_to(@org, admin_organization_url(@org, host: ENV['API_HOST'])) %>
</p>
