<span ng-class="{'current-org': $ctrl.orgHierarchy.length === 0}">
    <a ui-sref="app.ministries.root" class="ministry-name">
        {{'ministries.roots' | t}}
    </a>
    <span class="arrow" ng-if="$ctrl.orgHierarchy.length !==0">&gt;</span>
</span>
<span ng-repeat="org in $ctrl.orgHierarchy" ng-class="{'current-org': $last}">
    <span class="arrow" ng-if="$index > 0 ">&gt;</span>
    <a
        ui-sref="app.ministries.ministry.defaultTab({ orgId: org.id })"
        class="ministry-name"
        >{{org.name}}</a
    >
</span>
