organization-breadcrumbs {
  display: block;
  margin-bottom: 10px;

  &, a {
    color: black;
  }

  .current-org {
    a {
      color: $pivot-dark-blue;
    }

    .arrow {
      display: none;
    }
  }
}
