organization-breadcrumbs {
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
  align-self: stretch;
  align-items: center;

  span:not(:last-child) {
    margin-right: 4px;
  }

  &, a {
    color: black;
  }

  .current-org {
    a {
      color: $pivot-dark-blue;
    }

    .arrow {
      display: none;
    }
  }
}
