@import '../../../../stylesheets/variables/colors';

.dashboard-subnav organization-breadcrumbs, organization-breadcrumbs  {
  // for specificity sake :(
  .ministry-name {
    color: $gray-1;
  }
}

organization-breadcrumbs {
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
  align-self: stretch;
  align-items: center;

  .arrow {
    color: $gray-3;
  }

  span:not(:last-child) {
    margin-right: 4px;
  }

  .current-org {
    .ministry-name {
      color: $pivot-dark-blue;
    }

    .arrow {
      display: none;
    }
  }
}
