<div class="modal-header">
    <h3 class="modal-title">{{ 'beta.welcome.title' | t }}</h3>
</div>
<div class="modal-body form">
    <p>{{ 'beta.welcome.p1' | t }}</p>
    <p>{{ 'beta.welcome.p2' | t }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.accept()" ng-disabled="$ctrl.sending">
        <span ng-hide="$ctrl.sending">{{ 'beta.welcome.accept' | t }}</span>
        <loading-spinner ng-if="$ctrl.sending" class="loading" size="16"></loading-spinner>
    </button>
</div>
