<p>Your request for the keyword keyword has been declined. Keywords are typically declined for one of the following reasons:</p>

<ul>
  <li>The keyword was too long. We recommend that you keep your keywords as short as possible, preferably under 10 characters.</li>
  <li>The keyword was too generic. Keywords should be specific to your location. We reserve generic keywords for regional or national audiences.  (e.g. osucru instead of cru)</li>
  <li>Too many keywords were requested. At this point in time, we are only allowing 2 keywords per location to minimize our cost.</li>
</ul>

<p>If you have good reason for an exception, please send an explanation to support@missionhub.com with Keyword Request Declined in the subject line and we will review your situation.</p>

<p>
  Thanks,<br/>
  MissionHub Support Team
</p>