<iframe width="560" height="315" src="http://www.youtube.com/embed/fWNaR-rxAic?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
<br/>
<div id="dash_content">
  <div class="description">
    <div class="title">
      New in this week on Mission Hub!
    </div>
    <div class="date">
      January 13, 2012
    </div>
    <div class="info">
      Aliquet integer ultrices auctor sed et porta turpis et in porttitor? Nec, phasellus non in ultricies amet magna sit scelerisque amet auctor platea, rhoncus auctor amet, sagittis magna turpis sociis ultrices ultrices ac a penatibus. Elementum turpis lorem in? Lectus, arcu porta!
    </div>
  </div>
    
</div>