<div class="dashboard_panels">
  <% if current_organization %>
    <ui-view></ui-view>
  <% else %>
    <div id="dashboard_error">
      <%= render 'not_found' %>
    </div>
  <% end %>
</div>
<div id="add_contact_div" style="display:none;" class="custom_mh_popup_box" data-width=600></div>
<%= render 'dialogs/add_existing_contact' %>
