<div id="dashboard_panels">
  <% if current_organization %>
    <my-contacts-dashboard period="$ctrl.period"></my-contacts-dashboard>
  <% else %>
    <div id="dashboard_error">
      <%= render 'not_found' %>
    </div>
  <% end %>
</div>
<div id="add_contact_div" style="display:none;" class="custom_mh_popup_box" data-width=600></div>
