<div id="dashboard_panels">
  <% if current_organization %>
    <my-contacts-dashboard></my-contacts-dashboard>
  <% else %>
    <div id="dashboard_error">
      <%= render 'not_found' %>
    </div>
  <% end %>
</div>
