transfer-modal {
  @extend person-multiselect;

  input[type=checkbox] {
    margin-right: 4px;
  }

  .pill {
    border: none;
    background-color: $gray-4;
    color: $pivot-dark-blue;
    &.selected {
      background-color: $gray-2;
      color: $white;
    }
  }
}
