<% person ||= nil %>
<fieldset data-role="controlgroup">
  <% checkbox_field.choices.each_with_index do |choice, num| -%>
    <% dom_id = dom_id(checkbox_field) + "_" + pretty_tag(choice[1]) %>
    <%= hidden_field_tag "answers[#{checkbox_field.id}][#{num}]", '', :id => '' %>
    <%= check_box_tag "answers[#{checkbox_field.id}][#{num}]", choice[1],
          checkbox_field.has_answer?(choice[1], @answer_sheet, person),
          :id => dom_id %>
    <label class="choice" for="<%= dom_id %>"><%= raw word_wrap(choice[0], line_width: 30).gsub(/\n/,'<br>') %></label>
  <% end -%>
</fieldset>
