<div>
    <h1 class="f2 pivot-dark-blue fw6 mv3">
        {{ 'signatures.title' | t }}
    </h1>
    <div class='flex justify-between items-end mb4'>
        <span class=''>
            <a href target='_blank' class='f5 ba pv1 ph4 b--pivot-dark-blue pivot-dark-blue br4 bg-transparent dim' ng-href='{{ $ctrl.exportLink }}'><b>Download CSV</b></a>
        </span>
        <span class=''>
            <form >
                <input type='text'
                    placeholder="search"
                    class='pa3 input-reset cursor-text bg-white bw0 pivot-gray-darker ihshort br2 v-btm'
                    ng-model="search"
                    ng-keyup="$event.keyCode == 13 && $ctrl.search(search)"/>
                <button class='f5 ml1 pv3 ph4 b--pivot-gray-darker bg-pivot-gray-darker pivot-white br2 search dim' ng-click="$ctrl.search(search)"></button>
            </form>
        </span>
    </div>
    <table st-table="$ctrl.signatures" st-pipe="$ctrl.load" st-safe-src="$ctrl.signatureData" class="grid w-100">
        <thead>
            <tr class='bg-pivot-dark-blue'>
                <th class='pa3 pivot-white br2 br--top br--left ttu' st-sort="updated_at">Date Signed</th>
                <th class='pa3 pivot-white ttu' st-sort="first_name">First name</th>
                <th class='pa3 pivot-white ttu' st-sort="last_name">Last name</th>
                <th class='pa3 pivot-white ttu' st-sort="code_of_conduct">Code of Conduct</th>
                <th class='pa3 pivot-white br2 ttu br--top br--right' st-sort="statement_of_faith">Statement of Faith</th>
            </tr>
        </thead>
        <tbody class='grid-content'>
            <tr ng-repeat="row in $ctrl.signatures">
                <td class='pa3'>{{row.updated_at | date}}</td>
                <td class='pa3'>{{row.first_name}}</td>
                <td class='pa3'>{{row.last_name}}</td>
                <td class='pa3'>
                    <span ng-if="row.code_of_conduct">Accepted</span>
                    <span ng-if="!row.code_of_conduct">Not Accepted Yet</span>
                </td>
                <td class='pa3'>
                    <span ng-if="row.statement_of_faith">Accepted</span>
                    <span ng-if="!row.statement_of_faith">Not Accepted Yet</span>
                </td>
            </tr>
            <tr ng-if="$ctrl.signatures.length <=0">
                <td class='pa3 tc' colspan="5">No signatures found</td>
            </tr>
        </tbody>
        <tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="$ctrl.itemsPerPage" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
    </table>
</div>