organization-signatures {
    //This is only needed because of the dreadfull css in legacy
    h1 {
        &.f2 {
            font-size: 2.25rem !important;
        }
    }

    .search {
        background-image: url(../../../../images/icons/searchIcon.svg);
        background-repeat: no-repeat;
        background-position: 50% center;
    }

    input[type='text'] {
        border: 0 !important;
        font-size: 100% !important;
        border-radius: 0.25rem !important;
        &.pa3 {
            padding: 0.6rem !important;
        }
    }
}
