<div>
    <section ng-if="!$ctrl.hasSignedCodeOfConduct()">
        <h1>{{ 'signatures.agreements.codeOfConduct.title' | t }}</h1>
        <div bind-dynamic="'signatures.agreements.codeOfConduct.text' | t">
        </div>
        <div class='fr mt3'>
            <button class='f5 ba pv1 ph4 b--pivot-gray-darker pivot-white br4 bg-pivot-gray-darker dim' ng-click="$ctrl.declineAgreement('code_of_conduct')">Decline</button>
            <button class='f5 ba pv1 ph4 b--pivot-dark-blue pivot-white br4 bg-pivot-dark-blue dim ml2' ng-click="$ctrl.acceptAgreement('code_of_conduct')">Accept</button>
        </div>
    </section>
    <section ng-if="$ctrl.hasSignedCodeOfConduct() && !$ctrl.hasSignedSignedStatementOfFaith()">
        <h1>{{ 'signatures.agreements.statementOfFaith.title' | t }}</h1>
        <div bind-dynamic="'signatures.agreements.statementOfFaith.text' | t">
        </div>
        <div class='fr mt3'>
            <button class='f5 ba pv1 ph4 b--pivot-gray-darker pivot-white br4 bg-pivot-gray-darker dim' ng-click="$ctrl.declineAgreement('statement_of_faith')">{{ 'signatures.agreements.decline' | t }}</button>
            <button class='f5 ba pv1 ph4 b--pivot-dark-blue pivot-white br4 bg-pivot-dark-blue dim ml2' ng-click="$ctrl.acceptAgreement('statement_of_faith')">{{ 'signatures.agreements.accept' | t }}</button>
        </div>
    </section>
    <section class='tc' ng-if="$ctrl.hasSignedCodeOfConduct() && $ctrl.hasSignedSignedStatementOfFaith() && !$ctrl.hasDeclined">
        <h1>{{ 'signatures.agreements.accepted.message' | t }}</h1>
        <button class='f5 ba pv2 ph4 b--pivot-dark-blue pivot-white br4 bg-pivot-dark-blue dim ml2' ui-sref="app.people">{{ 'signatures.agreements.accepted.button' | t }}</button>
    </section>
    <section class='tc' ng-if="$ctrl.hasDeclined">
        <h1>{{ 'signatures.agreements.declined.title' | t }}</h1>
        <div class='f4'>
            <p>{{ 'signatures.agreements.declined.mainBlurb' | t }}</p>
            <p>{{ 'signatures.agreements.declined.requestAccessBlurb' | t }}</p>
        </div>
    </section>
</div>