$contact-height: 50px;

contact {
  $contact-padding: 10px;

  @extend .row;
  height: $contact-height;

  .button-column {
    width: 56px;
  }
  .gender-column {
    width: 50px;
  }
  .phone-number-column {
    width: 120px;
  }

  round-button {
    margin: auto;
  }

  padding: $contact-padding;
}
