contact {
  @extend .row;
  height: 30px;

  .button-column {
    width: 40px;
  }
  .gender-column {
    width: 50px;
  }
  .phone-number-column {
    width: 100px;
  }

  .warning {
    color: $pivot-orange;
  }

  round-button {
    margin: auto;
  }

  padding: 10px;
}
