<div class="column button-column">
    <input type="checkbox" />
</div>
<div class="column important-column">
    <a ui-state="'app.ministries.ministry.contacts.contact.' + $ctrl.contactFirstTab"
       ui-state-params="{ contactId: $ctrl.contact.id }">
        {{$ctrl.contact.full_name}}
    </a>
</div>
<div class="column detail-column gender-column">
    <span ng-if="$ctrl.contact.gender">{{('ministries.contacts.' + $ctrl.contact.gender.toLowerCase()) | t}}</span>
</div>
<div class="column detail-column normal-column" ng-class="{warning: $ctrl.assignedTo === null}">
    <span>{{$ctrl.assignedTo.full_name || ('ministries.contacts.unassigned' | t)}}</span>
</div>
<div class="column detail-column normal-column" ng-class="{warning: $ctrl.uncontacted}">
    <span>{{($ctrl.uncontacted ? 'ministries.contacts.uncontacted' : 'ministries.contacts.contacted') | t}}</span>
</div>
<div class="column detail-column phone-number-column">
    <span ng-if="$ctrl.phoneNumber">{{$ctrl.phoneNumber.number | phone}}</span>
</div>
<div class="column detail-column button-column">
    <a ng-href="mailto:{{$ctrl.emailAddress.email}}" ng-if="$ctrl.emailAddress">
        <round-button ng-class="{disabled: !$ctrl.emailAddress}">
            <ng-md-icon icon="email"></ng-md-icon>
        </round-button>
    </a>
    <round-button class="disabled" ng-if="!$ctrl.emailAddress">
        <ng-md-icon icon="email"></ng-md-icon>
    </round-button>
</div>
