<div class="group row header">
    <div class="column name-column">
        {{ 'ministries.groups.columns.name' | t : { group_count : $ctrl.organizationOverview.groups.length } }}
    </div>
    <div class="column leaders-column">
        {{ 'ministries.groups.columns.leaders' | t }}
    </div>
    <div class="column time-column">
        {{ 'ministries.groups.columns.time' | t }}
    </div>
    <div class="column location-column">
        {{ 'ministries.groups.columns.location' | t }}
    </div>
    <div class="column buttons-column">
        <icon-button icon="'add'" size="16" ng-click="$ctrl.addGroup()"></icon-button>
    </div>
</div>
<div class="grid-content">
    <ministry-view-group ng-repeat="group in $ctrl.organizationOverview.groups | orderBy: 'name' track by group.id"
                         group="group"></ministry-view-group>
</div>
