@import '../../../../stylesheets/variables/colors';
@import '../ministryViewGroup/ministryViewGroup';

organization-overview-groups {
  .header {
    @extend ministry-view-group;

    display: flex;
    background-color: $pivot-darker-blue;

    ng-md-icon svg {
      fill: white;
    }
  }
}
