<div class="grid-content">
    <div class="group row">
        <a href="" ng-click="$ctrl.addGroup()" class="row-content padded">Add Group</a>
    </div>
    <div ng-repeat="group in $ctrl.organizationOverview.groups | orderBy: 'name' track by group.id"
         class="group row">
        <div class="row-content padded">
            <a ng-href="/groups/{{group.id}}?organization_id={{$ctrl.organizationOverview.org.id}}">{{group.name}}</a>
            <div class="space"></div>
            <ng-md-icon class="edit-action" icon="edit" size="16" ng-click="$ctrl.editGroup(group)"></ng-md-icon>
            <ng-md-icon class="delete-action" icon="delete" size="16" ng-click="$ctrl.deleteGroup(group)"></ng-md-icon>
        </div>
    </div>
</div>
