<div class="my-contacts-dashboard" ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.organizationPeople">
  <h1 ng-show="$ctrl.loading" ng-click="$ctrl.retry">{{'dashboard.loading_contacts' | t}}</h1>
  <div ng-if="$ctrl.noContacts" class="no-contacts-message ng-cloak">
    <span class="largeRoundIcon pivot-gradient">
      <ng-md-icon icon="addContact" size="36"></ng-md-icon>
    </span>
    <h1>{{ $ctrl.noContactsWelcome }}</h1>
    <p ng-bind-html="$ctrl.noContactsMessage"></p>
  </div>
  <organization-people
          id="{{ org.id }}"
          name="{{ org.name }}"
          people="org.people"
          ng-repeat="org in $ctrl.organizationPeople"
          period="$ctrl.period"
          collapsible="$ctrl.collapsible"
          my-person-id="$ctrl.myPersonId"
          collapsible="$ctrl.collapsible"
          edit-mode="$ctrl.editMode"
          visible="org.visible"
          ng-if="org.visible || $ctrl.editMode"
          on-change-visibility="$ctrl.orgChangeVisibility(organization_id)">
  </organization-people>
</div>
