<div class="my-contacts-dashboard" ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.organizationPeople">
  <h1 ng-show="$ctrl.loading" ng-click="$ctrl.retry">{{'dashboard.loading_contacts' | t}}</h1>
  <organization-people
          id="{{ org.id }}"
          name="{{ org.name }}"
          people="org.people"
          ng-repeat="org in $ctrl.organizationPeople"
          period="$ctrl.period"
          collapsible="$ctrl.collapsible"
          my-person-id="$ctrl.myPersonId"
          collapsible="$ctrl.collapsible"
          edit-mode="$ctrl.editMode">
  </organization-people>
</div>
