<div class="person-info">
    <div class="name">
      <a href="/profile/{{$ctrl.person.id}}?organization_id={{$ctrl.organizationId}}">
        {{ $ctrl.person.full_name }}
      </a>
    </div>
    <div class="stats" ng-class="{'stats-collapsed': $ctrl.addInteractionBtnsVisible || $ctrl.closingInteractionButtons}">
        <div ng-repeat="index in [0,1,2,3,4,5,6,7,8,9]">{{ index + 100 }}</div>
        <span class="phone" ng-if="$ctrl.person.phone_numbers.length === 0">-</span>
    </div>
    <div class="phone" ng-if="$ctrl.person.phone_numbers.length > 0">
        {{ $ctrl.person.phone_numbers[0].number | phone }}
    </div>
    <round-button><ng-md-icon icon="textsms"></ng-md-icon></round-button>
    <round-button><ng-md-icon icon="email"></ng-md-icon></round-button>
    <div class="addInteractionButtons" ng-if="$ctrl.addInteractionBtnsVisible">
        <square-button ng-repeat="type in $ctrl.interactionTypes"
                       ng-click="$ctrl.openAddInteractionPanel(type)"
                       ng-class="{'open': $ctrl.openPanelType === type}"
                       title="{{type.title}}">
            <ng-md-icon icon="{{type.icon}}"></ng-md-icon>
        </square-button>
    </div>
    <round-button ng-click="$ctrl.toggleInteractionBtns()" ng-switch="$ctrl.addInteractionBtnsVisible">
      <ng-md-icon icon="add" ng-switch-when="false"></ng-md-icon>
      <ng-md-icon icon="close" ng-switch-when="true"></ng-md-icon>
    </round-button>
</div>
<div class="addInteractionPanel" ng-if="$ctrl.openPanelType">
    <textarea placeholder="Notes for new {{$ctrl.openPanelType.title}}" ng-model="$ctrl.interactionComment" class="auto-grow"></textarea>
    <ng-md-icon icon="save" size="30" class="icon-btn" ng-click="$ctrl.saveInteraction()"></ng-md-icon>
</div>
