<!-- Pick director form -->
<%= form_tag add_person_leaders_path, :remote => true, :id => 'create_leader_form' do %>
  <% if flash[:error] %>
    <div class="flash error"><%= raw flash[:error] %></div>
  <% end %>
  <label for="leader_search_name">All of the following fields are required to add a leader:</label>
  
  
  <%= render 'people/person_form', :person => @person %>
    
  
  <%= submit_tag "Add", :disable_with => "Adding..." %>
<% end %>
