<ul>
  <% original_total = @people.length %>
  <% @people = @people.select {|p| p.email.present?} %>
  <% @people.each do |person| %>
    <li><%= link_to("#{person} (#{person.user.try(:username)})", leaders_path(person_id: person.id), method: :post, remote: true) %></li>
  <% end %>
</ul>
<% if @total > original_total %>
  <span style="font-size: 11px;"><%= t('group_memberships.search.showing_count', length: @people.length, total: @total) %>
  <%= link_to(t('group_memberships.search.show_all'), '#', :class => 'search_show_all_link') %></span><br/>
<% end %>


<%= link_to(t('.not_in_system'), "/leaders/new?name=#{params[:name]}", :remote => true, :class => 'add_new_person') %>
