<div class="splash">
  <div id="logoline">
    <a href="/" id="logo"></a>
  </div>
  <div id="roundwrap">
    <div class="loginscreen">
    <%= link_to(image_tag('login-button.png'), user_omniauth_authorize_path(:facebook), rel: 'external') %>
    </div>
  </div>
</div>