  <center>
    <% if mhub? %>
      To start the survey, please login with Facebook so we can know who you really are. This will save time completing your survey.
    <% else %>
      Please login with Facebook to get started 
    <% end %>
    <br><br>
    <%= link_to(image_tag('login-button.png'), user_omniauth_authorize_path(mhub? ? :facebook_mhub : :facebook), rel: 'external') %>
    <br/>
			<% if mhub? && cookies[:keyword] %>
  			<div class="info"><br/><br/>
  				<center><%= link_to("Don't like Facebook? Click here to skip facebook login", "/c/#{cookies[:keyword]}?nologin=true") %></center>
  			</div>
  		<% end %>
  </center>

  <!-- <div class="splash">
    <div id="logoline">
    </div>
    <div id="roundwrap">
      <div class="left width30">
    
        <h3>Login:</h3>
    
        <div class="loginscreen">
        <%= link_to(image_tag('login-button.png'), user_omniauth_authorize_path(:facebook), rel: 'external') %>
        </div>      
      </div>
    
    
    
      <div class="right width60">
        <h3><Instructions:</h3>
        <p>
          To get started, you'll need to have a Facebook account. 
                        Click the login link to the left and "allow" MHub to access
                        your information. You'll be taken to the wizard if this is your first
                        time accessing MissionHub.</p>
      </div>
    
      <div class="clear"></div>
  
    </div>
  </div> -->

