pages {
  .nav-item {
    width: 0.5em;
  }

  .nav-item.unavailable {
    visibility: hidden;
  }

  .active-page {
    color: $pivot-bright-blue;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: white;
    font-size: 14px;
    background-image: url('data:image/svg+xml;utf8,<svg width="8px" height="4px" viewBox="0 0 8 4" version="1.1" xmlns="http://www.w3.org/2000/svg"><polyline transform="scale(-1, 1) translate(-370, -259)" fill="%23FFF" points="362 259 366 263 370 259 362 259"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: 100%;
    padding-right: 12px;
    &:focus {
      outline: none;
      border-bottom: 1px solid white;
    }
  }
}
