<div id="menutop" class="topmenu topmenu-with-sub">
    <a href="/" id="logoInvert" ng-if="$ctrl.state.branded"></a>
    <ul ng-if="$ctrl.state.hasMissionhubAccess" class="sc-init-menu sf-menu sf-navbar mh-top" id="primary_nav">
        <li ui-sref-active="current">
            <a ng-if="$root.isSpaPage" ui-sref="app.people">{{ 'dashboard.people_assigned_to_you' | t }}</a>
            <a ng-if="!$root.isSpaPage" href="/d/people">{{ 'dashboard.people_assigned_to_you' | t }}</a>
        </li>

        <li ng-class="{ current: ('app.ministries' | includedByState) }">
            <a ng-if="$root.isSpaPage" ui-sref="app.ministries.root">{{ 'dashboard.organizations_assigned_to_you' | t }}</a>
            <a ng-if="!$root.isSpaPage" href="/d/ministries/root">{{ 'dashboard.organizations_assigned_to_you' | t }}</a>
        </li>
    </ul>

    <div ng-if="$ctrl.state.hasMissionhubAccess" class="flex items-center justify-center">
        <nav-search></nav-search>
    </div>

    <ul ng-if="$ctrl.state.hasMissionhubAccess" id="profile_dropdown_nav" class="sc-init-menu sf-menu mh-top">
        <li>
            <a href="javascript:;">
                <div class="user-avatar-wrap">
                    <div class="user-initials">
                        {{ $ctrl.loggedInPerson.person.first_name[0] + $ctrl.loggedInPerson.person.last_name[0] | uppercase }}
                    </div>
                    <img ng-src="{{$ctrl.loggedInPerson.person.picture}}" class="user-avatar">
                </div>
            </a>
            <ul>
                <li>
                    <a ng-if="!$root.isSpaPage"
                       ng-href="{{ '/d/people/' + $ctrl.state.legacyCurrentOrganization + '/' + $ctrl.loggedInPerson.person.id + '/profile' }}">
                        {{ 'nav.my_profile' | t }}
                    </a>
                    <a ng-if="$root.isSpaPage"
                       ui-sref="app.people.person.defaultTab({
                        personId: $ctrl.loggedInPerson.person.id,
                        orgId: $ctrl.state.legacyCurrentOrganization
                      })">
                        {{ 'nav.my_profile' | t }}
                    </a>
                </li>
                <li>
                    <a href="/preferences">{{ 'nav.settings' | t }}</a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="$root.openAboutModal()">About</a>
                </li>
                <li>
                    <a href="/sign_out">{{ 'nav.logout' | t }}</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul ng-if="!$ctrl.state.hasMissionhubAccess" class="sf-menu mh-top" id="primary_nav">
        <li style="margin-left: auto;">
            <a href="/sign_out">{{ 'nav.logout' | t }}</a>
        </li>
    </ul>
</div>
