.autotest
.bundle
db/*.sqlite3
log/*.log
tmp/*

test/fixtures/ephemeral_response
spec/examples.txt
/coverage/
.DS_Store
vendor/ruby
vendor/cache
vendor/bundle
unicorn.development.rb
public/assets
*.swp
coverage.data
.sass-cache
active-record-query-trace
.project
rails_best_practices_output.html
.idea
public/uploads/*
public/system/*
tmp
app/assets/javascripts/i18n/translations.js
mh

NERD_tree_*

dump.rdb.localeapp
.localeapp

dump.rdb
node_modules
db/schema.rb
.rvmrc
.env.*
