.autotest
.bundle
db/*.sqlite3
log/*.log
tmp/*
config/config.yml
config/database.yml
test/fixtures/ephemeral_response
/coverage/
.DS_Store
vendor/ruby
unicorn.development.rb
public/assets
*.swp
coverage.data
.sass-cache
active-record-query-trace
.project
rails_best_practices_output.html
.idea
public/uploads/*
tmp
app/assets/javascripts/i18n/translations.js
mh
config/s3.yml
NERD_tree_3
config/locales/copycopter.yml
dump.rdb.localeapp
.localeapp
log/localeapp.yml
dump.rdb
