.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/config.yml
config/database.yml
test/fixtures/ephemeral_response
/coverage/
.DS_Store
vendor/ruby
unicorn.development.rb
public/assets
*.swp
coverage.data
.sass-cache
config/deploy.rb