<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <title>MissionHub</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/assets/dashboard.css?body=1">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/assets/global.css?body=1">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/assets/superfish.css?body=1">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/assets/superfish-navbar.css?body=1">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/assets/mh_permissions_labels_style.css?body=1">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/assets/mh_profile_style.css?body=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="//fonts.googleapis.com/css?family=Montserrat:400,700|Titillium+Web:400,700">
</head>

<body ng-cloak ng-app="missionhubApp">

    <app
        current-organization="8"
        access="true"    jwt-token="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMzk1MDIxLCJleHAiOjE1NDA5MTk5NDB9.nYYkR3tqYru3KNelv5YJpjdkpsXYNrBl3PUWqygRHmU"
        branded="true"
      >
      </app>

</body>
</html>
