<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <base href="/" />

        <title>MissionHub</title>
        <meta name="apple-itunes-app" content="app-id=447869440" />

        <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600"
            rel="stylesheet"
        />

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                (i[r] =
                    i[r] ||
                    function() {
                        (i[r].q = i[r].q || []).push(arguments);
                    }),
                    (i[r].l = 1 * new Date());
                (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m);
            })(
                window,
                document,
                'script',
                '//www.google-analytics.com/analytics.js',
                'ga',
            );
        </script>
    </head>

    <body
        class="bg-pivot-gray"
        ng-cloak
        ng-app="missionhubApp"
        ng-class="{
            'overflow-hidden-s': $root.showPeopleFilters
        }"
    >
        <ui-view></ui-view>

        <script>
            // Disable the help scout beacon if the user is taking a survey
            if (
                window.location.origin !== 'https://stage.mhub.cc' &&
                window.location.origin !== 'https://mhub.cc'
            ) {
                !(function(e, t, n) {
                    function a() {
                        var e = t.getElementsByTagName('script')[0],
                            n = t.createElement('script');
                        (n.type = 'text/javascript'),
                            (n.async = !0),
                            (n.src = 'https://beacon-v2.helpscout.net'),
                            e.parentNode.insertBefore(n, e);
                    }
                    if (
                        ((e.Beacon = n = function(t, n, a) {
                            e.Beacon.readyQueue.push({
                                method: t,
                                options: n,
                                data: a,
                            });
                        }),
                        (n.readyQueue = []),
                        'complete' === t.readyState)
                    )
                        return a();
                    e.attachEvent
                        ? e.attachEvent('onload', a)
                        : e.addEventListener('load', a, !1);
                })(window, document, window.Beacon || function() {});
                window.Beacon('init', '8e1f984b-c505-4d96-b8cb-58f773b7883c');
            }
        </script>
    </body>
</html>
