<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <title>MissionHub</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="//fonts.googleapis.com/css?family=Montserrat:400,700|Titillium+Web:400,700">
</head>

<body class='bg-pivot-gray-5' ng-cloak ng-app="missionhubApp">

    <app
        current-organization="8"
        access="true"    jwt-token="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMzk1MDIxLCJleHAiOjE1NDExMDUyMDJ9.kqVswv4MWNp4cVtKO-H2u5EahWSw1WWerzV_rV4gBh0"
        branded="true"
      >
      </app>

</body>
</html>
