<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <title>MissionHub</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="//fonts.googleapis.com/css?family=Montserrat:400,700|Titillium+Web:400,700">
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
      integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
      crossorigin="anonymous"></script>
</head>

<body class='bg-pivot-gray' ng-cloak ng-app="missionhubApp">

    <app
        current-organization="8"
        access="true"    jwt-token="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyMzk1MDIxLCJleHAiOjE1NDE2MDgyNjZ9.UEgUMemvnycJr4u-13GphHnPo3nr-oWFYvnJypLpL7U"
        branded="true"
      >
      </app>

</body>
</html>
