<div class="m-auto tc" ng-if="$ctrl.showLogin">
    <p ng-if="$ctrl.inviteState" class="f3 pa3 bg-warning w-100 dib">
        {{ 'login.inviteInProgress' | t }}
    </p>
    <p ng-if="$ctrl.inviteState">
        <a
            href
            class="btn-key btn-primary f5"
            title="{{ 'login.signUpWithEmail' | t }}"
            target="_self"
            ng-if="$ctrl.inviteState"
            ng-href="{{ $ctrl.theKeySignUpUrl() }}"
        >
            {{ 'login.signUpWithEmail' | t }}
        </a>
    </p>
    <h1 ng-if="!$ctrl.inviteState" class="ttu">{{ 'login.signIn' | t }}</h1>
    <p>
        <a
            href
            cy-test-id="loginWithEmailButton"
            class="btn-key btn-primary f5"
            title="{{ 'login.signInWithEmail' | t }}"
            target="_self"
            ng-href="{{ $ctrl.theKeyLoginUrl() }}"
        >
            {{ 'login.signInWithEmail' | t }}
        </a>
    </p>
    <p>
        <a
            href
            class="btn-primary btn-facebook f5"
            title="{{ 'login.continueWithFacebook' | t }}"
            ng-click="$ctrl.facebookService.signIn()"
        >
            {{ 'login.continueWithFacebook' | t }}
        </a>
    </p>
</div>
