<div class="pivot_theme">
    <button class="reset" ng-click="$ctrl.resetFilters()" ng-if="$ctrl.filtersApplied">
        {{ 'signatures.clear' | t }}
    </button>

    <div class="filter-row filter-search">
        <input ng-model="$ctrl.filters.searchString"
               ng-model-options="{ debounce: 200 }"
               placeholder="{{'contacts.index.filter' | t}}">
    </div>

    <accordion collapsed="$ctrl.labelFilterCollapsed" accordion-disabled="!$ctrl.labelOptions.length > 0"
               class="filter-row filter-labels">
        <accordion-header>
            <span ng-click="$ctrl.labelFilterCollapsed = !$ctrl.labelFilterCollapsed">
                {{'search.labels.title' | t}}
            </span>
            <accordion-toggle></accordion-toggle>
        </accordion-header>
        <accordion-content>
            <label ng-repeat="labelOption in $ctrl.labelOptions" class="filter-option">
                <input type="checkbox" ng-model="$ctrl.filters.labels[labelOption.label_id]">
                <span class="filter-option-name">{{ labelOption.name }}</span>
                <span class="filter-option-count">{{ labelOption.count }}</span>
            </label>
        </accordion-content>
    </accordion>

    <accordion collapsed="$ctrl.assignedToFilterCollapsed" accordion-disabled="!$ctrl.assignmentOptions.length > 0"
               class="filter-row assigned-to">
        <accordion-header>
            <span ng-click="$ctrl.assignedToFilterCollapsed = !$ctrl.assignedToFilterCollapsed">
                {{'search.assignments.title' | t}}
            </span>
            <accordion-toggle></accordion-toggle>
        </accordion-header>
        <accordion-content>
            <label ng-repeat="assignmentOption in $ctrl.assignmentOptions" class="filter-option">
                <input type="checkbox" ng-model="$ctrl.filters.assigned_tos[assignmentOption.person_id]">
                <span class="filter-option-name" ng-if="assignmentOption.person_id != 'unassigned'">
                    {{ assignmentOption.name }}
                </span>
                <span class="filter-option-name" ng-if="assignmentOption.person_id == 'unassigned'">
                    {{ 'contacts.index.unassigned' | t }}
                </span>
                <span class="filter-option-count">{{ assignmentOption.count }}</span>
            </label>
        </accordion-content>
    </accordion>

    <accordion collapsed="$ctrl.groupFilterCollapsed" accordion-disabled="!$ctrl.groupOptions.length > 0"
               class="filter-row filter-groups">
        <accordion-header>
            <span ng-click="$ctrl.groupFilterCollapsed = !$ctrl.groupFilterCollapsed">
                {{'search.groups.title' | t}}
            </span>
            <accordion-toggle></accordion-toggle>
        </accordion-header>
        <accordion-content>
            <label ng-repeat="groupOption in $ctrl.groupOptions" class="filter-option">
                <input type="checkbox" ng-model="$ctrl.filters.groups[groupOption.group_id]">
                <span class="filter-option-name">{{ groupOption.name }}</span>
                <span class="filter-option-count">{{ groupOption.count }}</span>
            </label>
        </accordion-content>
    </accordion>
</div>
