person-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $white;
  min-height: 100%;
  overflow: hidden; /* To prevent the "person-history hr" element from overflowing this element's bounds */

  $inner-padding: $person-page--inner-padding;
  $left-col-width: 60px;

  $col-spacing: 10px;

  $compensated-right-padding: $inner-padding + $col-spacing + $left-col-width;

  // subtract one pixel for the left border
  box-sizing: content-box;

  header {
    &.row {
      align-items: flex-start;
    }

    padding: 20px 0 10px $inner-padding;
    padding-bottom: 0;
    margin-bottom: 10px;
    background: $gray-5;

    .tabs .tab {
      padding-left: 0;
      padding-right: 0;
      margin-right: 2em;
      &, a {
        color: $pivot-dark-blue;
      }
      &.active {
        color: $pivot-dark-blue;
        border-bottom-color: $pivot-dark-blue;
      }
    }
  }

  .avatar {
    position: relative;
    margin-right: $col-spacing;
    box-sizing: border-box;

    $avatar-diameter: $left-col-width;

    img {
      width: $avatar-diameter;
      height: $avatar-diameter;
      border-radius: 50%;
    }

    ng-md-icon {
      $diameter: 20px;

      position: absolute;
      top: $avatar-diameter - $diameter;
      width: $diameter;
      height: $diameter;
      border-radius: 50%;
      padding: 2px;
      background: $pivot-dark-blue;
      fill: $white;
    }

    .edit-avatar {
      left: 0;
    }

    .delete-avatar {
      right: 0;
    }
  }

  /* Duplicate a ui-select rule that is overwritten because its specificity is not high enough. */
  .form .ui-select-multiple.ui-select-bootstrap {
    height: auto;
    padding: 3px 3px 0 3px;
  }

  round-button {
    margin-left: initial;
  }

  .normal-column round-button {
    width: auto;
  }

  .close-button {
    fill: $pivot-dark-blue;
    position: relative;
    right: 10px;
    top: -10px;
  }

  .name-row .warning {
    padding: 0 5px;
  }

  header .name {
    font-size: 2em;
    margin-right: $col-spacing;
  }

  .person-tab-content {
    flex: 1;
    overflow-x: hidden;
    padding: 10px $compensated-right-padding 0 $inner-padding;
  }
}
