@import '../../../../stylesheets/variables/colors';

ministry-view-group {
    display: block;
    height: 50px;
    border-top: 1px solid rgba($gray-dark, 0.1);

    ng-md-icon svg,
    ng-md-icon svg path {
        fill: $pivot-dark-blue;
    }

    .edit-action {
        margin-right: 10px;
    }

    .name-column {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .leaders-column {
        flex: 1;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .time-column {
        flex: 2;
    }
    .location-column {
        flex: 1;
    }
    .buttons-column {
        width: 70px;
    }
}
