<div class="sfield email_field">
  <div class="ls"><%= builder.label :email, t('general.email') %>:</div>
  <div class="rs">
    <%= builder.text_field :email %>
    <%= link_to_remove_fields(t('general.remove'), builder, no_remove) %>
  </div>
</div>