<div id="fb_name_search_dialog" style="display:none" title="<%= t('people.edit.fb_name_search_dialog_title') %>">
  <p>
    <%= t('people.edit.fb_name_search_dialog_desc') %> 
  </p>

    <div id="fb_name_search_result" class="fb_results">
    </div>

</div>