<% provide :sidebar do %>
  <%= render :partial => 'people/left_sidebar' %>
<% end %>

<div class="titlebar">
  <h1>
    <%= image_tag("contact.png") %>
    <%= t('.editing') %> <%= @person %>
  </h1>
</div>
