<% @saved_searches.each do |saved_search| %>
  <div class="side-search-option saved-search">
    <div class="option link">
      <%= link_to saved_search.name, saved_search.full_path %>
      <div class='delete' data-tip='Delete'>
        <%= link_to "/saved_contact_searches/#{saved_search.id}", method: :delete, remote: true do %>
          <%= image_tag("delete_gray.png") %>
        <% end %>
      </div>
    </div>
  </div>
<% end if @saved_searches.present? %>