<div id="side-search-result">
  <div class="title"><%= t('.title') %></div>
  <div id="side-search-result-active">
    <!-- Append Active Filters Here -->
  </div>
  <div id="side-search-result-buttons">
  	<button class="action_gray search_result_button" id="search_reset_button">Reset</button>
  	<button class="action_gray search_result_button" id="search_apply_button">Apply</button>
  </div>
</div>