<div class="panel-box mh2 w-100 center">
    <header class="center tc">
        <img alt="" class="center" ng-src="{{$ctrl.checkIcon}}" style="width:150px; height:150px;">
        <h1 class="f2 normal blue mb3 mt3">{{ 'contact_import:step_4.title' | t }}</h1>
    </header>
    <div class="mt0 tc pb3 mb4">
        <p class="lh-copy grey-darker f5 tc mb4">
            {{ 'contact_import:step_4.instructions' | t }}
        </p>
        <p class="tc">
            <a class="f5 center link dim ph5 pv3 mb2 dib white bold br-pill ttu tracked bg-blue"
               ui-sref="app.ministries.ministry.people({ orgId: $ctrl.organizationOverview.org.id })">
                {{ 'contact_import:step_4.home' | t }}
            </a>
        </p>
    </div>
</div>
