<div class="bg-white br3 shadow-3">
    <div class="panel-box mh2 w-75 center">
        <header class="flex items-stretch pt3" ng-if="$ctrl.activeStep <= 3">
            <div class="w-100 items-end">
                <h1 class="f2 normal blue">Import Contacts</h1>
                <div class="progress flex items-center justify-center center">
                    <div class="progress-step pivot-gray-darker br-100 ba bw3 b--pivot-gray-5"
                         ng-repeat="step in [1, 2, 3]" ng-class="{'bg-blue white': step === $ctrl.activeStep}">
                        {{step}}
                    </div>
                </div>
            </div>
        </header>

        <organization-contact-import-step-1
            org="$ctrl.org"
            surveys="$ctrl.surveys"
            next="$ctrl.next(selectedSurvey, fileName, csvData)"
            selected-survey="$ctrl.selectedSurvey"
            file-name="$ctrl.fileName"
            csv-data="$ctrl.csvData"
            ng-if="$ctrl.activeStep === 1"></organization-contact-import-step-1>
        <organization-contact-import-step-2
            next="$ctrl.next(null, null, null, columnMap)"
            previous="$ctrl.previous()"
            csv-data="$ctrl.csvData"
            selected-survey="$ctrl.selectedSurvey"
            column-map="$ctrl.columnMap"
            ng-if="$ctrl.activeStep === 2"></organization-contact-import-step-2>
        <organization-contact-import-step-3
            org="$ctrl.org"
            next="$ctrl.next()"
            previous="$ctrl.previous()"
            csv-data="$ctrl.csvData"
            selected-survey="$ctrl.selectedSurvey"
            column-map="$ctrl.columnMap"
            ng-if="$ctrl.activeStep === 3"></organization-contact-import-step-3>
        <organization-contact-import-step-4
            org="$ctrl.org"
            ng-if="$ctrl.activeStep === 4"></organization-contact-import-step-4>
    </div>
</div>
