<div class="edit_email_fields sfield" data-group="email">
  <%= builder.text_field :email %><%= link_to_remove_fields(builder, no_remove) %>
  <br/>
  <%= builder.check_box :primary, class: 'primary email' %> <%= builder.label :primary %>
</div>