<div class="feed_box survey_display">
	<div class="feed_icon"><%= image_tag("label.png") %></div>
	<div class="feed_item_header">
    <span class="feed_item_date"><%= time_format(org_role.start_date) %></span>
	  <span class="feed_item_privacy">
      <strong>Visible to:</strong>
      <%= "Everyone in #{org_role.organization.name}" %>
    </span>
	</div>
	<div class="feed_item_content">
    <strong><%= org_role.role.name %></strong>
    label was first applied.
  </div>
</div>