<div class="edit_phone_fields">
  <%= builder.text_field :number %>
  <br/>
  <%= builder.select :location, %w[mobile home work].collect {|l| [t("general.#{l}"), l]} %>
  <%= builder.check_box :primary, class: 'primary' %> <%= builder.label :primary %>
  <%- link_to_remove_fields(builder, no_remove) %>
</div>