<% if @completed_answer_sheets.count == 0 %>
  <div class="feed_box notice">
    No completed surveys yet.
  </div>
<% else %>
  <% @completed_answer_sheets.each do |answer_sheet| %>
    <% if answer_sheet.answers.count > 0 %>
      <%= render partial: 'interactions/survey_feed', locals: {answer_sheet: answer_sheet} %>
    <% end %>
  <% end %>
<% end %>