<div class="feed_slug">New</div>

<div class="feed_box interaction_new">

	<div class="interaction_field interaction_edit_initiator fancy">Initiator:<br/>
		<select id="new_interaction_initiator">
			<option>Me (Kristen King)</option>
		</select>
	</div>

	<div class="interaction_field interaction_edit_type fancy">Type:<br/>
		<select id="new_interaction_type">
			<option>Spiritual Conversation</option>
		</select>
	</div>

	<div class="interaction_field interaction_edit_receiver fancy">Receiver:<br/>
		<select id="new_interaction_receiver">
			<option>Olivia (This Person)</option>
		</select>
	</div>

	<div class="interaction_field interaction_reveal">
    Fewer Options &#x25B2;<br/>
	</div>

	<div class="interaction_field interaction_edit_permission fancy">Visible to:<br/>
		<select id="new_interaction_permission">
			<option>Everyone In My Organization</option>
		</select>
	</div>

	<div class="interaction_field interaction_edit_date fancy">Date:
		<input type="text" id="datepicker" />
	</div>

	<textarea rows="4" class="interaction_edit_comment comment_box" placeholder="Add a comment ..."></textarea>

	<div class="interaction_new interaction_save">
		<button class="red_accent" id="interaction_save_save_button">Save</button>
		<button class="large_lightgray" id="interaction_save_cancel_button">Cancel</button>
	</div>

</div>