<div class="info_display info_display_buttons">
  <%= link_to raw("<button class='red_accent'>#{t('interactions.edit_survey_results')}</button>"), edit_survey_response_path(@person) %>
</div>

<% if @completed_answer_sheets.count == 0 %>
  <div class="feed_box notice">
    No completed surveys yet.
  </div>
<% else %>
  <% @completed_answer_sheets.each do |answer_sheet| %>
    <% if answer_sheet.answers.count > 0 %>
      <%= render partial: 'interactions/survey_feed', locals: {answer_sheet: answer_sheet} %>
    <% end %>
  <% end %>
<% end %>