<div class="interaction_new interaction_new_buttons">
	<button class="red_accent" id="interaction_new_record_button">Record A New Interaction</button>
</div>

<% @interactions.each do |interaction| %>
  <%= render partial: 'interactions/interaction_feed', locals: {interaction: interaction} %>
<% end %>