<% if @all_feeds.count == 0 %>
  <div class='feed_box notice'>
    No feeds yet.
  </div>
<% else %>
  <div id='all_feeds_container'>
    <% @all_feeds.each do |feed| %>
      <%= render partial: 'interactions/any_feed', locals: {feed: feed} %>
    <% end %>
  </div>
  <div id='all_feed_paging'>
    <% if @all_feeds.last != @last_all_feeds %>
      <%= link_to(raw("<button class='action_gray'>Load More</button>"), '', id: 'all_feeds_paging_link', 'data-next-page' => @all_feeds_page + 1, 'data-person-id' => @person.id) %>
    <% end %>
  </div>
<% end %>