$.toggleLoader('profile_label_header','')
$('#labels_save').attr('data-current-label-ids',"<%= params[:ids] %>")
$('#profile_label_box').html("")
<% if @labels.present? %>
  <% @labels.each do |label| %>
    $('#profile_label_box').append("<div class='profile_label'><%= label.name %></div>")
  <% end %>
<% else %>
  $('#profile_label_box').append("<div class='no_labels'>No labels assigned.</div>")
<% end %>