<div class="subheader row pivot_theme" ng-show="$ctrl.pages.pageCount > 1">
    <div class="column normal-column">
        <label>
          {{'general.show' | t}}
          <select ng-options="pageSize for pageSize in $ctrl.pages.pageSizeOptions" ng-model="$ctrl.pages.pageSize">
          </select>
        </label>
    </div>
    <div class="column normal-column">
        <div class="row">
            <div class="column nav-item" ng-class="{ unavailable: $ctrl.pages.isFirstPage() }"
                 ng-click="$ctrl.pages.gotoPage(0)">
                <<
            </div>
            <div class="column nav-item" ng-class="{ unavailable: $ctrl.pages.isFirstPage() }"
                 ng-click="$ctrl.pages.gotoPage($ctrl.pages.page - 1)">
                <
            </div>
            <div class="column nav-item" ng-class="{ unavailable: $ctrl.pages.isFirstPage() }"
                 ng-click="$ctrl.pages.gotoPage($ctrl.pages.page - 1)">
                {{$ctrl.pages.page}}
            </div>
            <div class="column nav-item active-page">
                {{$ctrl.pages.page + 1}}
            </div>
            <div class="column nav-item" ng-class="{ unavailable: $ctrl.pages.isLastPage() }"
                 ng-click="$ctrl.pages.gotoPage($ctrl.pages.page + 1)">
                {{$ctrl.pages.page + 2}}
            </div>
            <div class="column nav-item" ng-class="{ unavailable: $ctrl.pages.isLastPage() }"
                 ng-click="$ctrl.pages.gotoPage($ctrl.pages.page + 1)">
                >
            </div>
            <div class="column nav-item" ng-class="{ unavailable: $ctrl.pages.isLastPage() }"
                 ng-click="$ctrl.pages.gotoPage($ctrl.pages.pageCount - 1)">
                >>
            </div>
        </div>
    </div>
</div>
