<p>
An error occurred while importing <%= @organization.name %> to MissionHub. Please try your import again. 
If the error continues, please send an email to support@missionhub.com and let us know which conference you are trying to import.
</p>
<p>
Thanks,<br />
MissionHub Support
</p>

