@import '../../../../stylesheets/variables/colors';

survey-header {
    .white {
        color: #ffffff;
    }

    .header {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .survey-title {
        display: flex;
        align-items: center;
        padding: 18px 10px;
        color: $pivot-bright-blue;
        font-size: 2em;
    }
}
