<div class="dashboard-subnav">
    <div class="inner">
        <organization-breadcrumbs></organization-breadcrumbs>
    </div>
</div>

<div class="header">
    <div class="flex space-between">
        <div class="survey-title">
            <a ui-sref="app.ministries.ministry.surveys({ surveyId: survey.id })">
                <img class="db mr1" ng-src="{{$ctrl.chevronLeftIcon}}"/>
            </a>
            {{$ctrl.survey.title}}
        </div>
        <div class="flex-auto flex justify-end items-start pr3 pt3">
            <a ng-href="/survey_responses/new?preview=true&survey_id={{$ctrl.survey.id}}"
               target="_blank"
               class="f6 link ba ph4 pv3 white bold br2 dim ttu tracked"
               ng-if="$ctrl.previewBtn">
                Preview
            </a>
        </div>
    </div>
    <ng-transclude></ng-transclude>
</div>
