<div class="column icon-column flush-column">
    <ng-md-icon class="icon-chip" icon="survey" size="20"></ng-md-icon>
</div>
<div class="column normal-column">
    <div class="subtitle">
        <span am-time-ago="$ctrl.answerSheet.completed_at"></span>
    </div>
    <div class="title">{{$ctrl.answerSheet.survey.title}}</div>
    <div class="qa-pair" ng-repeat="answer in $ctrl.answerSheet.answers">
        <div class="question">{{answer.question.label}}</div>
        <div class="answer">{{answer.value}}</div>
    </div>
</div>
<div class="column actions-column flush-column">
    <a ng-href="/survey_responses/{{$ctrl.answerSheet.person.id}}/edit?jump_to_hash=s_{{$ctrl.answerSheet.survey.id}}&organization_id={{$ctrl.organizationId}}">
        <ng-md-icon icon="edit" size="16"></ng-md-icon>
    </a>
</div>
