<div class="modal-header">
    <h3 class="modal-title">{{ 'beta.goodbye.title' | t }}</h3>
</div>
<div class="modal-body form">
    <p>{{ 'beta.goodbye.message' | t }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary white" style='margin-right:0;border-radius:0;border-right:solid 1px #004358' type="button" ng-click="$ctrl.dismiss()" ng-disabled="$ctrl.sending">
        <span ng-hide="$ctrl.sending">{{ 'beta.goodbye.no_thanks' | t }}</span>
    </button>
    <button class="btn btn-primary" style='margin-right:0;border-radius:0; ' type="button" ng-click="$ctrl.accept()" ng-disabled="$ctrl.sending">
        <span ng-hide="$ctrl.sending">{{ 'beta.goodbye.accept' | t }}</span>
        <loading-spinner ng-if="$ctrl.sending" class="loading" size="16"></loading-spinner>
    </button>
</div>
