<div class="my-people-dashboard">
    <h1 ng-show="$ctrl.loading" ng-click="$ctrl.retry">
        {{ 'dashboard.loading_contacts' | t }}
    </h1>
    <div
        ng-if="$ctrl.noPeople"
        class="no-people-message ng-cloak flex flex-column items-center"
    >
        <h1>{{ $ctrl.noPeopleWelcome }}</h1>
        <span class="measure-wide">
            <span>{{ 'dashboard.no_contacts_help.part1' | t }}</span>
            <ng-md-icon icon="addPerson"></ng-md-icon>
            <span>{{ 'dashboard.no_contacts_help.part2' | t }}</span>
        </span>
    </div>

    <div
        ng-sortable="$ctrl.sortableOptions"
        class="overflow-auto overflow-visible-l w-100"
    >
        <organization
            ng-repeat="org in $ctrl.organizations track by org.id"
            ng-if="org.visible || $ctrl.editMode"
            org="org"
            edit-mode="$ctrl.editMode"
            collapsible="$ctrl.collapsible"
            options="{ anonymousInteractions: true, reorderable: true }"
        >
            <div class="people-list grid" ng-if="!$ctrl.editMode">
                <div class="grid-content grid-fixed">
                    <people-view-person
                        class="pl2"
                        person="person"
                        organization-id="org.id"
                        ng-repeat="person in org.people | orderBy: 'last_name' track by person.id"
                    >
                    </people-view-person>
                </div>
            </div>
        </organization>
    </div>
    <div class="no-people-extras dn db-l">
        <a href ng-click="$ctrl.editMode = true" class="mt2 edit-mode db">
            <span>{{ 'dashboard.edit_org_order_help.part1' | t }}</span>
            <ng-md-icon icon="editOrder"></ng-md-icon>
            <span>{{ 'dashboard.edit_org_order_help.part2' | t }}</span>
        </a>
    </div>
    <div
        class="w-100 h-100 fixed bg-black-80 top-0 right-0 bottom-0 right-0 flex justify-center items-center"
        ng-if="$ctrl.showSuggestLandscape()"
        ng-click="$ctrl.dismissSuggestLandscape()"
    >
        <div class="flex flex-column items-center tc">
            <ng-md-icon
                icon="screen_rotation"
                size="80"
                class="pa4"
                style="fill: white"
            ></ng-md-icon>
            <span class="f3 white">
                {{ 'dashboard.suggestLandscape.suggestion' | t }}
            </span>
            <span class="f6 pivot-gray-8">
                {{ 'dashboard.suggestLandscape.dismiss' | t }}
            </span>
        </div>
    </div>
    <div
        class="w-100 h-100 fixed bg-black-50 top-0 right-0 bottom-0 right-0 flex justify-center items-center"
        ng-if="$ctrl.showIosAddToHomeScreen()"
    >
        <div
            class="max-width-300-px flex flex-column items-center tc bg-white br4 source-sans pivot-gray-darker"
        >
            <ng-md-icon
                icon="close"
                size="32"
                class="self-end pt3 pr3"
                ng-click="$ctrl.dismissIosAddToHomeScreen()"
                on-click-away="$ctrl.dismissIosAddToHomeScreen()"
            ></ng-md-icon>
            <img src="{{$ctrl.favicon}}" class="mw4" />
            <span class="f3 pt3 pivot-gray-1">
                {{ 'dashboard.suggestIosAddToHomeScreen.title' | t }}
            </span>
            <span class="f5 pt2 mh4 mb4">
                {{ 'dashboard.suggestIosAddToHomeScreen.description' | t }}
            </span>
            <div class="f5 bg-pivot-gray-4 w-100 br4 br--bottom pa3">
                <span>
                    {{ 'dashboard.suggestIosAddToHomeScreen.actionPart1' | t }}
                </span>
                <img src="{{$ctrl.iosShare}}" class="ph1" />
                <span>
                    {{ 'dashboard.suggestIosAddToHomeScreen.actionPart2' | t }}
                </span>
            </div>
        </div>
    </div>
</div>
