<div class="my-people-dashboard">
    <h1 ng-show="$ctrl.loading" ng-click="$ctrl.retry">
        {{ 'dashboard.loading_contacts' | t }}
    </h1>
    <div
        ng-if="$ctrl.noPeople"
        class="no-people-message ng-cloak flex flex-column items-center"
    >
        <h1>{{ $ctrl.noPeopleWelcome }}</h1>
        <span class="measure-wide">
            <span>{{ 'dashboard.no_contacts_help.part1' | t }}</span>
            <ng-md-icon icon="addPerson"></ng-md-icon>
            <span>{{ 'dashboard.no_contacts_help.part2' | t }}</span>
        </span>
    </div>

    <div
        ng-sortable="$ctrl.sortableOptions"
        class="overflow-auto overflow-visible-l w-100"
    >
        <organization
            ng-repeat="org in $ctrl.organizations track by org.id"
            ng-if="org.visible || $ctrl.editMode"
            org="org"
            edit-mode="$ctrl.editMode"
            collapsible="$ctrl.collapsible"
            options="{ anonymousInteractions: true, reorderable: true }"
        >
            <div class="people-list grid" ng-if="!$ctrl.editMode">
                <div class="grid-content grid-fixed">
                    <people-view-person
                        class="pl2"
                        person="person"
                        organization-id="org.id"
                        ng-repeat="person in org.people | orderBy: 'last_name' track by person.id"
                    >
                    </people-view-person>
                </div>
            </div>
        </organization>
    </div>
    <div class="no-people-extras dn db-l">
        <a href ng-click="$ctrl.editMode = true" class="mt2 edit-mode db">
            <span>{{ 'dashboard.edit_org_order_help.part1' | t }}</span>
            <ng-md-icon icon="editOrder"></ng-md-icon>
            <span>{{ 'dashboard.edit_org_order_help.part2' | t }}</span>
        </a>
    </div>
</div>
