@import '../../../../stylesheets/variables/colors';

.my-people-dashboard {
    .no-people-message {
        margin-top: 24px;
        margin-bottom: 36px;
        text-align: center;

        h1 {
            font-size: 38px;
            line-height: 38px;
            margin: 8px;
            font-weight: bold;
            color: $gray-1-25;
        }

        span {
            font-size: 16px;
            margin-top: 10px;
            ng-md-icon {
                display: inline-block;
                line-height: 12px;
                position: relative;
                margin-left: 2px;
            }
            svg {
                fill: $pivot-dark-blue;
            }
        }
    }
    .no-people-extras {
        text-align: center;

        .show-more {
            color: $white;
            display: inline-block;
            line-height: 44px;
            padding: 0 60px;
            margin-bottom: 8px;
        }
        .edit-mode {
            line-height: 25px;
            svg {
                position: relative;
                margin-left: 3px;
                fill: $pivot-dark-blue;
            }
        }
    }

    organization {
        margin-bottom: 20px;
    }

    people-view-person > .person-info > .name {
        width: 290px;
    }
}
