<div ng-if="!$ctrl.actionsVisible" class="flex">
    <a
        ng-href="{{$ctrl.phone ? 'tel:' + $ctrl.phone : ''}}"
        ng-attr-title="{{ 'contactActions:call' | t }}"
    >
        <icon-button icon="'phone'" disabled="!$ctrl.phone"></icon-button>
    </a>

    <a
        ng-href="{{$ctrl.phone ? 'sms:' + $ctrl.phone : ''}}"
        ng-attr-title="{{ 'contactActions:text' | t }}"
    >
        <icon-button icon="'textsms'" disabled="!$ctrl.phone"></icon-button>
    </a>

    <a
        ng-href="{{$ctrl.email ? 'mailto:' + $ctrl.email : ''}}"
        ng-attr-title="{{ 'contactActions:email' | t }}"
    >
        <icon-button icon="'email'" disabled="!$ctrl.email"></icon-button>
    </a>

    <a
        href=""
        ng-click="($ctrl.phone || $ctrl.email) && $ctrl.toggleActions()"
        ng-attr-title="{{ 'contactActions:copy' | t }}"
    >
        <icon-button
            icon="'content_copy'"
            disabled="!$ctrl.phone && $ctrl.email"
        ></icon-button>
    </a>
</div>

<div ng-if="$ctrl.actionsVisible" class="flex items-center">
    <div>
        <div class="flex mv1px" ng-if="$ctrl.phone">
            <input
                aria-label="Phone Number"
                readonly
                class="w-100 f7 pa1 bw1px b--pivot-dark-blue"
                ng-value="$ctrl.phone | phone"
            />
            <button
                ng-click="$ctrl.copyText($ctrl.phone | phone)"
                class="mh-100 pa2px bw1px b--pivot-dark-blue bg-pivot-dark-blue"
                ng-attr-title="{{ 'contactActions:copyPhone' | t }}"
            >
                <ng-md-icon
                    icon="content_copy"
                    size="12"
                    class="fill-pivot-white"
                ></ng-md-icon>
            </button>
        </div>
        <div class="flex mv1px" ng-if="$ctrl.email">
            <input
                aria-label="Email"
                readonly
                class="w-100 f7 pa1 bw1px b--pivot-dark-blue"
                ng-value="$ctrl.email"
            />
            <button
                ng-click="$ctrl.copyText($ctrl.email)"
                class="mh-100 pa2px bw1px b--pivot-dark-blue bg-pivot-dark-blue"
                ng-attr-title="{{ 'contactActions:copyEmail' | t }}"
            >
                <ng-md-icon
                    icon="content_copy"
                    size="12"
                    class="fill-pivot-white"
                ></ng-md-icon>
            </button>
        </div>
    </div>
    <div>
        <a href="" ng-click="$ctrl.toggleActions()">
            <icon-button icon="'close'" class="w-auto h-auto"></icon-button>
        </a>
    </div>
</div>
