@import '../../../../stylesheets/variables/colors';

contact-actions {
    .bw1px {
        border-width: 1px;
    }
    .mv1px {
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .pa2px {
        padding: 2px;
    }
}
