<div class="accordion accordion-nested"
     ng-class="{
        'accordion-expanded': $ctrl.orgExpanded[subOrg.id],
        'bg-pivot-gray-5 br2 pl-4': $ctrl.isRoot
     }"
     ng-repeat="subOrg in $ctrl.subOrgs track by $index">
    <h2 class="accordion-header normal pivot-gray-darker mt3 pa3 pr4 f5 flex justify-between br2 bb-pivot-background-gray"
        ng-click="$ctrl.orgExpanded[subOrg.id] = !$ctrl.orgExpanded[subOrg.id]">
        <span>{{subOrg.name}}</span>
        <span class="button-wrapper">
            <a class="ml3"
               href="" ng-click="$ctrl.editSubOrg($event, subOrg.id)">
                <img ng-src="{{$ctrl.editIcon}}" alt="Edit" style="width:20px; height:20px;">
            </a>

            <a class="ml3" href="" ng-if="!$ctrl.isRoot"
               ng-click="$ctrl.deleteSubOrg($event, subOrg)">
                <img ng-src="{{$ctrl.trashIcon}}" alt="Delete" style="width:20px; height:20px;">
            </a>

            <a class="ml3" href="" ng-click="$ctrl.newSubOrg($event, subOrg.id)">
                <img ng-src="{{$ctrl.addIcon}}" alt="Add" style="width:20px; height:20px;">
            </a>
        </span>
    </h2>
    <org-management-edit
        org="subOrg"
        new="true"
        edit-complete="$ctrl.editComplete(orgId, refresh)"
        ng-if="$ctrl.newExpanded[subOrg.id]"></org-management-edit>

    <org-management-edit
        org="subOrg"
        edit-complete="$ctrl.editComplete(orgId)"
        ng-if="$ctrl.editExpanded[subOrg.id]"></org-management-edit>

    <org-management-sub-org
        org="subOrg"
        ng-if="$ctrl.orgExpanded[subOrg.id]"></org-management-sub-org>
</div>


<div class="accordion accordion-nested" ng-if="$ctrl.subOrgs && !$ctrl.subOrgs.length">
    <h2 class="mt3 pa3 pr4 f5 flex justify-between br2">
        {{'common:organizations.none_found' | t}}
    </h2>
</div>
