<div class="header flex justify-between">
    <div class="self-end">
        <div class="survey-title pv3 ph2">
            <a ui-sref="app.ministries.ministry.surveys({ surveyId: survey.id })">
                <img class="db mr1" ng-src="{{$ctrl.chevronLeftIcon}}"/>
            </a>
            {{$ctrl.survey.title}}
        </div>
    </div>

    <div class="tabs">
        <div class="tab" ng-repeat="tab in $ctrl.tabNames" ng-class="{'active': $ctrl.activeTab === tab.id}"
             ng-click="$ctrl.activeTab = tab.id">
            <span>{{tab.name | t}}</span>
        </div>
    </div>
    <a ui-sref="appWithoutMenus.previewSurvey({ surveyId: $ctrl.survey.id })"
       target="_blank"
       class="self-center f6 link ba ph4 pv3 mr4 white bold br2 dim ttu tracked">
        {{ 'surveys:preview' | t }}
    </a>
</div>

<survey-overview-settings survey="$ctrl.survey" ng-if="$ctrl.activeTab === 'settings'"></survey-overview-settings>
<survey-overview-keyword survey="$ctrl.survey" ng-if="$ctrl.activeTab === 'keyword'"></survey-overview-keyword>
<survey-overview-questions survey="$ctrl.survey" ng-if="$ctrl.activeTab === 'questions'"></survey-overview-questions>
