<div class="sub-navigation flex bg-white">
    <div class="main-container flex items-center">
        <organization-breadcrumbs></organization-breadcrumbs>
        <report-period></report-period>
        <a ng-click="$ctrl.editOrganizations = !$ctrl.editOrganizations"
           ng-if="$ctrl.$state.current.name === 'app.ministries.root'"
           analytics-on="click" analytics-category="Dashboard" analytics-event="Edit Organization Order"
           class="dashboard-edit-toggle tipitmiddle"
           ng-class="{'active': $ctrl.editOrganizations}"
           href="" title="{{ 'dashboard.edit_org_order' | t }}">
            <ng-md-icon icon="editOrder"></ng-md-icon>
        </a>
    </div>
</div>

<div class="suborganizations" ng-class="{ 'root-orgs': ('app.ministries.root' | isState) }">
    <ui-view></ui-view>
</div>
