<div class="sub-navigation flex bg-white ">
    <div class="main-container flex items-center justify-between">
        <organization-breadcrumbs></organization-breadcrumbs>

        <a href
           class="dashboard-edit-toggle tipitmiddle order-2 tr"
           ng-click="$ctrl.editOrganizations = !$ctrl.editOrganizations"
           ng-if="$ctrl.$state.current.name === 'app.ministries.root'"
           analytics-on="click" analytics-category="Dashboard" analytics-event="Edit Organization Order"
           ng-class="{'active': $ctrl.editOrganizations}"
           title="{{ 'dashboard.edit_org_order' | t }}">
            <ng-md-icon class='fill-pivot-dark-blue' icon="editOrder"></ng-md-icon>
        </a>
    </div>
</div>

<div class="suborganizations" ng-class="{ 'root-orgs': ('app.ministries.root' | isState) }">
    <ui-view></ui-view>
</div>
