@import '../../../../stylesheets/variables/colors';
@import '../ministryViewGroup/ministryViewGroup';

organization-overview-surveys {
    background: $white;
    .typeform-info {
        ng-md-icon svg {
            fill: #16c0e4;
        }
    }

    .buttons-column .dropdown-toggle::after {
        display: none;
    }

    .dropdown-item {
        padding: 1rem 1.5rem;
    }

    icon-button {
        width: auto;
        height: auto;
    }

    ng-md-icon.status-active svg {
        fill: #00d264;
    }
    ng-md-icon.status-inactive svg {
        fill: #c6c4c6;
    }

    @mixin surveys-table($column-count) {
        display: grid;
        // Big name column, small last column and autosized middle ones
        grid-template-columns: 4fr repeat($column-count - 2, auto) 0.5fr;
        grid-template-rows: auto;

        > * {
            padding: 14px 18px;
            display: flex;
            align-items: center;
            background: $white;
        }

        // First row
        > *:nth-child(-n + #{$column-count}) {
            color: $gray-darker;
        }

        // Row striping
        @for $i from 1 to $column-count + 1 {
            > *:nth-child(#{$column-count*2}n + #{$column-count + $i}) {
                background: $gray-4;
            }
        }

        // Right column
        > *:nth-child(#{$column-count}n + #{$column-count}) {
            justify-content: flex-end;
        }
    }

    .surveys-table {
        @include surveys-table(5);
    }
    .surveys-table-with-typeform {
        @include surveys-table(6);
    }
}
