@import '../../../../stylesheets/variables/colors';
@import '../ministryViewGroup/ministryViewGroup';

organization-overview-surveys {
    .header {
        display: grid;
        grid-template-columns: 4fr 2fr 2fr 1fr auto auto;

        ng-md-icon svg {
            fill: $gray-darker;
        }
    }

    .row {
        @extend ministry-view-group;
        display: grid !important;
        grid-template-columns: 4fr 2fr 2fr 1fr auto auto;

        .buttons-column {
            width: 70px;
        }
        .column-typeform {
            width: 105px;
            text-align: center;
            icon-button {
                display: inline;
                margin: 0;
                ng-md-icon svg {
                    fill: #16c0e4;
                }
            }
        }
    }

    .buttons-column .dropdown-toggle::after {
        display: none;
    }

    .dropdown-item {
        padding: 1rem 1.5rem;
    }

    ng-md-icon.status-active svg {
        fill: #00d264;
    }
    ng-md-icon.status-inactive svg {
        fill: #c6c4c6;
    }

    .show-typeform-modal {
        display: block;
        text-align: center;
        padding: 20px 0;
    }
}
