@import "../../../../stylesheets/colors";

accordion {
  display: block;

  accordion-header {
    display: block;
  }

  & > .uncollapsible accordion-toggle {
    visibility: hidden;
  }

  .accordionDisabled [ng-click] {
    color: $gray-1-5;
    cursor: not-allowed;
  }
}
