@import '../../assets/stylesheets/variables/colors';

nav-search {
    input.search-autocomplete-field {
        &,
        &:focus {
            border-radius: 9999px;
            border: 1px solid $gray-8;
            background-color: white;
        }
    }
    $lds-ripple-size: 32px;

    .lds-ripple {
        width: $lds-ripple-size;
        height: $lds-ripple-size;
        & div {
            position: absolute;
            border: 1px solid $pivot-dark-blue;
            border-radius: 50%;
            animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
            &:nth-child(2) {
                animation-delay: -0.5s;
            }
            @keyframes lds-ripple {
                0% {
                    top: ($lds-ripple-size) / 2;
                    left: ($lds-ripple-size) / 2;
                    width: 0;
                    height: 0;
                    opacity: 1;
                }
                100% {
                    top: 0;
                    left: 0;
                    width: $lds-ripple-size;
                    height: $lds-ripple-size;
                    opacity: 0;
                }
            }
        }
    }
}
