<h1>Contact Assignment Notification</h1>
<p>
  <%= "As the Admin of <b>#{@organization.name}</b> in <a href='https://www.missionhub.com' target='_blank'>MissionHub</a>, there are new assigned contacts to you. Please login to missionhub.com as soon as possible to followup the contacts. Below is the list of #{@contacts.count} new contact assignments:".html_safe %>
  <br/>
</p>
<p>
  <ul>
  <% @contacts.each do |contact| %>
    <li>
      <b><%= link_to contact.name, profile_path(contact) %></b>
    </li>
  <% end %>
  </ul>
</p>