@import '../../../../stylesheets/variables/colors';

assigned-alt-select .ui-select-bootstrap {
    ul.ui-select-choices-content {
        padding: 0;
        list-style: none;
    }

    .ui-select-match-item {
        height: initial;
        padding: 0 5px;
        background-color: $pivot-dark-blue !important;
        color: $white;
    }

    .ui-select-choices-row.active > span {
        background-color: $pivot-dark-blue;
    }

    .ui-select-choices-row:hover {
        background-color: $gray-5;
    }

    input:disabled {
        cursor: not-allowed;
    }
}
