@import '../../../../stylesheets/variables/colors';

assigned-alt-select .ui-select-bootstrap {
    ul.ui-select-choices-content {
        padding: 0;
        list-style: none;
    }

    .ui-select-match-item {
        height: initial;
        padding: 0 5px;
        background-color: $pivot-dark-blue !important;
        color: $white;
    }

    .ui-select-choices-row.active > span {
        background-color: $pivot-dark-blue;
    }

    .ui-select-choices-row:hover {
        background-color: $gray-5;
    }

    .ui-select-choices-row > span {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .ui-select-choices-row > span .selector-label {
        padding: 0 8px;
        border: solid 1px $gray-2;
        border-radius: 0.25rem 0.5rem;
    }

    .ui-select-choices-row.active > span .selector-label {
        padding: 0 8px;
        border: solid 1px $white;
        border-radius: 0.25rem 0.5rem;
    }

    input:disabled {
        cursor: not-allowed;
    }
}
