<ui-select
    expose-select
    multiple
    ng-model="$ctrl.assigned"
    close-on-select="false"
    ng-disabled="$ctrl.disabled"
>
    <ui-select-match
        placeholder="{{ 'application.assign_search.assign_label' | t }}"
    >
        <span>
            {{ $item | personName }}
        </span>
    </ui-select-match>
    <ui-select-choices repeat="person in $ctrl.labels track by person.id">
        <span>
            {{ person | personName }}
        </span>
    </ui-select-choices>
</ui-select>
