<div class="modal-header">
    <h4 class="modal-subtitle">{{ 'people.index.labels' | t }}</h4>
    <h3 class="modal-title" id="modal-title">
        {{ 'people.show.apply_labels' | t : { name: $ctrl.resolve.person.first_name } }}
    </h3>
</div>
<div class="modal-body form" id="modal-body">
    <div ng-repeat="label in $ctrl.labelOptions" class="label-option">
        <span class="pill actionable" ng-class="{selected: $ctrl.selectedLabels[label.id]}"
            ng-click="$ctrl.selectedLabels[label.id] = !$ctrl.selectedLabels[label.id]">
            {{ label.name }}
            <ng-md-icon icon="close" size="14" ng-if="$ctrl.selectedLabels[label.id]"></ng-md-icon>
        </span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.save()"
            ng-disabled="$ctrl.saving">
        <span ng-hide="$ctrl.saving">OK</span>
        <loading-spinner ng-if="$ctrl.saving" class="loading" size="16"></loading-spinner>
    </button>
</div>
