<% provide :sidebar do %>
  <div id="ac_sidebar">
    <div id="upper_sidebar_lists">
      <%= link_to raw("<button class='red_accent full_width_button'>#{t('groups.index.add_a_group')}</button>"), new_group_path %>
    </div>
  	<div class="leftmenu">
      <ul class="ac_dropdown_list">
      	<li class="ac_dropdown_list_header">
          <%= link_to(t('groups.see_all'), groups_path) %>&nbsp;(<%= current_organization.groups.count %>)
        </li>
      </ul>
    </div>
  </div>
<% end %>
