<div class="titlebar">
  <h1><%= t('.group_list') %></h1>
</div>

<div class="pagemenu">
  <ul class="pillmenu">
    <li>     
      <%= link_to(t('.add_group'), new_group_path) %>
    </li>
  </ul>
</div>