<%= render partial: 'groups/group_sidebar'%>

<div class="titlebar titlebarmod"><h1><%= t('.new_group') %></h1></div>

<!-- Add Group Form -->
<%= render 'form' %>

<!-- Group Label Dialog -->
<%= render 'dialogs/add_group_label'%>