nav-search {
  .w-18-rem {
    width: 18rem;
  }
  .mxhi-20-rem {
    max-height: 20rem;
  }
}

#menu_search {
  .search-autocomplete-field {
    margin-right: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0 solid white;
    color: white;
    width: 30px;
    font-size: 0;
    background: url('/images/icons/search.svg') 5px 0 no-repeat;
    height: 24px;
    box-sizing: border-box;
    &.ui-autocomplete-loading {
      background-color: transparent !important;
    }
    &:focus {
      border-width: 0 0 1px;
      background: none;
      font-size: 12px;
      width: 290px;
      outline: none;
    }
  }
}
