<tr id="pre_<%= dom_id(question) %>">
  <td><%= question.label %></td>
  <td><%= link_to('use', sms_keyword_questions_path(question_id: question), method: :post, remote: true, class: 'use_question') %></td>
</tr>