<tr id="question-<%= dom_id(question) %>">
  <td class="questiontitle"><%= question.label %></td>
  <td><%= link_to('edit', edit_sms_keyword_question_path(@keyword, question), remote: true, class: 'edit_question icon edit') unless @predefined.questions.include?(question) %></td>
  <td><%= link_to('remove', sms_keyword_question_path(@keyword, question), method: :delete, confirm: "Are you sure you want to remove '#{question.label}'?",
                                                                 remote: true, class: 'remove_question icon delete') %></td>
</tr>