<div class="label_item" id="label_#{role_id}">
  <% disabled ||= false %>
  <% checked ||= false %>
  <%= check_box_tag "labels[]", role_id, checked, id: "label_box_#{role_id}", disabled: disabled, class: "#{'default' if disabled}" %>
  <%= role_name %>
</div>