<% block_admin_label = false unless defined?(block_admin_label) %>
<div class="label_space">
  <div class="label_list">
    <%= render partial: 'shared/label', locals: {permission_id: 0, permission_name: @import.label_name, checked: true} if @import.present? %>
    <% current_organization.permission_set.each do |permission| %>
      <% if permission.name == 'Contact' %>
        <% checked = true %>
        <% disabled = true %>
      <% elsif permission.name == 'Leader' || permission.name == 'Admin' %>
        <% checked = false %>
        <% disabled = block_admin_label %>
      <% else %>
        <% checked = false %>
        <% disabled = false %>
      <% end %>
      
      <% checked = true if @selected_labels.present? && @selected_labels.include?(permission.id.to_s) %>
      
      <%= render partial: 'shared/label', locals: {permission_id: permission.id, permission_name: permission.name, checked: checked, disabled: disabled} %>
    <% end %>
  </div>
  <div class="label_new">
    <%= text_field_tag 'new_label_field', '', placeholder: t('contacts.index.import_new_label') %>
    <%= button_tag 'Add Label', :id => 'new_label_button' %>
    <br/>
    <div id="new_label_message">
    </div>
  </div>
</div>
<br/>
<br/>
<br/>