<% block_admin_label = false unless defined?(block_admin_label) %>
<div class="label_space">
  <div class="label_list">
    <%= render partial: 'shared/label', locals: {role_id: 0, role_name: @import.label_name, checked: true} if @import.present? %>
    <% current_organization.role_set.each do |role| %>
      <% if role.name == 'Contact' %>
        <% checked = true %>
        <% disabled = true %>
      <% elsif role.name == 'Leader' || role.name == 'Admin' %>
        <% checked = false %>
        <% disabled = block_admin_label %>
      <% else %>
        <% checked = false %>
        <% disabled = false %>
      <% end %>
      
      <% checked = true if @selected_labels.present? && @selected_labels.include?(role.id.to_s) %>
      
      <%= render partial: 'shared/label', locals: {role_id: role.id, role_name: role.name, checked: checked, disabled: disabled} %>
    <% end %>
  </div>
  <div class="label_new">
    <%= text_field_tag 'new_label_field', '', placeholder: t('contacts.index.import_new_label') %>
    <%= button_tag 'Add Label', :id => 'new_label_button' %>
    <br/>
    <div id="new_label_message">
    </div>
  </div>
</div>
<br/>
<br/>
<br/>