<%- wiser_date_global(timezone: current_user.settings[:time_zone]) if current_user.present? %>
<div class="<%= params[:action] %> carea">
  <% if flash && (flash[:error] || flash[:notice] || flash[:alert]) %>
    <div class="flash">
      <% if flash[:error].present? || flash[:alert].present? %>
        <div class="flash_message error">
          <p><%= flash[:error] || flash[:alert] %></p>
        </div>
      <% end %>

      <% if flash[:notice].present? %>
        <div class="flash_message notice">
          <p><%= flash[:notice] %></p>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= yield %>
</div>