<div id="labels_dialog">
  <div class='title'>Labels for <%= @person %></div>
  <%= form_tag update_all_organizational_labels_path(id: @person.id), remote: true do %>
    <div class="labels_list">
      <% @labels_for_assign.each do |label| %>
        <%= render partial: 'shared/label', locals: {label_id: label.id, label_name: label, checked: @labels.include?(label) }%>
      <% end %>
    </div>
    <div class='actions'>
      <%= submit_tag 'Apply', onclick: "$('#labels_dialog').dialog('close')" %>
    </div>
  <% end %>
</div>


