<div id="labels_dialog">
  <div class='title'>Labels for <%= @person %></div>
  <%= form_tag update_all_organizational_permissions_path(id: @person.id), remote: true do %>
    <div class="labels_list">
      <% @permissions_for_assign.each do |permission| %>
        <%= render partial: 'shared/label', locals: {permission_id: permission.id, permission_name: permission, checked: @permissions.include?(permission) }%>
      <% end %>
    </div>
    <div class='actions'>
      <%= submit_tag 'Apply', onclick: "$('#labels_dialog').dialog('close')" %>
    </div>
  <% end %>
</div>


