<p style="text-align:center;">To text or email, select the contacts you would like to communicate to by clicking the box next to their name or names. You can also email or text a search group by clicking on search, choosing your field and running the search. Then, click on all the contacts and click on "Send" and compose your email/text.</p>
<div id='send_message_guide_video' style="display:none">
  <iframe width="495" height="300" src="http://www.youtube.com/embed/none?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
