@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background: #f2f2f2;
    background-image: url(background-left.png), url(background-right.png);
    background-position: left 100px, right 120px;
    background-repeat: repeat-y, no-repeat;
    background-attachment: fixed, fixed;

    > header {
        height: 100%;
    }

    .sub-navigation {
        height: 48.5px;
        z-index: 50;
        box-shadow: 0 0 10px #808284;
        > .main-container {
            @media (max-width: 768px) {
                width: 100%;
                > .icons ng-md-icon {
                    display: none;
                }
            }
        }
    }

    .main-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;

        @media screen and (min-width: map-get($grid-breakpoints, md)) {
            max-width: 100%;
        }

        @media screen and (min-width: map-get($grid-breakpoints, lg)) {
            max-width: 976px;
        }
    }
}
