<footer role="global">
  <div class="copyright"><%= t('general.copyright', year: Time.now.year) %></div>
  <nav>
    <%= link_to(t('nav.terms'), '/terms') %>
    <%= link_to(t('nav.privacy'), '/privacy') %>
  </nav>
</footer>
