<footer role="global">
  <div class="copyright"><%= t('general.copyright', year: Time.now.year) %></div>
  <nav>
    <%= link_to(t('nav.terms'), terms_url) %>
  </nav>
</footer>

<%= render 'adobe_analytics_foot' %>

