<article class="block get_started">
  <header>
    <h1>Get Started</h1>
  </header>
  <div class="content">
    Ready to get started?
    <% if mhub? %>
      <%= link_to ' Sign in with your Facebook account', "/users/auth/facebook_mhub" %>
    <% else %>
      <%= link_to ' Sign in with your Facebook account', new_user_session_path %>
    <% end %>
  </div>
</article>

<article class="block question">
  <header>
    <h1>Have a question?</h1>
  </header>
  <div class="content">
    <ul>
      <li class="help">Our <%= link_to "Help section", "http://help.missionhub.com" %> has excellent videos for getting started!</li>

      <li class="contact">If you’d like to speak to a member of our team, <%= mail_to 'support@missionhub.com', 'send us an email' %>.</li>
    </ul>
  </div>
</article>

<article class="block facebook">
  <div class="content">
    <div class="fb-like-box" data-href="https://www.facebook.com/missionhub" data-width="200" data-height="369" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="false"></div>
  </div>
</article>