<div class="video_entry">
  <div class="preview"></div>
  <div class="title">The Avengers</div>
  <div class="youtube_video_id">tY9DnBNJFTI</div>
  <div class="description">The Avengers Description The Avengers Description The Avengers Description The Avengers Description The Avengers Description</div>
</div>


<div class="video_entry">
  <div class="preview"></div>
  <div class="title">Men In Black 3</div>
  <div class="youtube_video_id">w6l2worqdDU</div>
  <div class="description">Men In Black 3 Description Men In Black 3 Description Men In Black 3 Description Men In Black 3 Description Men In Black 3 Description </div>
</div>


<div class="video_entry">
  <div class="preview"></div>
  <div class="title">Amazing Spider-Man</div>
  <div class="youtube_video_id">FWP8TdXdFZg</div>
  <div class="description">Amazing Spider-Man Description Amazing Spider-Man Description Amazing Spider-Man Description Amazing Spider-Man Description Amazing Spider-Man Description</div>
</div>