<!-- First Video is the default video displayed -->
<div class="video_entry">
  <div class="preview"></div>
  <div class="title">MissionHub</div>
  <div class="youtube_video_id">hQXVuOZ7j2A</div>
  <div class="description">Here's a general idea of the many things you can do with MissionHub.</div>
</div>


<div class="video_entry">
  <div class="preview"></div>
  <div class="title">Getting Around</div>
  <div class="youtube_video_id">3qzfg-WS1WI</div>
  <div class="description">A short screencast to show the different sections in MissionHub. Check out the other screencasts for more details about each feature.</div>
</div>


<div class="video_entry">
  <div class="preview"></div>
  <div class="title">Setting Up Your Surveys</div>
  <div class="youtube_video_id">Nmya524FjGc</div>
  <div class="description">This video walks you through the process of setting up your custom survey in MissionHub. This is the second video in a set.</div>
</div>


<div class="video_entry">
  <div class="preview"></div>
  <div class="title">Manually Adding Contacts</div>
  <div class="youtube_video_id">7XiXbJHuttk</div>
  <div class="description">Learn how to manually add contacts to MissionHub.</div>
</div>


<div class="video_entry">
  <div class="preview"></div>
  <div class="title">Managing Your Contacts</div>
  <div class="youtube_video_id">cRMckxYkK_A</div>
  <div class="description">Learn how to manage your contacts to MissionHub.</div>
</div>


<div class="video_entry">
  <div class="preview"></div>
  <div class="title">Managing Your Groups</div>
  <div class="youtube_video_id">SWmWsExyFZE</div>
  <div class="description">Here's a short screencast about how to set up a group in MissionHub.</div>
</div>


<div class="video_entry">
  <div class="preview"></div>
  <div class="title">Sending Text And Email</div>
  <div class="youtube_video_id">y0prTAKSEoM</div>
  <div class="description">This screencasts walks you through how to use MissionHub to stay in touch with your contacts by text message and email.</div>
</div>


<div class="video_entry">
  <div class="preview"></div>
  <div class="title">Survey Mode On A Computer</div>
  <div class="youtube_video_id">-8IUS3LlfSs</div>
  <div class="description">Once you have a survey and keyword created you will want your contacts to take your survey. One way to do that is using the survey mode on a computer. Here's how easy that is.</div>
</div>