<!-- First Video is the default video displayed -->
<div class="video_entry">
  <div class="preview"></div>
  <div class="title">MissionHub</div>
  <div class="youtube_video_id">EAw6Cdk4mSU</div>
  <div class="description">Here's a general idea of the many things you can do with MissionHub.</div>
</div>


<div class="video_entry">
  <div class="preview"></div>
  <div class="title">Getting Started</div>
  <div class="youtube_video_id">U4piGgYxn-8</div>
  <div class="description">From the opening of the site, this screencast guides you through connecting to the website, signing in to your account and creating your first keyword.</div>
</div>


<div class="video_entry">
  <div class="preview"></div>
  <div class="title">Getting Around</div>
  <div class="youtube_video_id">3qzfg-WS1WI</div>
  <div class="description">A short screencast to show the different sections in MissionHub. Check out the other screencasts for more details about each feature.</div>
</div>


<div class="video_entry">
  <div class="preview"></div>
  <div class="title">Setting Up Your Surveys</div>
  <div class="youtube_video_id">Nmya524FjGc</div>
  <div class="description">This video walks you through the process of setting up your custom survey in MissionHub. This is the second video in a set.</div>
</div>


<div class="video_entry">
  <div class="preview"></div>
  <div class="title">Managing Your Contacts</div>
  <div class="youtube_video_id">cRMckxYkK_A</div>
  <div class="description">This video, the third in a series, shows you how to add leaders, assign contacts to leaders and generally manage your movement through MissionHub.</div>
</div>


<div class="video_entry">
  <div class="preview"></div>
  <div class="title">Managing Your Groups</div>
  <div class="youtube_video_id">SWmWsExyFZE</div>
  <div class="description">Here's a short screencast about how to set up a group in MissionHub.</div>
</div>