<h1><%= t("ma.welcome.index.title_top")%></h1>
<% if user_signed_in? %>
  <%= link_to(t("ma.welcome.index.go_home"), user_root_path) %>
<% else %>
  <%= link_to(t("ma.nav.login"), new_user_session_path) %><br/>
  <%= link_to(t("ma.welcome.index.request_key"), new_sms_keyword_path) %>
<% end %><br/>
