<div id="squarewrap">

  <h1 class="aright headlinetext">
  	Never lose<br />
  	a contact again
  </h1>
  <h4 class="aright subheadlinetext">
  	We&#39;re here to make it easier<br />
  	for you to care for the people<br />
  	who need you most.
  </h4>
  
  <div class="salespush">
    <% if mhub? %>
	  <%= link_to('Get Started', user_omniauth_authorize_path(:facebook_mhub), :class => "getstartedbt btn-danger") %>
	<% else %>
	  <%= link_to('Get Started', new_user_session_path, :class => "getstartedbt btn-danger") %>
	<% end %>
  </div>
</div>


