<% body_classes("welcome index") %>

<% content_for(:hero) do %>
  <h1>Never lose a contact again.</h1>

  <h4>We&#39;re here to make it easier for you to care for the people who need you most.</h4>

  <div class="call_to_action">
    <% if mhub? %>
  	  <%= link_to 'Get Started', "/users/auth/facebook_mhub" %>
  	<% else %>
  	  <%= link_to 'Get Started', branded? ? new_user_session_path : '/users/auth/key' %>
  	<% end %>
  </div>
<% end %>