<ul class="metal">
  <% title "Welcome!" %>
  <% if signed_in? %>
    <li class="info">
      You have already connected with us. Thanks!
    </li>
  <% else %>
    <li class="info">
      To save some typing, please log in with Facebook:
    </li>
    <li>
      <ul>
        <li class="info"><%= link_to(image_tag('fb-connect-large.png', style: 'width:90%'), user_omniauth_authorize_path(:facebook), rel: 'external') %></li>
      </ul>
    </li>
  <% end %>
</ul>