organization-overview-contact {
  display: block;
  background-color: $white;
  border-left: 1px solid $pivot-dark-blue;

  header {
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background: $gray-4;

    .tabs .tab {
      &, a {
        color: $pivot-dark-blue;
      }
      &.active {
        color: $pivot-dark-blue;
        border-bottom-color: $pivot-dark-blue;
      }
    }
  }

  round-button {
    margin-left: initial;
  }

  .close-button {
    float: right;
  }

  .name-row .warning {
    padding: 0 5px;
  }

  .name {
    font-size: 2em;
  }
}
