<a ui-sref="^" class="close-button">X</a>
<div class="row text-row">
    <span class="small-spacing name">{{$ctrl.contact.full_name}}</span>
    <span class="small-spacing warning" ng-if="$ctrl.orgPermission.followup_status === 'uncontacted'">
        {{'contacts.statuses.uncontacted' | t}}
    </span>
</div>
<div class="row">
    <a ng-href="mailto:{{$ctrl.primaryEmail.email}}" ng-if="$ctrl.primaryEmail">
        <round-button>
            <ng-md-icon icon="email"></ng-md-icon>
        </round-button>
    </a>
    <round-button class="disabled" ng-if="!$ctrl.primaryEmail">
        <ng-md-icon icon="email"></ng-md-icon>
    </round-button>

    <span ng-if="$ctrl.primaryPhone">{{$ctrl.primaryPhone.number | phone}}</span>
</div>
<form>
    <div class="input-group">
        <div class="input-label">{{'contact.followup_status' | t}}</div>
        <select ng-options="('followup_status.' + statusId | t) for statusId in $ctrl.followupStatusIds"
                ng-model="$ctrl.orgPermission.followup_status"
                ng-change="$ctrl.saveAttribute($ctrl.orgPermission, 'followup_status')"></select>
    </div>
    <div class="input-group">
        <div class="input-label">{{'contact.assigned_to' | t}}</div>
        <span>{{$ctrl.assignedTo.full_name}}</span>
    </div>
    <div class="input-group">
        <div class="input-label">{{'contact.cru_status' | t}}</div>
        <select ng-options="('cru_status.' + cruStatusId | t) for cruStatusId in $ctrl.cruStatusIds"
                ng-model="$ctrl.orgPermission.cru_status"
                ng-change="$ctrl.saveAttribute($ctrl.orgPermission, 'cru_status')"></select>
    </div>
    <div class="input-group">
        <div class="input-label">{{'contact.student_status' | t}}</div>
        <select ng-options="('student_status.' + enrollmentId | t) for enrollmentId in $ctrl.enrollmentIds"
                ng-model="$ctrl.contact.student_status"
                ng-change="$ctrl.saveAttribute($ctrl.contact, 'student_status')"></select>
    </div>
    <div class="input-group">
        <div class="input-label">{{'contact.first_name' | t}}</div>
        <input type="text" ng-model="$ctrl.contact.first_name" ng-model-options="{ updateOn: 'blur' }"
               ng-change="$ctrl.saveAttribute($ctrl.contact, 'first_name')">
    </div>
    <div class="input-group">
        <div class="input-label">{{'contact.last_name' | t}}</div>
        <input type="text" ng-model="$ctrl.contact.last_name" ng-model-options="{ updateOn: 'blur' }"
               ng-change="$ctrl.saveAttribute($ctrl.contact, 'last_name')">
    </div>
    <div class="input-group" ng-repeat="emailAddress in $ctrl.emailAddresses">
        <div class="input-label">{{'contact.email_address' | t}}</div>
        <input type="email" ng-model="emailAddress.email" ng-model-options="{ updateOn: 'blur' }"
               ng-change="$ctrl.saveAttribute(emailAddress, 'email')">
        <label>
            <input type="radio" name="primary-email" ng-model="$ctrl.primaryEmail" ng-value="emailAddress">
            {{'contact.primary_email' | t}}
        </label>
    </div>
    <div class="input-group" ng-repeat="phoneNumber in $ctrl.phoneNumbers">
        <div class="input-label">{{'contact.phone_number' | t}}</div>
        <input type="tel" ng-model="phoneNumber.number" ng-model-options="{ updateOn: 'blur' }"
               ng-change="$ctrl.saveAttribute(phoneNumber, 'number')">
        <label>
            <input type="radio" name="primary-phone" ng-model="$ctrl.primaryPhone" ng-value="phoneNumber">
            {{'contact.primary_phone' | t}}
        </label>
    </div>
</form>
