organization-overview-contact {
  display: block;
  background-color: $white;
  border-left: 1px solid $pivot-dark-blue;

  $inner-padding: 10%;

  header {
    padding: 10px $inner-padding;
    padding-bottom: 0;
    margin-bottom: 20px;
    background: $gray-4;

    .tabs .tab {
      &, a {
        color: $pivot-dark-blue;
      }
      &.active {
        color: $pivot-dark-blue;
        border-bottom-color: $pivot-dark-blue;
      }
    }
  }

  /* Duplicate a ui-select rule that is overwritten because its specificity is not high enough. */
  .form .ui-select-multiple.ui-select-bootstrap {
    height: auto;
    padding: 3px 3px 0 3px;
  }

  round-button {
    margin-left: initial;
  }

  .close-button {
    float: right;
  }

  .name-row .warning {
    padding: 0 5px;
  }

  header .name {
    font-size: 2em;
  }

  ui-view {
    display: block;
    padding: 0 $inner-padding;
  }
}
