<div id="goal_select_org">
  <%= select_tag "goal_organization", options_for_select(@movements) %>
</div>
<br/>

<div id="goal_select_category">
  <%= select_tag "goal_category", options_for_select(MovementIndicator.all) %>
</div>
<br/>

<div id="goal_box">
  <%= render :partial => "goal_sidebar_goal_box" %>
</div>