<h2>Personal Evangelism (Total)</h2>
<h3>Movement Two</h3>

<div id="goal_description">
  from 0 to 60 interactions<br/>
  Aug 15, 2013 to Nov 07, 2013
</div>
<br/>

<%= button_tag 'Edit Goal', class: 'large_red', id: 'edit_goal' %>