<% provide :sidebar do %>
  <%= render :partial => 'goal_sidebar'%>
<% end %>

<div class="titlebar titlebarmod">
  <h1>
    Goal Tracker
  </h1>
</div>

<%= javascript_include_tag 'highcharts' %>

<div id="goal_spinner">
  <br/>Updating Chart...&nbsp;<%= image_tag "spinner.gif" %>
</div>
<div id="goal_container"></div>

<div id="goal_chart">
  <%= render :partial => 'goal_js' %>
</div>
