<% provide :sidebar do %>
  <%= render :partial => 'snapshot_movements'%>
<% end %>

<div class="titlebar titlebarmod">
  <h1>
    Snapshot View
  </h1>
</div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<div id="snap_gospel_exp">
  <h2>GOSPEL EXPERIENCES</h2>
  <%= select_tag "gospel_exp_range", options_for_select(Chart.evang_range_options, @chart.snapshot_evang_range) %>
</div>
<div id="snap_laborers">
  <h2>LABORERS</h2>
  <%= select_tag "laborers_range", options_for_select(Chart.laborers_range_options, @chart.snapshot_laborers_range) %>
</div>
<div id="snap_container1"></div>
<div id="snap_container2"></div>
<div id="snap_container3"></div>
<div id="snap_numbers"></div>
<div id="snap_on_mission">
  <h2>FACULTY ON MISSION/<br/>GRADUATING ON MISSION</h2>
</div>

<div id="snap_chart">
  <%= render :partial => 'snapshot_js' %>
</div>
