<div class="titlebar titlebarmod">
  <h1>
    Trend Tracker (preview)
  </h1>
</div>

<%= javascript_include_tag 'highcharts' %>
<%= javascript_include_tag 'highcharts-more' %>

<%= image_tag 'trend_tracker_preview.png' %>