<%= form_for(@ministry) do |f| %>
  <% if @ministry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ministry.errors.count, "error") %> prohibited this ministry from being saved:</h2>

      <ul>
      <% @ministry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
