<h1>Listing ministries</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ministries.each do |ministry| %>
  <tr>
    <td><%= link_to 'Show', ministry %></td>
    <td><%= link_to 'Edit', edit_ministry_path(ministry) %></td>
    <td><%= link_to 'Destroy', ministry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ministry', new_ministry_path %>
