<div class="accordion" ng-sortable="$ctrl.questionSortableOptions">
    <form
        class="br2 pivot-gray-darker"
        ng-repeat="question in $ctrl.surveyQuestions track by question.id"
        ng-class="{
            'accordion-expanded  shadow-4': $ctrl.isExpanded[question.id]
        }"
        ng-init="questionIndex = $index"
    >
        <h2
            class="accordion-header sortable normal pivot-gray-darker mt3 bg-white f5 flex br2"
            ng-click="$ctrl.isExpanded[question.id] = !$ctrl.isExpanded[question.id]"
            ng-class="{
                'pa3 shadow-4': !$ctrl.isExpanded[question.id],
                'ph3 pv2 items-center mb0 br--top bg-pivot-white': $ctrl.isExpanded[question.id]
        }"
        >
            <a class="question-sort mr3" ng-if="$ctrl.directAdminPrivileges">
                <img
                    ng-src="{{ $ctrl.icons.sort }}"
                    alt="{{ 'surveys:questions.sort' | t }}"
                    style="width:22px; height:20px"
                />
            </a>
            <span class="ml3" ng-show="!$ctrl.isExpanded[question.id]">
                {{ question.label }}
                <span class="f7" ng-if="question.required"
                    >({{ 'common:general.required' | t }})</span
                >
            </span>
            <input
                type="text"
                class="pa2 input-reset cursor-text bg-white bw0 pivot-gray-darker w-83 ihshort br2"
                placeholder="{{ 'surveys:questions.labelPlaceholder' | t }}"
                ng-model="question.label"
                ng-click="$event.stopPropagation()"
                ng-change="$ctrl.updateQuestion(question)"
                ng-model-options="{ debounce: 750 }"
                ng-readonly="!$ctrl.directAdminPrivileges"
                ng-if="$ctrl.isExpanded[question.id]"
            />
            <a
                class="ml3"
                href=""
                ng-if="$ctrl.isExpanded[question.id] && $ctrl.directAdminPrivileges && !question.required"
                ng-click="$ctrl.deleteQuestion(question.id)"
            >
                <img
                    ng-src="{{ $ctrl.icons.trash }}"
                    alt="{{ 'general:delete' | t }}"
                />
            </a>
            <a
                class="ml3"
                href=""
                ng-if="$ctrl.isExpanded[question.id] && !question.predefined && $ctrl.directAdminPrivileges"
                ng-click="$ctrl.copyQuestion(question)"
            >
                <img ng-src="{{ $ctrl.icons.copy }}" alt="Copy" />
            </a>
            <span class="db open-close-arrow"></span>
        </h2>
        <div
            class="accordion-body br2 br-bottom bb b--pivot-gray-5 pv3 bg-pivot-white"
            ng-if="$ctrl.isExpanded[question.id] && !question.predefined"
        >
            <fieldset class="ba b--transparent ph0 mh0 w-91">
                <div class="flex justify-between mb3">
                    <div class="w-48">
                        <label
                            class="db f6 lh-copy b mb2 pivot-gray-darker ttu tracked"
                        >
                            {{ 'surveys:questions.type' | t }}
                        </label>
                        <div
                            class="dropdown dropdown-select w-100 mr2 form"
                            uib-dropdown
                        >
                            <a
                                class="f5 link form-control form-control-select"
                                href=""
                                uib-dropdown-toggle
                            >
                                {{ $ctrl.getQuestionType( question.kind,
                                question.style ).name }}
                            </a>
                            <ul
                                class="bg-white pa2 f5  br--bottom shadow-4"
                                uib-dropdown-menu
                            >
                                <li
                                    ng-repeat="type in $ctrl.questionTypes | filter:{canAdd: true} track by $index"
                                >
                                    <a
                                        href
                                        class="pt2"
                                        ng-click="question.kind = type.kind; question.style = type.style; $ctrl.updateQuestion(question);"
                                    >
                                        {{ type.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-48">
                        <label
                            class="db lh-copy f6 b mb2 pivot-gray-darker ttu tracked"
                        >
                            {{ 'surveys:questions.columnTitle' | t }}
                        </label>
                        <input
                            type="text"
                            class="bg-pivot-gray-5 input-reset w-100 ihshort"
                            ng-change="$ctrl.updateQuestion(question)"
                            ng-model-options="{ debounce: 750 }"
                            ng-model="question.column_title"
                            ng-readonly="!$ctrl.directAdminPrivileges"
                        />
                    </div>
                </div>
                <div
                    class="flex flex-column justify-between"
                    ng-if="question.kind === 'ChoiceField'"
                    ng-init="answerTab = 0"
                >
                    <!-- Answer to Initiate and Tabs container -->
                    <div class="w-100 flex justify-between">
                        <p
                            class=" w-52 db f6 lh-copy f6 normal mb1 pivot-gray-darker ttu fw6 tracked mv3"
                        >
                            {{ 'surveys:questions.initiateAssignment' | t }}
                        </p>
                        <div class="tabs flex justify-between w-48">
                            <div class="w-49 relative">
                                <a
                                    class="ttu b f6 bl br bt pv2 ph2 link pivot-gray-darker br2 br--top db bb b--gray-dark"
                                    href=""
                                    ng-click="answerTab = 0"
                                    ng-class="{'selected-tab': answerTab === 0}"
                                >
                                    {{ 'surveys:questions.autoAssign' | t }}
                                </a>
                                <a class="help fr p2 sm-help" href="">
                                    <img
                                        alt="{{ 'general:help' | t }}"
                                        ng-src="{{ $ctrl.icons.help }}"
                                    />
                                </a>
                            </div>
                            <div class="w-49 relative">
                                <a
                                    class="ttu b f6  bl br bt pv2 ph2 link pivot-gray-darker br2 br--top db bb b--gray-dark"
                                    href=""
                                    ng-click="answerTab = 2"
                                    ng-class="{'selected-tab' : answerTab === 2}"
                                >
                                    {{ 'surveys:questions.autoLabel' | t }}
                                </a>
                                <a class="help fr sm-help" href="">
                                    <img
                                        alt="{{ 'general:help' | t }}"
                                        ng-src="{{ $ctrl.icons.help }}"
                                    />
                                </a>
                            </div>
                            <div class="w-49 relative">
                                <a
                                    class="ttu b f6  bl br bt pv2 ph2 link pivot-gray-darker br2 br--top db bb b--gray-dark"
                                    href=""
                                    ng-click="answerTab = 1"
                                    ng-class="{'selected-tab' : answerTab === 1}"
                                >
                                    {{ 'surveys:questions.autoNotify' | t }}
                                </a>
                                <a class="help fr sm-help" href="">
                                    <img
                                        alt="{{ 'general:help' | t }}"
                                        ng-src="{{ $ctrl.icons.help }}"
                                    />
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Answers and options selections -->
                    <div class="questions-container">
                        <!-- Auto Assign -->
                        <div
                            class="flex flex-column w-100 "
                            ng-if="answerTab === 0"
                        >
                            <div ng-sortable="$ctrl.sortableOptions">
                                <div
                                    class="question-row"
                                    ng-repeat="answer in question.question_answers track by $index"
                                >
                                    <div class="w-100 flex">
                                        <div
                                            class="flex items-center assignment-item no-line w-52"
                                        >
                                            <div>
                                                <a
                                                    class="sort mr3"
                                                    ng-if="$ctrl.directAdminPrivileges"
                                                >
                                                    <img
                                                        alt="{{
                                                            'surveys:questions.sort'
                                                                | t
                                                        }}"
                                                        ng-src="{{
                                                            $ctrl.icons.sort
                                                        }}"
                                                    />
                                                </a>
                                            </div>
                                            <div class="f-grow">
                                                <input
                                                    class="pa2 input-reset bw0 pivot-gray-darker w-100 br2 ihshort"
                                                    type="text"
                                                    ng-change="$ctrl.updateQuestionAnswer(question, $index)"
                                                    ng-model-options="{ debounce: 750 }"
                                                    ng-model="question.question_answers[$index]"
                                                    ng-readonly="!$ctrl.directAdminPrivileges"
                                                />
                                            </div>
                                            <div>
                                                ----
                                            </div>
                                        </div>
                                        <div class="relative flex pb2 w-48">
                                            <div
                                                class="assignments tab-body pa2 ba b--gray-dark w-100"
                                            >
                                                <assigned-people-select
                                                    action-after-select="$ctrl.addPersonToRule(question, (question.question_rules | filter: { rule_code: 'AUTOASSIGN' })[$index])"
                                                    assigned="(question.question_rules | filter: { rule_code: 'AUTOASSIGN' })[$index].assign_to"
                                                    rule-code="(question.question_rules | filter: { rule_code: 'AUTOASSIGN' })[$index].rule_code"
                                                    organization-id="$ctrl.survey.organization_id"
                                                    disabled="(question.question_rules | filter: { rule_code: 'AUTOASSIGN' })[$index].trigger_keywords === '' || !$ctrl.directAdminPrivileges"
                                                ></assigned-people-select>
                                                <a
                                                    href
                                                    class="ml3 delete"
                                                    ng-click="$ctrl.deleteQuestionContent(question, question.question_answers, (question.question_rules | filter: { rule_code: 'AUTOASSIGN' })[$index], $index);"
                                                    ng-if="$ctrl.directAdminPrivileges"
                                                >
                                                    <img
                                                        alt="Delete"
                                                        ng-src="{{
                                                            $ctrl.icons.trash
                                                        }}"
                                                    />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Label Tab -->
                        <div
                            class="flex flex-column w-100"
                            ng-if="answerTab === 2"
                        >
                            <div ng-sortable="$ctrl.sortableOptions">
                                <div
                                    class="question-row"
                                    ng-repeat="answer in question.question_answers track by $index"
                                >
                                    <div class="w-100 flex">
                                        <div
                                            class="flex items-center assignment-item no-line w-52"
                                        >
                                            <div>
                                                <a
                                                    class="sort mr3"
                                                    ng-if="$ctrl.directAdminPrivileges"
                                                >
                                                    <img
                                                        alt="{{
                                                            'surveys:questions.sort'
                                                                | t
                                                        }}"
                                                        ng-src="{{
                                                            $ctrl.icons.sort
                                                        }}"
                                                    />
                                                </a>
                                            </div>
                                            <div class="f-grow">
                                                <input
                                                    class="pa2 input-reset bw0 pivot-gray-darker w-100 br2 ihshort"
                                                    type="text"
                                                    ng-change="$ctrl.updateQuestionAnswer(question, $index)"
                                                    ng-model-options="{ debounce: 750 }"
                                                    ng-model="question.question_answers[$index]"
                                                    ng-readonly="!$ctrl.directAdminPrivileges"
                                                />
                                            </div>
                                            <div>
                                                ----
                                            </div>
                                        </div>
                                        <div class="relative flex pb2 w-48">
                                            <div
                                                class="assignments tab-body pa2 ba b--gray-dark w-100"
                                            >
                                                <assigned-label-select
                                                    action-after-select="$ctrl.addLabelToRule(question, (question.question_rules | filter: { rule_code: 'AUTOASSIGN' })[$index])"
                                                    assigned="(question.question_rules | filter: { rule_code: 'AUTOASSIGN' })[$index].assigned_labels"
                                                    organization-id="$ctrl.survey.organization_id"
                                                    disabled="(question.question_rules | filter: { rule_code: 'AUTOASSIGN' })[$index].trigger_keywords === '' || !$ctrl.directAdminPrivileges"
                                                ></assigned-label-select>
                                                <a
                                                    href
                                                    class="ml3 delete"
                                                    ng-click="$ctrl.deleteQuestionContent(question, question.question_answers, (question.question_rules | filter: { rule_code: 'AUTOASSIGN' })[$index], $index);"
                                                    ng-if="$ctrl.directAdminPrivileges"
                                                >
                                                    <img
                                                        alt="Delete"
                                                        ng-src="{{
                                                            $ctrl.icons.trash
                                                        }}"
                                                    />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Auto Notify -->
                        <div
                            class="flex flex-column w-100"
                            ng-if="answerTab === 1"
                        >
                            <div ng-sortable="$ctrl.sortableOptions">
                                <div
                                    class="question-row"
                                    ng-repeat="answer in question.question_answers track by $index"
                                >
                                    <div class="w-100 flex">
                                        <div
                                            class="flex items-center assignment-item no-line w-52"
                                        >
                                            <div>
                                                <a
                                                    class="sort mr3"
                                                    ng-if="$ctrl.directAdminPrivileges"
                                                >
                                                    <img
                                                        alt="{{
                                                            'surveys:questions.sort'
                                                                | t
                                                        }}"
                                                        ng-src="{{
                                                            $ctrl.icons.sort
                                                        }}"
                                                    />
                                                </a>
                                            </div>
                                            <div class="f-grow">
                                                <input
                                                    class="pa2 input-reset bw0 pivot-gray-darker w-100 br2 ihshort"
                                                    type="text"
                                                    ng-change="$ctrl.updateQuestionAnswer(question, $index)"
                                                    ng-model-options="{ debounce: 750 }"
                                                    ng-model="question.question_answers[$index]"
                                                    ng-readonly="!$ctrl.directAdminPrivileges"
                                                />
                                            </div>
                                            <div>
                                                ----
                                            </div>
                                        </div>
                                        <div class="relative flex pb2 w-48">
                                            <div
                                                class="assignments-notify tab-body pa2 ba b--gray-dark w-100"
                                            >
                                                <assigned-people-select
                                                    action-after-select="$ctrl.addPersonToRule(question, (question.question_rules | filter: { rule_code: 'AUTONOTIFY' })[$index])"
                                                    assigned="(question.question_rules | filter: { rule_code: 'AUTONOTIFY' })[$index].assign_to"
                                                    organization-id="$ctrl.survey.organization_id"
                                                    disabled="(question.question_rules | filter: { rule_code: 'AUTONOTIFY' })[$index].trigger_keywords === '' || !$ctrl.directAdminPrivileges"
                                                ></assigned-people-select>
                                                <a
                                                    href
                                                    class="ml3 delete"
                                                    ng-click="$ctrl.deleteQuestionContent(question, question.question_answers, (question.question_rules | filter: { rule_code: 'AUTONOTIFY' })[$index], $index);"
                                                    ng-if="$ctrl.directAdminPrivileges"
                                                >
                                                    <img
                                                        alt="Delete"
                                                        ng-src="{{
                                                            $ctrl.icons.trash
                                                        }}"
                                                    />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="flex items-center mv-ih justify-end w-48 notification-container"
                            >
                                <label
                                    class="db f6 lh-copy f5 normal pivot-gray-darker ml2"
                                >
                                    {{
                                    'surveys:questions.sendNotificationsViaEmail'
                                    | t }}
                                </label>
                                <label
                                    class="db f6 lh-copy f5 normal pivot-gray-darker mr2"
                                    ng-if="1===2"
                                >
                                    Send notifications via:
                                </label>
                                <div
                                    class="dropdown dropdown-select mr2"
                                    uib-dropdown
                                    ng-if="1===2"
                                >
                                    <a
                                        class="f6 link dim bg-white ihshort db pivot-gray-darker br2 dim pr5"
                                        href=""
                                        uib-dropdown-toggle
                                    >
                                        {{ question.notify_via }}
                                    </a>
                                    <ul class="bg-white f6" uib-dropdown-menu>
                                        <li>
                                            <a
                                                href=""
                                                ng-click="$ctrl.setNotifyVia(question, 'Email')"
                                                >Email</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href=""
                                                ng-click="$ctrl.setNotifyVia(question, 'SMS')"
                                                >Text</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-52 flex" ng-if="question.question_answers">
                    <div class="assignment-item no-line w-94">
                        <button
                            class="f6 link ba b--blue ihshort fr mb2 dib blue bold br2 ttu tracked bg-transparent"
                            ng-click="$ctrl.addEmptyQuestionContent(question)"
                            ng-if="$ctrl.directAdminPrivileges"
                        >
                            {{ 'surveys:questions.newAnswer' | t }}
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>

<div class="new-questions flex items-start mb2 mt3">
    <div class="dropdown-large dropdown w-50 mr3">
        <a
            class="f6 link dim ba ph3 pv3 db blue br2 dim ttu tracked"
            href=""
            ng-click="$ctrl.addPredefinedQuestion()"
        >
            {{ 'surveys:questions.addPredefinedQuestion' | t }}
        </a>
    </div>
    <div class="dropdown-large dropdown w-50" uib-dropdown>
        <a
            class="f6 link dim ba ph3 pv3 db blue br2 dim ttu tracked"
            href=""
            uib-dropdown-toggle
        >
            {{ 'surveys:questions.addNewQuestion' | t }}
        </a>
        <ul class="bg-white" uib-dropdown-menu>
            <li
                ng-repeat="type in $ctrl.questionTypes | filter:{canAdd: true} track by $index"
            >
                <a
                    href=""
                    ng-click="$ctrl.addQuestion({
                    label: '', kind: type.kind, style: type.style
                })"
                    >{{ type.name }}</a
                >
            </li>
        </ul>
    </div>
</div>
