ministry-view-label {
  display: block;
  height: 50px;

  ng-md-icon svg {
    fill: $pivot-dark-blue;
  }

  .edit-action {
    margin-right: 10px;
  }

  .name-column {
    flex: 1;
  }
  .buttons-column {
    width: 70px;
  }
}
