<div class="header" ng-class="{'collapsed': $ctrl.collapsed, 'hidden-org': !$ctrl.visible}">
    <div class="org-name">
        <span ng-if="$ctrl.collapsible && !$ctrl.editMode" ng-click="$ctrl.collapsed = !$ctrl.collapsed">
          <ng-md-icon icon="play_arrow" class="chevron" size="14"></ng-md-icon>
        </span>
        <h2><a href="/allcontacts?organization_id={{$ctrl.id}}">{{ $ctrl.name }}</a></h2>
    </div>
    <div class="organization-stats">
        <div>{{$ctrl.report.contact_count || '-'}}</div>
        <div>
            <a class="red"
               href="/allcontacts?organization_id={{$ctrl.id}}&status[]=uncontacted"
               ng-if="$ctrl.report.uncontacted_count">
                {{$ctrl.report.uncontacted_count}}
            </a>
            <span ng-if="!$ctrl.report.uncontacted_count">-</span>
        </div>
        <div ng-repeat="i in [2,3,4,5,9]" class="no-data" ng-bind="$ctrl.reportInteractions(i)"></div>
    </div>
    <div class="right-buttons">
        <a href="/contacts/new.js?temp_current_organization_id={{$ctrl.id}}&assign_to_me=1"
           analytics-on="click" analytics-category="Dashboard" analytics-event="Add Contact Click"
           data-remote="true" title="{{'contacts.add_contact' | t}}" ng-hide="$ctrl.editMode" class="tipitmiddle">
            <ng-md-icon icon="addContact"></ng-md-icon>
        </a>
        <div class="add-anonymous-interaction-buttons"
             ng-if="$ctrl.addAnonymousInteractionButtonsVisible">
            <ng-md-icon ng-repeat="type in $ctrl.anonymousInteractionTypes"
                        ng-class="{opened: type.id == $ctrl.addAnonymousInteractionType.id}"
                        ng-click="$ctrl.addAnonymousInteraction(type)"
                        title="{{type.title | t}}"
                        icon="{{type.icon}}">
            </ng-md-icon>
        </div>
        <ng-md-icon icon="add"
                    class="add-anonymous-interaction"
                    title="{{'dashboard.anonymous.add' | t}}"
                    ng-class="{closed: $ctrl.addAnonymousInteractionButtonsVisible}"
                    ng-click="$ctrl.toggleAnonymousInteractionButtons()"
                    ng-hide="$ctrl.editMode">
        </ng-md-icon>
        <ng-md-icon icon="visibilityOn" ng-if="$ctrl.editMode && $ctrl.visible" ng-click="$ctrl.toggleVisibility()"
                    analytics-on="click" analytics-category="Dashboard" analytics-event="Hide Organization"></ng-md-icon>
        <ng-md-icon icon="visibilityOff" ng-if="$ctrl.editMode && !$ctrl.visible" ng-click="$ctrl.toggleVisibility()"
                    analytics-on="click" analytics-category="Dashboard" analytics-event="Show Organization"></ng-md-icon>
        <ng-md-icon class="sort-orgs-handle" icon="dragHandle" ng-if="$ctrl.editMode"></ng-md-icon>
    </div>
</div>
<div class="add-anonymous-interaction-panel" ng-if="$ctrl.addAnonymousInteractionType">
    <textarea ng-model="$ctrl.anonymousInteractionComment"
              placeholder="{{'dashboard.anonymous.note' | t}} {{$ctrl.addAnonymousInteractionType.title | t}}"
              class="auto-grow"
              style="height: 24px;"></textarea>
    <a href ng-click="$ctrl.saveAnonymousInteraction()">{{'dashboard.done' |t}}</a>
</div>
<div class="unassigned" ng-if="$ctrl.report.unassigned_count && $ctrl.unassignedVisible && !$ctrl.editMode">
    <div>
        <a href="/allcontacts?organization_id={{$ctrl.id}}&assigned_to=unassigned">
            {{$ctrl.report.unassigned_count}} {{'contacts.index.unassigned' | t}}
        </a>
    </div>
    <a title="{{'dashboard.snooze_for_24_hours' | t}}" class="tipitmiddle">
        <div class="snooze" ng-click="$ctrl.setUnassignedVisible(false)"
             analytics-on="click" analytics-category="Dashboard" analytics-event="Snooze Unassigned">
            <ng-md-icon icon="snooze"></ng-md-icon>
        </div>
    </a>
</div>
<div class="people-list" ng-hide="$ctrl.collapsed || $ctrl.editMode">
    <person person="person" organization-id="$ctrl.id" period="$ctrl.period"
            my-person-id="$ctrl.myPersonId" on-archive="$ctrl.archivePerson(person)"
            ng-repeat="person in $ctrl.people | orderBy: 'last_name' track by person.id"
            on-new-interaction="$ctrl.incrementReportInteraction(interaction_type_id)">
    </person>
</div>
