dashboard-subnav {
    display: block;
    height: 100%;

    .organizational-stats-header {
        margin-left: 356px;

        > ng-md-icon:not(:last-child) {
            padding-right: 28px;
        }
    }
}
