@import '../../../app/assets/stylesheets/variables/colors';

nav-search {
    .search-autocomplete-field[type='text'] {
        cursor: pointer;
        background: url('data:image/svg+xml;utf8,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.4852 5.56439C10.3992 4.62659 10.1004 3.68873 9.50317 2.94756C8.90595 2.20632 7.98689 1.68321 7.01842 1.67371C6.37767 1.66741 5.75808 1.87739 5.15384 2.08474C4.57887 2.28205 3.99254 2.48532 3.5127 2.85109C2.96092 3.27166 2.58814 3.88212 2.3515 4.52378C2.11489 5.16544 2.00405 5.84332 1.89441 6.51656C1.82376 6.95049 1.75287 7.38762 1.76853 7.82669C1.80112 8.73928 2.21879 9.62322 2.86648 10.2846C3.51421 10.9459 4.38112 11.3889 5.29671 11.5929C6.43268 11.846 7.7752 11.6726 8.50849 10.792C8.71871 10.5396 8.86677 10.2442 9.05834 9.97804C9.24372 9.72054 9.47006 9.49094 9.72678 9.29983C10.3362 8.15802 10.6026 6.84567 10.4852 5.56439ZM11.3122 10.2502C11.1116 10.6602 11.4817 11.1066 11.8213 11.4182C13.0608 12.5549 14.3001 13.6916 15.5395 14.8284C15.7728 15.0423 16.0251 15.3021 15.9975 15.6126C15.9642 15.9856 15.5142 16.2129 15.1332 16.1587C14.7521 16.1046 14.4347 15.856 14.1417 15.6132C13.2466 14.8714 12.3823 14.0945 11.5516 13.2851C11.1247 12.8692 10.6442 12.4161 10.0403 12.3922C9.10229 12.3552 8.3083 13.0487 7.40231 13.1898C5.65362 13.6925 3.65294 13.2642 2.28327 12.0938C1.7125 11.6061 1.25415 11.0083 0.814398 10.4058C0.584274 10.0905 0.355903 9.76891 0.210897 9.40894C-0.0871041 8.66931 -0.00710222 7.84349 0.0774552 7.05337C0.148171 6.39252 0.219938 5.72647 0.424095 5.09241C0.643776 4.41007 1.01081 3.78295 1.37508 3.16183C1.74274 2.53506 2.13248 1.88478 2.75263 1.48839C3.03514 1.30777 3.3535 1.18841 3.66906 1.07044C4.2057 0.86979 4.74234 0.669177 5.27898 0.46853C5.80045 0.273572 6.13931 2.43106e-05 6.8807 0.00148914C8.46364 -0.0325085 9.86758 0.515745 10.8141 1.63419C11.7606 2.7526 12.1914 4.21944 12.2611 5.66611C12.3368 7.23879 12.0077 8.82836 11.3122 10.2502Z" fill="white"/></svg>')
            0 0 no-repeat;
        height: 17px;
        width: 16px;
        border: 0 solid white;
        font-size: 0px;
        color: $white;

        &.ui-autocomplete-loading {
            background-color: transparent !important;
        }

        &::placeholder {
            color: $white;
            opacity: 0.5;
        }

        &:focus {
            border-width: 0 0 1px;
            background: none;
            font-size: 12px;
            width: 290px;
            outline: none;
        }
    }

    .dropdown-menu {
        max-height: 20rem;
    }
}
