message-modal {
    textarea#message {
        &.email {
            height: 10em;
        }

        &.sms {
            height: 5em;
        }
    }

    .length-limit {
        text-align: right;
    }
}
