<div id="hidden_questions_list">
  <ul id="hidden_questions">
    <% if current_organization.settings[:visible_surveys_column] == false %>
			<li>
        <%= check_box_tag :hidden_question, "visible_surveys_column", false, class: "hidden_question_checkbox" %>
        <%= t('contacts.menu.answered_surveys') %>
			</li>
		<% end %>
    <%= render partial: 'contacts/hidden_question', collection: @hidden_questions %>
  </ul>
</div>
