<%= t('contacts.update_notice_content') %>
<br/>
<br/>
<%= link_to t('contacts.update_notice_link'), t('contacts.update_notice_link_url'), target: '_blank' %>
<br/>
<div style="float:right;display:block;">
  <%= check_box_tag 'update_notice_toggle', current_user.id %>
  <%= t('contacts.update_notice_toggle') %>
</div>
