<%=raw t('contacts.update_notice_content') %>
<br/>
<div style="float:right;display:block;">
  <%= check_box_tag 'update_notice_toggle', current_user.id %>
  <%= t('contacts.update_notice_toggle') %>
</div>
