<%= form_for @person, :url => @person.new_record? ? contacts_path : contact_path(@person), :method => @person.new_record? ? :post : :put, :class => 'form' do |f| %>
  <%= hidden_field_tag :keyword, params[:keyword] %>
  <ul>
    <% @keyword.questions.each do |question| %>
      <li><%= render 'answer_pages/element', :element => question %></li>
    <% end %>
  </ul>
  <%= f.submit "Submit" %>
<% end %>

