<div class="br3 shadow-4 bg-white pv3 ph4">
    <h1 class="f2 pivot-dark-blue fw6 mb4 mt0">
        {{ 'ministries.cleanup.title' | t }}
    </h1>
    <p
        class="pivot-gray-darker f4-5  mb5"
        bind-dynamic="'ministries.cleanup.description' | t"
    ></p>

    <div class="flex justify-between items-stretch">
        <div
            class="normal pivot-gray-darker mt3-5 pa4 f5 br2 bg-pivot-gray-5 w-32"
        >
            <h4 class="mt0 mb4 fw6 tracked ttu">
                {{ 'ministries.cleanup.archive_alumni' | t }}
            </h4>
            <p class="lh-copy w-80 mt0 mb0">
                {{ 'ministries.cleanup.archive_alumni_description' | t }}
            </p>
            <a
                href
                class="f6 link pa2 ba b--pivot-dark-blue ihshort tc mt3 dib pivot-dark-blue bold br2 ttu tracked bg-transparent w-100 dim"
                ui-sref="app.ministries.ministry.people({ orgId: $ctrl.orgId })"
                >{{ 'ministries.cleanup.open_contacts' | t }}</a
            >
        </div>
        <div
            class="normal pivot-gray-darker mt3-5 pa4 f5 br2 bg-pivot-gray-5 w-32"
        >
            <h4 class="mt0 mb4 fw6 tracked ttu flex items-center">
                {{ 'ministries.cleanup.archive_by_date' | t }}
                <!-- <icon-button class='ml0' icon='help' ></icon-button> --><!-- TODO: turn into tooltip when the copy for it is available -->
            </h4>
            <fieldset class="ba b--transparent pr0 mh0 w-100 pl0 pv0 mv0">
                <p class="lh-copy w-80 mt0">
                    {{ 'ministries.cleanup.archive_by_date_description' | t }}
                </p>
                <label for="archiveDate" class="dn">Archive Date</label>
                <input
                    class="pa2 input-reset bg-white bw0 pivot-gray-darker w-90 ihshort br2 datepicker"
                    type="date"
                    ng-model="$ctrl.archiveBeforeDate"
                />
                <button
                    class="f6 pa2 link ba b--pivot-dark-blue ihshort mt3 dib pivot-dark-blue bold br2 ttu tracked bg-transparent w-100 dim"
                    ng-click="$ctrl.showConfirmModal('ministries.cleanup.archive_by_date_confirm_message')"
                >
                    {{ 'ministries.cleanup.archive_by_date' | t }}
                </button>
            </fieldset>
        </div>
        <div
            class="normal pivot-gray-darker mt3-5 pa4 f5 br2 bg-pivot-gray-5 w-32"
        >
            <h4 class="mt0 mb4 fw6 tracked ttu flex items-center">
                {{ 'ministries.cleanup.archive_by_inactivity' | t }}
                <!-- <icon-button class='ml0' icon='help'></icon-button> --><!-- TODO: turn into tooltip when the copy for it is available -->
            </h4>
            <fieldset class="ba b--transparent pr0 mh0 w-100 pl0 pv0 mv0">
                <p class="lh-copy w-80 mt0">
                    {{ 'ministries.cleanup.archive_by_inactivity_description' |
                    t }}
                </p>
                <label for="archiveInactivity" class="dn"
                    >Archive Inactivity Date</label
                >
                <input
                    class="pa2 input-reset bg-white bw0 pivot-gray-darker w-90 ihshort br2 datepicker"
                    value="08/31/2018"
                    type="date"
                    ng-model="$ctrl.archiveInactivityDate"
                />
                <button
                    class="f6 pa2 link ba b--pivot-dark-blue ihshort mt3 dib pivot-dark-blue bold br2 ttu tracked bg-transparent w-100 dim"
                    ng-click="$ctrl.showConfirmModal('ministries.cleanup.archive_by_inactivity_confirm_message')"
                >
                    {{ 'ministries.cleanup.archive_by_inactivity' | t }}
                </button>
            </fieldset>
        </div>
    </div>
</div>
