<h1>Failed Text Message Delivery</h1>
<p>
  <b>Text Message:</b>
  <%= @message %>
  <br/>
  <b>Date/Time of message sent:</b>
  <%= @bulk_message.created_at.in_time_zone(@person.timezone).strftime("%B %d, %Y %I:%M%P") %>
</p>
<p>
  <b>Total number of failed messages:</b>
  <%= @failed_count %>
</p>
<p>
  <b>Complete list of delivery failure(s):</b>
  <br/>
  <ul>
    <%- @failed.each do |msg| %>
      <li>
        <%= "#{msg.receiver.try(:name) || 'Unknown'} <#{PhoneNumber.prettify(msg.to)}>" %>
      </li>
    <% end %>
  </ul>
</p>