<div class="unassigned" ng-if="$ctrl.organization.report.unassigned_count && $ctrl.unassignedVisible">
    <div>
        <a href ng-href="/ministries/{{$ctrl.organization.org.id}}/people?assigned_to=unassigned">
            {{$ctrl.organization.report.unassigned_count}} {{'contacts.index.unassigned' | t}}
        </a>
    </div>
    <a title="{{'dashboard.snooze_for_24_hours' | t}}" class="tipitmiddle">
        <div class="snooze" ng-click="$ctrl.setUnassignedVisible(false)"
             analytics-on="click" analytics-category="Dashboard" analytics-event="Snooze Unassigned">
            <ng-md-icon icon="snooze"></ng-md-icon>
        </div>
    </a>
</div>
