@import '../../../../stylesheets/variables/colors';

unassigned-people .unassigned {
    background-color: $pivot-orange;
    color: $white;
    padding: 6px 11px 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a:visited,
    a:active {
        color: $white;
    }
    .snooze {
        color: $white;
        fill: $white;
        cursor: pointer;
        & > ng-md-icon {
            display: flex;
        }
    }
}
