edit-group {
  .form .split-row > * {
    width: 49%;
    display: inline-block;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;

    .btn {
      margin-left: 6px;
    }
  }
}