<div class="modal-header">
    <h3 class="modal-title">{{ 'merge_winner.title' | t }}</h3>
    <h4 class="modal-subtitle">{{ 'merge_winner.subtitle' | t }}</h4>
</div>
<div class="modal-body form">
    <async-content ready="$ctrl.ready">
        <div ng-repeat="choice in $ctrl.choices" class="choice actionable"
             ng-class="{ selected: $ctrl.winner === choice.model }" ng-click="$ctrl.setWinner(choice.model)">
            <div ng-repeat="personFields in $ctrl.personFields" class="field">
                <span class="key">{{ ('merge_winner.person_fields.' + personFields) | t }}:</span>
                <span class="value">{{ choice.person[personFields] }}</span>
            </div>
            <hr ng-if="choice.user" />
            <div ng-if="choice.user" ng-repeat="field in $ctrl.userFields" class="field">
                <span class="key">{{ ('merge_winner.user_fields.' + field) | t }}:</span>
                <span class="value">{{ choice.user[field] }}</span>
            </div>
        </div>
    </async-content>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" type="button" ng-click="$ctrl.cancel()">{{ 'general.cancel' | t }}</button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.save()"
            ng-disabled="!$ctrl.winner">{{ 'merge_winner.merge' | t }}</button>
</div>
