person-activity {
  .periods {
    justify-content: center;

    .period {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
      width: 3em;
      height: 3em;
      border-radius: 100%;
      background-color: $gray-4;
      color: $pivot-dark-blue;
      &.active {
        background-color: $pivot-dark-blue;
        color: $white;
      }
    }
  }

  .row {
    padding: 20px;
  }

  .count-column {
    min-width: 2em;
    text-align: center;
  }
}
