@import '../../../../../stylesheets//variables/tachyonsConfig';

report-movement-indicators-confirm {
    @media #{$breakpoint-not-small} {
        .column-count-2-ns {
            column-count: 2;
            column-gap: 3rem;
        }
        .column-count-allow-overflow-ns {
            will-change: transform; // Without this in the children of the container with the column-count property, tooltips become clipped and wrap to the previous column
        }
    }
}
