@import '../../../../stylesheets/variables/colors';
@import '../../../../stylesheets/components/row';

%common-margin {
  margin-left: 10px;
  margin-right: 10px;
}

people-view-person {
  @extend .row;
  display: block;
  flex-wrap: wrap;
  & > .person-info {
    justify-content: space-between;
    .no-data {
      color: $pivot-teal;
    }
    & > .name {
      @extend %common-margin;
      width: 335px;
      a:visited {
        color: inherit;
      }
    }
    & .uncontacted {
      float: right;
      color: $pivot-orange;
    }
    & > .stats {
      flex: 1 1 0;
      min-width: 0px;
      overflow: hidden;
      white-space: nowrap;
      &.stats-collapsed{
        background: linear-gradient(to left, #a1a1a1, rgba(0, 0, 0, 0) 5px);
      }
      & > div{
        @extend %common-margin;
        text-align: center;
        width: 30px;
        line-height: 50px;
        display: inline-block;
      }
    }
    .phone {
      @extend %common-margin;
      width: 120px;
      text-align: center;
      display: inline-block;
      &.no-data {
        padding-left: 68px;
      }
    }
    .add-new-interaction {
      fill: $pivot-dark-blue;
      transition: transform 200ms;
      cursor: pointer;
      padding: 8px;
      &.close {
        opacity: 1;
        -ms-transform: translateX(-2px) rotate(45deg);
        -webkit-transform: translateX(-2px) rotate(45deg);
        transform: translateX(-2px) rotate(45deg);
      }
    }
    & > .addInteractionButtons {
      align-self: stretch;
      display: flex;
      align-items: stretch;
      overflow: hidden;
      width: 0;
      animation: flexGrow 500ms ease forwards;
      &.ng-leave{
        width: 270px;
        animation: flexShrink 500ms ease forwards;
      }
      @keyframes flexGrow {
        to {
          width: 308px;
        }
      }
      @keyframes flexShrink {
        to {
          width: 0;
        }
      }
      & > square-button{
        padding: 4px 10px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        fill: $white;
        &:nth-child(1) { background: mix(white, $pivot-dark-blue, 10%); }
        &:nth-child(2) { background: mix(white, $pivot-dark-blue, 20%); }
        &:nth-child(3) { background: mix(white, $pivot-dark-blue, 30%); }
        &:nth-child(4) { background: mix(white, $pivot-dark-blue, 40%); }
        &:nth-child(5) { background: mix(white, $pivot-dark-blue, 50%); }
        &:nth-child(6) { background: mix(white, $pivot-dark-blue, 60%); }
        &:nth-child(7) { background: mix(white, $pivot-dark-blue, 70%); }
        &:nth-child(8) { background: mix(white, $pivot-dark-blue, 80%); }
        &:hover, &.open{
          background: $pivot-dark-blue;
        }
        &:active{
          background: lighten($pivot-dark-blue, 5%);
        }
      }
    }
  }
  & > .addInteractionPanel{
    padding: 10px;
    background: $pivot-dark-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    & > textarea{
      display: flex;
      flex-grow: 1;
      height: 1.3em;
    }
    .icon-btn{
      cursor: pointer;
      &:hover{
        opacity: .6;
      }
    }
    a, a:visited {
      color: white;
      font-size: 16px;
      padding-left: 10px;
      line-height: 32px;
    }
    a:active {
      color: #CCCCCC;
    }
  }
  .auto-grow {
    resize: none;
    word-wrap: break-word;
    transition: 0.05s;
    -moz-transition: 0.05s;
    -webkit-transition: 0.05s;
    -o-transition: 0.05s;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
}
