<div class="person-info row-content">
    <div class="name">
        <a ng-if="$root.betaMode" ng-click="$ctrl.openProfile()">{{ $ctrl.person | personName }}</a>
        <a ng-if="!$root.betaMode" href="/profile/{{$ctrl.person.id}}?organization_id={{$ctrl.organizationId}}">
            {{ $ctrl.person | personName }}
        </a>
        <span class="uncontacted" ng-if="$ctrl.uncontacted">({{'dashboard.uncontacted' | t}})</span>
    </div>
    <div class="stats"
         ng-class="{'stats-collapsed': $ctrl.addInteractionBtnsVisible || $ctrl.closingInteractionButtons}">
        <div>{{$ctrl.report.contact_count || '-'}}</div>
        <div>
            <a class="warning-highlight"
               href="/allcontacts?organization_id={{$ctrl.organizationId}}&status[]=uncontacted&assigned_to[]={{$ctrl.person.id}}"
               ng-if="$ctrl.report.uncontacted_count">
                {{$ctrl.report.uncontacted_count}}
            </a>
            <span ng-if="!$ctrl.report.uncontacted_count">-</span>
        </div>
        <div ng-repeat="i in [2,3,4,5,9]" class="no-data" ng-bind="$ctrl.reportInteractions(i)"></div>
        <span class="phone no-data" ng-if="$ctrl.person.phone_numbers.length === 0">-</span>
    </div>
    <div class="phone" ng-if="$ctrl.person.phone_numbers.length > 0">
        {{ $ctrl.person.phone_numbers[0].number | phone }}
    </div>

    <!-- Email -->
    <a ng-href="{{$ctrl.person.email_addresses[0].email | mailto}}"
       analytics-on="click" analytics-category="Dashboard" analytics-event="Send Email">
        <icon-button icon="'email'" disabled="$ctrl.person.email_addresses.length === 0">
            <ng-md-icon icon="email"></ng-md-icon>
        </icon-button>
    </a>

    <div class="addInteractionButtons" ng-if="$ctrl.addInteractionBtnsVisible">
        <square-button ng-repeat="type in $ctrl.interactionTypes"
                       ng-click="$ctrl.openAddInteractionPanel(type)"
                       ng-class="{'open': $ctrl.openPanelType === type}"
                       analytics-on="click" analytics-category="Dashboard"
                       analytics-event="Select Interaction" analytics-label="{{type.title}}"
                       title="{{type.title | t}}">
            <ng-md-icon icon="{{type.icon}}"></ng-md-icon>
        </square-button>
    </div>
    <ng-md-icon icon="add" class="add-new-interaction" ng-click="$ctrl.toggleInteractionBtns()"
                analytics-on="click" analytics-category="Dashboard"
                analytics-event="Open Interaction Types" analytics-if="$ctrl.addInteractionBtnsVisible"
                ng-class="{'close': $ctrl.addInteractionBtnsVisible}">
    </ng-md-icon>
</div>
<div class="addInteractionPanel" ng-if="$ctrl.openPanelType">
    <textarea placeholder="{{'dashboard.notes_for_new_interaction' | t}} {{$ctrl.openPanelType.title | t}}"
              ng-model="$ctrl.interactionComment"
              class="auto-grow"></textarea>
    <a href ng-click="$ctrl.saveInteraction()"
       analytics-on="click" analytics-category="Dashboard" analytics-event="Save New {{$ctrl.openPanelType.title}}">
      {{'dashboard.done' | t}}
    </a>
</div>
