/* !important
* This is a file that should only have scss abstracts (variable and mix-in definitions)!
* If you add anything else that results in real code, it will imported into the processed file
* many times and that will be bad. So don't do it!
*/

/* Colors */
$blue-1: #0379ae;
$blue-2: #3594be;
$blue-3: #c7dff0;
$blue-4: #eaf1f6;
$blue-5: #f7f9fb;
$white: #fff;
$gray-1: #333333;
$gray-1-25: #4f4f4f;
$gray-1-5: #767676; // This is the lightest font color we can use on a white background
$gray-2: #808284;
$gray-2-5: #969696;
$gray-3: #c0c0c0;
$gray-4: #e6e6e6;
$gray-5: #f0f0f0;

$background-gray: #dadada;

$pivot-dark-blue: #007398;
$pivot-darker-blue: #005a7f;
$pivot-bright-blue: #66d9f0;
$pivot-muted-blue: #d3e0e3;
$pivot-muted-dark-blue: #85a4ab;
$pivot-teal: #58c6b9;
$pivot-orange: #ff5532;

$pivot-gradient-light: #00abc9;
$pivot-gradient-dark: $pivot-dark-blue;

$gray-dark: #a0a2a6;
$gray-darker: #505256;
$gray-darkest: #3c3c3c;
$black: #000000;

$pivot-colors: (
    gray: $background-gray,
    gray-dark: $gray-dark,
    gray-darker: $gray-darker,
    gray-1-25: $gray-1-25,
    gray-4: $gray-4,
    gray-5: $gray-5,
    blue-4: $blue-4,
    dark-blue: $pivot-dark-blue,
    darker-blue: $pivot-darker-blue,
    bright-blue: $pivot-bright-blue,
    muted-blue: $pivot-muted-blue,
    muted-dark-blue: $pivot-muted-dark-blue,
    teal: $pivot-teal,
    orange: $pivot-orange,
);

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}
