@import './colors.scss';

@each $name, $value in $pivot-colors {
    .pivot-#{$name},
    a.pivot-#{$name} {
        color: $value;
    }

    .fill-pivot-#{$name} {
        fill: $value;
    }

    .bg-pivot-#{$name} {
        background-color: $value;
    }
    .b--pivot-#{$name} {
        border-color: $value;
    }
    .bb--pivot-#{$name} {
        border-bottom-color: $value !important;
    }
    .hover-pivot-#{$name} {
        &:hover,
        &:focus {
            color: $value;
        }
    }
    .hover-bg-pivot-#{$name} {
        &:hover,
        &:focus {
            background-color: $value;
        }
    }
}
