<div class="inside_container">
	<div class="titlebar titlebarmod">  
		<h1>
			100% Sent
		</h1>
	</div>
	<div>
		<h1 class="title">Transfer Contacts to 100% Sent</h1>
		<div class="container">
			<div class="content">
				<div class="transfer_results">
					<span class="message">Your contact transfer was successful!</span>
				</div>
				<div class="other_info">
					<input class="button" name="transfer_contacts" type="submit" value="Ok" />
				</div>
			</div>
		</div>
	</div>
</div>