<div class="inside_container">
	<div class="titlebar titlebarmod">  
		<h1>
			100% Sent
		</h1>
	</div>
	<div>
		<h1 class="title">Transfer Contacts to 100% Sent</h1>
		<div class="container">
			<div class="content">
				<div class="transfer_results">
					<div class="transfer_message with_error">
						<img src="http://local.missionhub.com:7888/assets/warning_light.png" /><p class="with_image">There was a problem with your transfer.</p>
					</div>
				</div>
				<div class="transfer_actions actions_48">
					<div class="info_right info_full">
						<input id="re_start_transfer" class="action_button" type="submit" value="Re-Start Transfer" /><a href="#" id="return_dashboard" class="action_button">Return to Dashboard</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>