<div class="inside_container">
	<div class="titlebar titlebarmod">  
		<h1>
			100% Sent
		</h1>
	</div>
	<div>
		<h1 class="title">Transfer Contacts to 100% Sent</h1>
		<div class="container">
			<div class="content">
				<div class="transfer_results">
					<img /><span class="message">There was a problem with your transfer.</span>
				</div>
				<div class="other_info">
					<input class="button" type="reset" value="Re-Start Transfer" /><input class="button" name="transfer_contacts" type="submit" value="Return to Dashboard" />
				</div>
			</div>
		</div>
	</div>
</div>