<div class="inside_container">
	<div class="titlebar titlebarmod">  
		<h1>
			100% Sent
		</h1>
	</div>
	<div>
		<h1 class="title">Transfer Contacts to 100% Sent</h1>
		<div class="container">
			<div class="content">
				<div class="transfer_results">
					<div class="transfer_message">
						<p>Your contact transfer was successful!</p>
					</div>
				</div>
				<div class="transfer_actions actions_48">
					<div class="info_right info_full">
						<a href="#" id="ok_transfer" class="action_button">Ok</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>