<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        {{ $ctrl.resolve.address ? 'people.index.edit_address' :
        'people.index.create_address' | t }}
    </h3>
</div>
<div class="modal-body form" id="modal-body">
    <div class="form-group">
        <label class="form-control-select">
            <div class="row">
                <span class="normal-column label"
                    >{{'general.address_type' | t}}</span
                >
            </div>
            <div class="row">
                <select
                    class="form-control"
                    ng-options="type as (('address_types.' + type) | t)
                                    disable when !$ctrl.isAddressTypeValid(type, $ctrl.person, $ctrl.address)
                                    for type in $ctrl.addressTypes"
                    ng-model="$ctrl.address.address_type"
                >
                </select>
            </div>
        </label>
        <label
            ng-repeat="addressField in ['address1', 'address2', 'address3', 'address4', 'city']"
        >
            <div class="row">
                <span class="normal-column label"
                    >{{('general.' + addressField || 'other') | t}}</span
                >
            </div>
            <div class="row">
                <input
                    type="text"
                    class="normal-column form-control"
                    ng-model="$ctrl.address[addressField]"
                />
            </div>
        </label>
        <label class="form-control-select">
            <div class="row">
                <span class="normal-column label">{{'general.state' | t}}</span>
            </div>
            <div class="row">
                <select
                    class="form-control"
                    ng-options="region.shortCode as region.name for region in $ctrl.regions"
                    ng-model="$ctrl.address.state"
                >
                </select>
            </div>
        </label>
        <label>
            <div class="row">
                <span class="normal-column label">{{'general.zip' | t}}</span>
            </div>
            <div class="row">
                <input
                    type="text"
                    class="normal-column form-control"
                    ng-model="$ctrl.address.zip"
                />
            </div>
        </label>
        <label class="form-control-select">
            <div class="row">
                <span class="normal-column label"
                    >{{'general.country' | t}}</span
                >
            </div>
            <div class="row">
                <select
                    class="form-control"
                    ng-options="country.shortCode as country.name for country in $ctrl.countries"
                    ng-model="$ctrl.address.country"
                >
                </select>
            </div>
        </label>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" type="button" ng-click="$ctrl.cancel()">
        {{ 'general.cancel' | t }}
    </button>
    <button
        class="btn btn-primary"
        type="button"
        ng-click="$ctrl.save()"
        ng-disabled="!$ctrl.valid() || $ctrl.saving"
    >
        <span ng-hide="$ctrl.saving">{{ 'general.ok' | t }}</span>
        <loading-spinner
            ng-if="$ctrl.saving"
            class="loading"
            size="16"
        ></loading-spinner>
    </button>
</div>
