<div class="modal-header">
    <h4 class="modal-subtitle">Beta</h4>
    <h3 class="modal-title">{{ 'beta.welcome.title' | t }}</h3>
</div>
<div class="modal-body form">
    <p>{{ 'beta.welcome.p1' | t }}</p>
    <p>{{ 'beta.welcome.p2' | t }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.noBeta()" ng-disabled="$ctrl.sending">
        <span ng-hide="$ctrl.sending">{{ 'beta.welcome.no_thanks' | t }}</span>
        <loading-spinner ng-if="$ctrl.sending" class="loading" size="16"></loading-spinner>
    </button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.tryBeta()" ng-disabled="$ctrl.sending">
        <span ng-hide="$ctrl.sending">{{ 'beta.welcome.try' | t }}</span>
        <loading-spinner ng-if="$ctrl.sending" class="loading" size="16"></loading-spinner>
    </button>
</div>
