beta-welcome-modal {
  .modal-header .modal-title {
    font-size: 21px;
  }

  p {
    color: $gray-1-5;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  button span {
    text-transform: uppercase;
  }
}
