<% title "Welcome!" %>
<div class="info">
  To save some time (and typing), please log in with FB Connect:
</div>
<div class="info">
  <ul>
    <li><%= link_to(image_tag('login-button.png'), user_omniauth_authorize_path(:facebook), :rel => 'external') %></li>
  </ul>
</div>
