<%= form_for(@admin_organization) do |f| %>
  <% if @admin_organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_organization.errors.count, "error") %> prohibited this admin_organization from being saved:</h2>

      <ul>
      <% @admin_organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
