<div id="custom_alert_div" style="display:none;z-index:9999;" class="custom_mh_popup_box pop_box_container">
  <div class="ui-widget-overlay pop_box_overlay_container"></div>
  <div class="mh_popup_box" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" tabindex="-1" permission="dialog" aria-labelledby="ui-dialog-title-alert_dialog" id="custom_alert_box">
  	<div class="mh_popup_box_top">
      <span class="mh_popup_heading">
        Alert
      </span>
    </div>
  	<div class="fancy">Alert Message</div>
  	<div class="mh_popup_buttons" id="custom_alert_buttons">
  		<button class="large_lightgray mh_popup_cancel_button">OK</button>
  	</div>
  </div>
</div>