<div id="hidden_questions_dialog" style="display:none;" class="custom_mh_popup_box">
  <div class="ui-widget-overlay pop_box_overlay_container"></div>
  <div class="pop_box_container">
    <div class="mh_popup_box permissions_popup_box">
    	<div class="mh_popup_box_top"><span class="mh_popup_heading">Hidden Questions</span></div>
    	<div id="avatar_form_container">
        <div id="hidden_questions_div" style="display:block">
          <div id="hidden_questions_guide">
            <%= t('contacts.menu.add_question_back') %>
            <span class="icon help tip help_bubble_keyword" title="<%= t('contacts.menu.column_header_guide') %>"/>
          </div>
          <div id="hidden_questions_loader">
            <%= image_tag 'loader.gif'%><br/>Fetching Questions...
          </div>
          <div id="hidden_questions_content"></div>
        </div>
    	</div>
    	<div class="avatar_save">
    		<button class="large_lightgray mh_popup_cancel_button" id="">Cancel</button>
    	</div>
    </div>
  </div>
</div>