<div id="hidden_questions_div" style="display:none">
  <div id="hidden_questions_loader">
    <%= image_tag 'loader.gif'%><br/>Fetching Questions...
  </div>
  <div id="hidden_questions_content"></div>
</div>