<div id="save_snapshot_div" style="display:none" class="custom_mh_popup_box">
  <div class="ui-widget-overlay pop_box_overlay_container"></div>
  <div class="pop_box_container">
    <div class="mh_popup_box assign_popup_box">
    	<div class="mh_popup_box_top">
        <span class="mh_popup_heading" id="saved_search_title">
          <%= t('charts.snapshot.save_snapshot') %>
        </span>
      </div>
      <div class="mh_popup_box_content" id="mh_popup_box_content" align="center">
        <%= hidden_field_tag "saved_search_id", "", id: "snapshot_id", data: {value: @snapshot.try(:id)} %>
        <br/>
        <%= text_field_tag "visual_tool", "", placeholder: "Enter snapshot name here...", id: "snapshot_name", data: {value: @snapshot.try(:name)} %>
      </div>
    	<div class="assign_save">
    		<button class="red_accent assign_button" id="submit_save_snapshot">Submit</button>
    		<button class="large_lightgray mh_popup_cancel_button">Cancel</button>
    	</div>
    </div>
  </div>
</div>