<div id="new_sent_messages_div" style="display:none;" class="custom_mh_popup_box">
  <div class="ui-widget-overlay" style="position: fixed; width: 100%; height: 100%; z-index: 999; "></div>
  <div class="pop_box_container">
    <div class="mh_popup_box" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" tabindex="-1" permission="dialog" aria-labelledby="ui-dialog-title-alert_dialog">
    	<div class="mh_popup_box_top">
        <span class="mh_popup_heading">
          Sent Messages
        </span>
      </div>
      <div class="mh_popup_box_content">
        <div id="sent_messages_loader">
          <%= image_tag 'loader.gif'%><br/>Loading Sent Messages
        </div>
        <div id="sent_messages_paginator_top"></div>
        <div class="mh_popup_box_scroller" id="sent_messages_content">
          <table id="sent_messages_table" cellpadding="0" cellspacing="0">
            <tbody id="messages">
            </tbody>
          </table>
        </div>
      </div>
    	<div class="mh_popup_buttons" id="">
    		<button class="large_lightgray mh_popup_cancel_button">Cancel</button>
    	</div>
    </div>
  </div>
</div>