<h2>The application <% link_to h(oauth.client.display_name), oauth.client.link %>
    is requesting to <%= oauth.scope.to_s %> your account.</h2>
  <form action="/oauth/grant" data-ajax="false">
    <button>Grant</button>
    <input type="hidden" name="authorization" value="<%= oauth.authorization %>">
  </form>
  <form action="/oauth/deny">
    <button>Deny</button>
    <input type="hidden" name="authorization" value="<%= oauth.authorization %>">
  </form>