<div class="titlebar titlebarmod">
    <h1>{{ 'preferences.title' | t }}</h1>
</div>

<div class="space">
    <span>{{ 'preferences.language' | t }}</span>
    <select ng-model="$ctrl.selectedLanguage" ng-change="$ctrl.updatePreferences()"
            ng-options="language.description for language in $ctrl.supportedLanguages track by language.abbreviation"
            required>
        <option value="">{{ 'preferences.no_language_selected' | t }}</option>
    </select>
    <a ng-if="$ctrl.selectedLanguageChanged" ng-click="$ctrl.reload()">
        {{ 'preferences.refresh_language' | t }}
    </a>
</div>

<div class="space">
    <span>{{ 'preferences.time_zone' }}: {{$ctrl.timeZone}}</span>
</div>

<h3>{{ 'preferences.notifications_header' | t }}</h3>
<span>{{ 'preferences.notifications_info' | t }}</span>
<ul>
    <li class="space">
        <span>{{ 'preferences.person_moved' | t }}</span>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                   id="personMoved" ng-model="$ctrl.personMoved"
                   ng-change="$ctrl.updatePreferences()">
            <label class="onoffswitch-label" for="personMoved">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </li>
    <li class="space">
        <span>{{ 'preferences.person_assigned' | t }}</span>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                   id="personAssigned" ng-model="$ctrl.personAssigned"
                   ng-change="$ctrl.updatePreferences()">
            <label class="onoffswitch-label" for="personAssigned">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </li>
    <li class="space">
        <span>{{ 'preferences.weekly_digest' | t }}</span>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                   id="weeklyDigest" ng-model="$ctrl.weeklyDigest"
                   ng-change="$ctrl.updatePreferences()">
            <label class="onoffswitch-label" for="weeklyDigest">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </li>
</ul>
<div class="space">
    <span>{{ 'preferences.legacy_navigation' | t }}</span>
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
               id="legacyNavigation" ng-model="$ctrl.legacyNavigation"
               ng-change="$ctrl.updatePreferences()">
        <label class="onoffswitch-label" for="legacyNavigation">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>
</div>
