<div class="titlebar titlebarmod">
    <h1>User Preferences</h1>
</div>

<div class="space">
    <span>Language</span>
    <select ng-model="$ctrl.selectedLanguage" ng-change="$ctrl.saveUserPreferences()"
            ng-options="language.description for language in $ctrl.supportedLanguages track by language.abbreviation"
            required>
        <option value="">Select Language</option>
    </select>
    <a href ng-if="$ctrl.selectedLanguageChanged" ng-click="$ctrl.reload()">
      Refresh To Show Language Changes
    </a>
</div>

<div class="space">
    <span>Time zone: {{$ctrl.timeZone}}</span>
</div>

<h3>When would you like us to let you know?</h3>
<span>(Enabled by default)</span>
<ul>
    <li class="space">
        <span>When a person is transferred to your organization</span>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                   id="personMoved" ng-model="$ctrl.personMoved"
                   ng-change="$ctrl.saveUserPreferences()">
            <label class="onoffswitch-label" for="personMoved">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </li>
    <li class="space">
        <span>When a person is assigned to you</span>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                   id="personAssigned" ng-model="$ctrl.personAssigned"
                   ng-change="$ctrl.saveUserPreferences()">
            <label class="onoffswitch-label" for="personAssigned">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </li>
    <li class="space">
        <span>Weekly Ministry Digest</span>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                   id="weeklyDigest" ng-model="$ctrl.weeklyDigest"
                   ng-change="$ctrl.saveUserPreferences()">
            <label class="onoffswitch-label" for="weeklyDigest">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </li>
</ul>

