<%= render 'surveys/surveys_sidebar' %>

<div class="titlebar titlebarmod">
  <h1>
    <%= t('.edit_survey', survey: @survey) if @survey.present? %>
    <div id='global_loader'>
      <%= image_tag 'loader.gif'%>
    </div>
  </h1>
</div>

<%= render 'form' %>
