<% provide :title, t('.pick_keyword') %>
<h1>Click on a keyword to complete a survey</h1>
<ul>
  <% @keywords.each do |keyword| %>
    <li>
      <%= link_to(keyword.keyword, start_survey_url(keyword.keyword, host: APP_CONFIG['public_host'], port: APP_CONFIG['public_port'])) %>
    </li>
  <% end %>
</ul>