<% provide :title, t('.title', org: @organization) %>

<div data-role="controlgroup">
  <% @surveys.each do |survey| %>
    <%= link_to(survey, start_survey_url(survey.id, host: APP_CONFIG['public_host'], port: APP_CONFIG['public_port']), {"data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right"}) %>
  <% end %>
</div>
