$ ->
  $('.friends_count').live 'click', ->
    false
  $('.to_list a.delete').live 'click', ->
    li = $(this).closest('li')
    li.remove()
    false
    
  $('#send_reminder_link').live 'click', -> 
    $('.to_list').html('')
    ids = []
    $('#leaders .leader').each ->
      if Number($('.count', this).text()) > 0
        id = $(this).attr('data-id')
        ids.push(id)
        $('.to_list').append('<li data-id="'+id + '">'+$('.name a', this).html() + ' <a href="" class="delete">x</a></li>')
    $('#reminder_email').dialog
      resizable: false,
      height:444,
      width:600,
      modal: true,
      buttons: 
        Cancel: ->
          $(this).dialog('destroy')
    false
    
  $('#reminder_email form').live 'submit', ->
    ids = []
    $('.to_list li').each ->
      id = $(this).attr('data-id')
      ids.push(id)
    $('#reminder_email #to').val(ids.join(','))
    $('#reminder_email').dialog('destroy')
    $.rails.handleRemote($(this))
    false
    
  $('#savesearchbtn').live 'click', ->
    $('#savesearchbox').dialog
      resizable: false,
      height: 200,
      width: 400,
      modal: true,
      buttons: 
        Save: ->          
          $('#save_search_form').submit()
          t('contacts.index.search_saved')
          $(this).dialog('destroy')
        Cancel: ->
          $(this).dialog('destroy')
    false

  $('.send_contact_info').live 'click', ->
    form = $('#send_contact_info_form')
    form.find('#person_id').val($(this).attr('data-person_id'))    
    
    $('#send_contact_info_dialog').dialog
      resizable: false,
      height: 200,
      width: 400,
      modal: true,
      buttons: 
        Ok: ->          
          form.submit()
          $.n('Contact information has been sent.') 
          $(this).dialog('destroy')   
        Cancel: ->
          $(this).dialog('destroy')
    false   

  $('#send_contact_info_form').submit ->
    url = $(this).prop('action')
    params = $(this).serialize()
    $.post(url, params)
    false

  $('#bulk_vcard_link').live 'click', ->
    ids = []
    $('.id_checkbox:checked').each ->
      id = $(this).val()
      ids.push(id)

    if ids.length == 0
      $.a(t('contacts.index.none_checked'))
      return false
      
    $('#bulk_vcard_dialog').dialog
      resizable: false,
      height: 200,
      width: 400,
      modal: true,
      buttons: 
        "Send to email": ->          
          email = $('#bulk_vcard_email').val()
          url = $('#bulk_vcard_form').attr('action')
          $.get(url + '?ids=' + ids + '&email=' + email)
          $.n(t('contacts.index.bulk_vcard_email_message') + email) 
          $(this).dialog('destroy')   
        "Download": ->
          url = $('#bulk_vcard_form').attr('action')
          window.location = url + '?ids=' + ids
          $.n(t('contacts.index.bulk_vcard_download_message'))  
          $(this).dialog('destroy')             
        Cancel: ->
          $(this).dialog('destroy')
    false   
    
    
  if $.params.answers
    $.each $.params.answers, (k, v) ->
      if $.isPlainObject(v)
        # Checkboxes
        $.each v, (k1, v1) ->
          if v1 != ""
            $("[name='answers[" + k + "][" + k1 + "]']").prop('checked', true)
      else
        field = $("[name='answers[" + k + "]']")
        if field.attr('type') == 'radio'
          field.prop('checked', true)
        else
          field.val(v)

  $('#filter_link').click -> 
    $('#filter_box').toggle()
    false
    
  $('#contacts_controller a.add_contact').live 'click', ->
    $('#new_person')[0].reset()
    $('#add_contact_div').dialog
      resizable: false,
      height:444,
      width:600,
      modal: true,
      buttons: [
        text: t('application.add_contact.save_and_close'),
        click: -> 
          $.mh.saveContact(false)
      ,
        text: t('application.add_contact.save_and_add'),
        click: -> 
          $.mh.saveContact(true)
      ,
        text: 'Cancel',
        click: ->
          $(this).dialog('destroy')
      ]
    false
          
  $('#survey_answers_link').live 'click', ->
    $('#survey_answers').dialog
      resizable: false,
      height:444,
      width:600,
      modal: true,
      buttons: 
        Cancel: ->
          $(this).dialog('destroy')
    false
  $('#assign_search .assign_button').live 'click', ->
    leader = $('.leftmenu .leader[data-id=' + $('#assign_to').val() + ']')
    $.fn.assignTo(leader)
    $.fn.load_leader_name($('#person_title').attr('data-id'))
    $('#assign_search').dialog('destroy')
    
  $('#assign_search .leader a').live 'click', (e)->
    $('#assign_to').val($(this).closest('li').attr('data-id'))
    e.preventDefault()
    leader = $('.leftmenu .leader[data-id=' + $('#assign_to').val() + ']')
    if leader[0]
      $.fn.assignTo(leader)
    else
      $.rails.handleRemote($('#new_contact_assignment'))
      unless $('#assign_to').val() == $('#my_id').val()
        $.fn.load_leader_name($('#person_title').attr('data-id'))
        $('.id_checkbox:checked').each ->
          $(this).closest('tr').remove()
    $('#assign_search').dialog('destroy')
  false

  
  $('#assign_search .org a').live 'click', (e)->
    e.preventDefault()
    form = $('#new_contact_assignment')
    from_id = $(this).closest('div').attr('data-org-id')
    to_id = $(this).attr('data-id')
    keep_contact = $('#keep-contact-copy > input').is(':checked')
    old_action = form.attr('action')
    form.attr('action', '/organizational_roles/move_to?from_id='+from_id+'&to_id='+to_id+'&keep_contact='+keep_contact)
    $.rails.handleRemote(form)
    if keep_contact == false
      $('.id_checkbox:checked').each ->
        $(this).closest('tr').remove()
    form.attr('action', old_action)
    $('#assign_search').dialog('destroy')
    if $('#contacts_controller.show')[0]
      setTimeout "document.location = '/contacts'", 1000
  false
  
  $('#assign_search .group a').live 'click', (e)->
    $('#assign_to').val($(this).closest('li'))
    e.preventDefault()
    group = $('#assign_to').val($(this).closest('li').attr('data-group')).val()
    person = ""
    
    if $('.id_checkbox:checked').size() > 0
      $('.id_checkbox:checked').each (index, element) =>
        person += $(element).attr('value') + ","
    
    add_another = false
    $('<a href="/groups/' + group  + '/group_memberships?person_id=' + person + '&role=member&add_another=' + add_another + '"data-method="post" data-remote="true"></a>')
    .appendTo('body')
    .click()
    .remove()
    $('#assign_search').dialog('destroy')
  false
  
  $('#assign_search .label a').live 'click', (e)->
    e.preventDefault()
    role = $('#assign_to').val($(this).closest('li').attr('data-role')).val()
    show_success = true
    if window.location.pathname == '/contacts'
      $('.id_checkbox:checked').each ->
        person_id = $(this).val()
        $.ajax
          type: 'POST',
          url: '/people/update_roles',
          data: 'role_ids='+role+'&person_id='+person_id+'&include_old_roles=yes'
          error: show_success = false
        $('#main').load('/contacts .index.carea')
        $('#left').load('/contacts .block')
        
      $('#assign_search').dialog('destroy')
      if show_success
        $.n('Successfully assigned label.')
    else if window.location.pathname == '/contacts/mine'
      $('.id_checkbox:checked').each ->
        person_id = $(this).val()
        $.ajax
          type: 'POST',
          url: '/people/update_roles',
          data: 'role_ids='+role+'&person_id='+person_id+'&include_old_roles=yes'
          error: show_success = false
        $('#main').load('/contacts/mine .mine.carea')
        $('#left').load('/contacts/mine .block')
        
      $('#assign_search').dialog('destroy')
      if show_success
        $.n('Successfully assigned label.')
    else
      person_id = $('.assign.headerlink').attr('data-id')
      $.ajax
          type: 'POST',
          url: '/people/update_roles',
          data: 'role_ids='+role+'&person_id='+person_id+'&include_old_roles=yes'
          error: show_success = false
      $('#assign_search').dialog('destroy')
      if show_success
        $.n('Successfully assigned label.')
  false

  $('#search_autocomplete_field').live 'keyup', ->
    inc = ""
    if document.URL.indexOf("include_archived") isnt -1
      inc = "?include_archived=true"
    
    $(this).autocomplete
	    source: '/contacts/search_by_name_and_email.json'+inc,
      select: (event, ui) ->
        window.location = "/people/" + ui.item.id

    
  $('#assign_search .leader_search_name').keyup ->
    name = $(this).val()
    $('#assign_search ul li').each ->
      regex = new RegExp('.*' + name + '.*', 'i')
      if regex.test($('.name', $(this)).text())
        $(this).show()
      else
        $(this).hide()
    
  $('#assign_search .org_search_name').observe_field 0.5, ->
    name = $(this).val()
    $('#spinner_org_search').show()
    $.ajax
      url: '/organizations/search.js?q='+name, 
      type: 'GET',
      complete: ->
        $('#spinner_org_search').hide()
        
  $('#assign_search .group_search_name').keyup ->
    name = $(this).val()
    $('#assign_search ul li').each ->
      regex = new RegExp('.*' + name + '.*', 'i')
      if regex.test($('.name', $(this)).text())
        $(this).show()
      else
        $(this).hide()

  $('#assign_search .label_search_name').keyup ->
    name = $(this).val()
    $('#assign_search ul li').each ->
      regex = new RegExp('.*' + name + '.*', 'i')
      if regex.test($('.name', $(this)).text())
        $(this).show()
      else
        $(this).hide()
        
  $('#assign_to_me, #assign_to_unassigned').live 'click', ->
    $('#assign_search .leader_search').hide()
    $('#assign_search .org_search').hide()
    $('#assign_search .group_search').hide()
    $('#assign_search .label_search').hide()
    $('#assign_search .assign_button').show()
    
  $('#assign_to_leader').live 'click', ->
    $('.leader_search_name').val("")
    $('#assign_search .leader_search').show()
    $('#assign_search .org_search').hide()
    $('#assign_search .group_search').hide()
    $('#assign_search .label_search').hide()
    $('#assign_search .assign_button').hide()
    $('#assign_search ul li').each ->
      $(this).show()
    
  $('#assign_to_org').live 'click', ->
    $('#assign_search .leader_search').hide()
    $('#assign_search .org_search').show()
    $('#assign_search .group_search').hide()
    $('#assign_search .label_search').hide()
    $('#assign_search .assign_button').hide()
    
  $('#assign_to_group').live 'click', ->
    $('#assign_search .leader_search').hide()
    $('#assign_search .org_search').hide()
    $('#assign_search .group_search').show()
    $('#assign_search .label_search').hide()
    $('#assign_search .assign_button').hide()
    
  $('#assign_to_label').live 'click', ->
    $('#assign_search .leader_search').hide()
    $('#assign_search .org_search').hide()
    $('#assign_search .group_search').hide()
    $('#assign_search .label_search').show()
    $('#assign_search .assign_button').hide()
    
  $('.assign_to_radio').live 'click', -> 
    $('#assign_to').val($(this).val())
    
  $("a.assign").live 'click', ->
    if $('.id_checkbox:checked').length > 0
      $('#assign_to_me').click()
      el = $('#assign_search')
      el.dialog
        resizable: false,
        height:650,
        width:600,
        modal: true,
        buttons: 
          Cancel: ->
            $(this).dialog('destroy')
    else
      $.a(t('contacts.index.none_checked'))
    false

  $('#contacts_controller #bulk_unassign').live 'click', ->
    if $('.id_checkbox:checked').length > 0 && $('#leaders')[0]?
      $.fn.assignTo($('.leader.unassigned'))
      $('.id_checkbox:checked').closest('tr').fadeOut()
    $('#check_all').prop('checked', false)
    false
    
  $('#contacts_controller .controls a.delete').live 'click', (e)->
    $(this).closest('tr').fadeOut()
    if $('#leaders')[0]?
      $('.id_checkbox', $(this).closest('tr')).prop('checked', true)
      $.fn.assignTo($('.leader.dnc'), true)
    false
    
  $('#contacts_controller .controls a.unassign').live 'click', (e)->
    # $(this).closest('tr').fadeOut()
    if $('#leaders')[0]?
      $('.id_checkbox', $(this).closest('tr')).prop('checked', true)
      $.fn.assignTo($('.leader.unassigned'), true)
      $('.id_checkbox', $(this).closest('tr')).prop('checked', false)
    false
  $('a.delete_leader').live 'click', ->
    li = $(this).parent()
    person_id = li.attr('data-id')
    $('.leader[data-id='+person_id+']').remove()

  $("a.add-leader").live 'click', ->
    $('#add_leader_form').hide()
    $('#leader_search .explain').show()
    $('#leader_search_form').show()
    $('#leader_search_name').val('')
    $("#leader_search_results").hide()
    $('#new_leader_form').hide()
    el = $('#leader_search')
    el.dialog
      resizable: false,
      height:650,
      width:650,
      modal: true,
      buttons: 
        Cancel: ->
          $(this).dialog('destroy')
    false

  $('#leader_search_name').autocomplete
    source: (request, response)->
      form = $('#leader_search_form')
      $('#spinner_leader_search').show()
      $.ajax
        url: form.attr('action'), 
        data: form.serialize(), 
        type: 'GET',
        success: (data)->
          $('#leader_search_results').html(data)
          $("#leader_search_results").show()
        complete: ->
          $('#spinner_leader_search').hide()
        error: (xhr, status, error)->
          $.e(error)
      response([])
      
  $('.search_show_all_link').live 'click', ->
    $('#spinner_leader_search').show()
    $('#show_all').val('true')
    form = $('#leader_search_form')
    $.ajax
      url: form.attr('action')
      data: form.serialize(),
      type: 'POST',
      success: (data)->
        $('#leader_search_results').html(data)
        $("#leader_search_results").show()
      complete: ->
        $('#spinner_leader_search').hide()
    false
    
  $('.search_show_all_link_members').live 'click', ->
    $('#spinner_member_search').show()
    $('#show_all').val('true')
    form = $('#member_search_form')
    $.ajax
      url: form.attr('action'),
      data: form.serialize(),
      type: 'GET',
      success: (data)->
        $('#member_search_results').html(data)
        $("#member_search_results").show()
      complete: ->
        $('#spinner_member_search').hide()
    false
    
  $('#comment_submit').live 'click', ->
    $(this).hide()
    $('#spinner_comment').show()
    
  $('#add_rejoicable').live 'click', ->
    $('#rejoicable_fields').slideToggle()
    false
    
  $("#contacts_controller a#bulk_delete").live 'click', ->
    num_selected = $('.id_checkbox:checked:visible').length
    if num_selected  > 0
      if(confirm('Are you sure you want to delete ' + num_selected + ' contacts permanently?'))
        $('.id_checkbox:checked').each ->
          $(this).closest('tr').fadeOut()

        url = $(this).attr('href')
        params = $('#new_contact_assignment').serialize()
        $.post(url, params)
    
    else
      $.a(t('contacts.index.none_checked'))
    false    
    
  $('.contact_row td:not(.checkbox_cell)').live 'click', ->
    unless $('a', this)[0]?
      tr = $(this).parent()
      document.location = '/people/' + tr.attr('data-id')
  
  $('#assign_to').change ->
    if $('.id_checkbox:checked').length > 0
      name = $('option:selected', this).text()
      person_id = $(this).val()
      $.fn.assignTo($('li[data-id=' + person_id + ']'))
      $('#check_all').prop('checked', false)
    else
      $.a(t('contacts.index.none_checked'))
  $('#contacts_controller .index a.hide').live 'click', ->
    $('.' + $(this).attr('data-class')).fadeOut()
  
  $('#hidden_questions_link').live 'click', ->
    $('#hidden_questions_div').slideToggle()
    false
 
  $.fn.activateDncDroppable()
  $.fn.activateLeaderDroppable()
  
$.fn.activateLeaderDroppable = () ->
  $('.leftmenu .leader').droppable 
    activeClass: 'ui-state-highlight'
    drop: (event, ui) ->
      leader = $(this)
      leader.effect('highlight', {}, 'slow')
      $('#assign_to').val(leader.attr('data-id'))
      $.fn.assignTo(leader)
      
$.fn.activateDncDroppable = () ->
  $('.leftmenu .dnc').droppable 
    activeClass: 'ui-state-highlight'
    drop: (event, ui) ->
      li = $(this)
      li.effect('highlight', {}, 'slow')
      $.fn.moveToDnc(ui.draggable)      
      
$.fn.moveToDnc = (dragObject) ->
  $('#dnc_count').html(Number($('#dnc_count').html()) + 1)  
  row = $("#" + $(dragObject).attr("data-row-id"))
  row.hide()  
  $('#move_to_dnc').attr('action', $(dragObject).attr("data-dnc-url"))  
  $.rails.handleRemote($('#move_to_dnc'))
      
$.fn.assignTo = (leader, skip_remote) ->
  leader_name = $('.name a', leader).text()
  $('.id_checkbox:checked').each ->
    row = $('tr[data-id=' + $(this).val() + ']')
    assigned_to = $('.assigned_to', row)
    if leader_name == 'Unassigned'
      $('.unassign_link', row).hide()
    else
      $('.unassign_link', row).show()
      
    unless assigned_to.html() == leader_name
      
      $('.count', leader).html(Number($('.count', leader).html()) + 1)
      if assigned_to.html() == ''
        $('#unassigned_count').html(Number($('#unassigned_count').html()) - 1)
        
      else
        $('.leader a').each ->
          if $(this).text() == assigned_to.html() || (leader.hasClass('unassigned') && assigned_to.html() == '')
            count = $(this).closest('.leader').find('.count')
            count.html(Number(count.html()) - 1)
            
      if leader.hasClass('unassigned') or leader.hasClass('dn')
        assigned_to.text('') 
        
      else
        assigned_to.text(leader_name) 
        #hide assigned to
        $('#person_title').hide()
    # hide people assigned to someone other than the current or if we're moving to dnc
    assign_to = $('#new_contact_assignment').find("#assign_to").val()   
    if assign_to == "do_not_contact" || ($.params.assigned_to != leader_name)
      unless skip_remote
        $.rails.handleRemote($('#new_contact_assignment'))
      
      row.find('.id_checkbox').attr('checked', false)
      row.hide()
  $('#assign_to').val('')
  
$.mh.saveContact = (add_more) ->
  form = $('#new_person')
  if $('#person_firstName', form).val() == ''
    $.a(t('contacts.index.no_name_message'))
    return false
  if add_more
    $('#add_another').val('true')
  $.rails.handleRemote(form)
  form.html("<img src=\"<%= asset_path('spinner.gif') %>\" />")
  false
    
$.fn.load_leader_name = (id) ->
  $('#person_title').html('<img src="/assets/spinner.gif" />')
  $('#person_title').show().load('/people/' + id + ' #assigned_leader')
      
