$ ->
	$('a.delete_leader').live 'click', ->
		li = $(this).parent()
		li.fadeOut 'slow', ->
			li.remove()
	$("a.add-leader").live 'click', ->
		$('#add_leader_form').hide()
		$('#leader_search_form').show()
		$('#leader_search_name').val('')
		$("#leader_search_results").hide()
		el = $('#leader_search')
		form = $('#leader_search_form')
		el.dialog
			resizable: false,
			height:444,
			width:400,
			modal: true,
			buttons: 
				Cancel: ->
					$(this).dialog('destroy')
		false

	$('#leader_search_name').autocomplete
		source: (request, response)->
			form = $('#leader_search_form')
			$('#spinner_leader_search').show()
			$.ajax
				url: form.attr('action'), 
				data: form.serialize(), 
				type: 'POST',
				success: (data)->
					$('#leader_search_results').html(data)
					$("#leader_search_results").show()
				complete: ->
					$('#spinner_leader_search').hide()
				error: (xhr, status, error)->
					alert(error)
			response([]);
	$('.search_show_all_link').live 'click', ->
		$('#spinner_leader_search').show()
		$('#show_all').val('true')
		form = $('#leader_search_form')
		$.ajax
			url: form.attr('action')
			data: form.serialize(),
			type: 'POST',
			success: (data)->
				$('#leader_search_results').html(data)
				$("#leader_search_results").show()
			complete: ->
				$('#spinner_leader_search').hide()
		false;
		
	$('#comment_submit').live 'click', ->
		$(this).hide()
		$('#spinner_comment').show()
		
	$('#add_rejoicable').live 'click', ->
		$('#rejoicable_fields').slideToggle()
		false
		
	$('.contact_row td:not(.checkbox_cell)').live 'click', ->
		tr = $(this).parent()
		document.location = '/contacts/' + tr.attr('data-id')
	
	$('#assign_to').change ->
		if $('.id_checkbox:checked').length > 0
			name = $('option:selected', this).text()
			person_id = $(this).val()
			$.fn.assignTo($('li[data-id=' + person_id + ']'))
			$('#check_all').prop('checked', false)
		else
			alert("<%= I18n.t('ma.people.index.none_checked') %>")
	$('#contacts_controller .index a.hide').live 'click', ->
		$('.' + $(this).attr('data-class')).fadeOut()
	
	$('#hidden_questions_link').live 'click', ->
		$('#hidden_questions_div').slideToggle()
		false
	$('.handle').draggable 
		revert: true
		start: (event, ui) ->
			# If this row isn't checked, store the previously checked rows and check this row '
			unless $(this).next('input').prop('checked') 
				$(this).data 'checked',	$('.id_checkbox:checked').map ->
					return $(this).val()
				$('.id_checkbox:checked').prop('checked', false) 
				$(this).next('input').prop('checked', true) 
		stop: (event, ui) ->
			if $(this).data('checked')?
				$(this).next('input').prop('checked', false)
				$.each $(this).data('checked'), (i, id) ->
					$('.id_checkbox[value=' + id + ']').prop('checked', true)
		helper: (event) ->
			length = if $(this).next('input').prop('checked') then $('.id_checkbox:checked').length else 1
			helper_text = '<%= I18n.t('ma.contacts.index.assign_people', count: 0) %>'.replace('0', length)
			if length == 1
				helper_text = '<%= I18n.t('ma.contacts.index.assign_people', count: 1) %>'
			$('<div class="drag-contact">' + helper_text + '</div>').appendTo($('body'));

	$.fn.activateLeaderDroppable()
	
$.fn.activateLeaderDroppable = () ->
	$('.leader').droppable 
		activeClass: 'ui-state-highlight'
		drop: (event, ui) ->
			leader = $(this)
			leader.effect('highlight', {}, 'slow')
			$('#assign_to').val(leader.attr('data-id'))
			$.fn.assignTo(leader)
			
$.fn.assignTo = (leader) ->
	leader_name = $('.name a', leader).text()
	$('.id_checkbox:checked').each ->
		row = $('tr[data-id=' + $(this).val() + ']')
		assigned_to = $('.assigned_to', row)
		unless assigned_to.html() == leader_name
			$('.count', leader).html(Number($('.count', leader).html()) + 1)
			if assigned_to.html() == ''
				$('#unassigned_count').html(Number($('#unassigned_count').html()) - 1)
			else
				$('.leader a').each ->
					if $(this).text() == assigned_to.html() || (leader.hasClass('unassigned') && assigned_to.html() == '')
						count = $(this).closest('.leader').find('.count')
						count.html(Number(count.html()) - 1)
			if leader.hasClass('unassigned')
				assigned_to.text('') 
			else
				assigned_to.text(leader_name) 
		# hide people assigned to someone other than the current
		if $('#assigned_to').val() != 'all' && $('#assigned_to').val() != leader.attr('data-id')
			$(this).closest('tr').hide();
	$.rails.handleRemote($('#new_contact_assignment'))
	$('#assign_to').val('')