$ ->
	$('#assign_to').change ->
		if $('.id_checkbox:checked').length > 0
			name = $('option:selected', this).text()
			person_id = $(this).val()
			$.fn.assignTo($('li[data-id=' + person_id + ']'))
			$('#check_all').prop('checked', false)
		else
			alert("<%= I18n.t('ma.people.index.none_checked') %>")
	$('#contacts_controller .index a.hide').live 'click', ->
		$('.' + $(this).attr('data-class')).fadeOut()
	
	$('#hidden_questions_link').live 'click', ->
		$('#hidden_questions_div').slideToggle()
		false
	$('.handle').draggable 
		revert: true
		start: (event, ui) ->
			# If this row isn't checked, store the previously checked rows and check this row '
			unless $(this).next('input').prop('checked') 
				$(this).data 'checked',	$('.id_checkbox:checked').map ->
					return $(this).val()
				$('.id_checkbox:checked').prop('checked', false) 
				$(this).next('input').prop('checked', true) 
		stop: (event, ui) ->
			if $(this).data('checked')?
				$(this).next('input').prop('checked', false)
				$.each $(this).data('checked'), (i, id) ->
					$('.id_checkbox[value=' + id + ']').prop('checked', true)
		helper: (event) ->
			length = if $(this).next('input').prop('checked') then $('.id_checkbox:checked').length else 1
			helper_text = '<%= I18n.t('ma.contacts.index.assign_people', count: 0) %>'.replace('0', length)
			if length == 1
				helper_text = '<%= I18n.t('ma.contacts.index.assign_people', count: 1) %>'
			$('<div class="drag-contact">' + helper_text + '</div>').appendTo($('body'));
	$('.leader').droppable 
		drop: (event, ui) ->
			leader = $(this)
			leader.effect('highlight', {}, 'slow')
			$('#assign_to').val(leader.attr('data-id'))
			$.fn.assignTo(leader)
			
$.fn.assignTo = (leader) ->
	leader_name = $('.name a', leader).text()
	$('.id_checkbox:checked').each ->
		row = $('tr[data-id=' + $(this).val() + ']')
		assigned_to = $('.assigned_to', row)
		if assigned_to.html() == ''
			$('#unassigned_count').html(Number($('#unassigned_count').html()) - 1)
		else
			$('.leader a').each ->
				if $(this).text() == assigned_to.html()
					count = $(this).closest('.leader').find('.count')
					count.html(Number(count.html()) - 1)
		unless assigned_to.html() == leader_name
			assigned_to.text(leader_name)
			$('.count', leader).html(Number($('.count', leader).html()) + 1)
		# hide people assigned to someone other than the current
		if $('#assigned_to').val() != '' && $('#assigned_to').val() != leader_name
			$(this).closest('tr').hide();
	$.rails.handleRemote($('#new_contact_assignment'))
	$('#assign_to').val('')