$ ->
  if $('#query')[0]
    if $('#query').val().length > 0
      $('#search_filter_box').show()
      false
      
  if $('#advanced_filter_box')[0] && $('#first_name')[0]
    if $('#first_name').val().length > 0 || $('#last_name').val().length > 0 || (($('#role').val().length) > 0 && (window.location.search.indexOf('advanced')) > 1) ||
    $('#gender_1').is(':checked') || $('#gender_2').is(':checked') || $('#gender_').is(':checked') ||
    $('#email').val().length > 0 ||  $('#phone').val().length > 0
      $('#advanced_filter_box').show()
      false
      
  $('#include_archived').live 'click', ->
    if $(this).is(':checked')
      document.location = '/people?include_archived=true'
    else
      document.location = '/people'
    
  
  $('.action_dropdown').live 'mouseenter', ->
    $(this).click();
  
  $('#advanced_search').live 'click', ->
    $('#search_filter_box').hide()
    $('#advanced_filter_box').toggle()
    false
    
  $('#basic_search').live 'click', ->
    $('#search_filter_box').toggle()
    $('#advanced_filter_box').hide()
    false
 
  $('#filter_link').click ->
    if !$('#search_filter_box').is(':visible') && !$('#advanced_filter_box').is(':visible')
      $('#search_filter_box').show()
      $('#advanced_filter_box').hide()
    else if $('#search_filter_box').is(':visible') && !$('#advanced_filter_box').is(':visible')
      $('#search_filter_box').hide()
      $('#advanced_filter_box').hide()
    else if !$('#search_filter_box').is(':visible') && $('#advanced_filter_box').is(':visible')
      $('#search_filter_box').hide()
      $('#advanced_filter_box').hide()
      
  $('.person_row td:not(.checkbox_cell)').live 'click', ->
    unless $('a', this)[0]?
      tr = $(this).parent()
      document.location = '/people/' + tr.attr('data-id')
      
  $('#apply_roles_spinner').hide()
  $("#apply_roles_successful").hide()

  if $('#people_controller.confirm_merge input[type=submit]')[0]
    $('#people_controller.confirm_merge input[type=submit]')[0].focus() 
  $('#user_merge_form input.person').observe_field 0.75, ->
    $(this).triggerPersonLookup()
          
  $('#user_merge_form input.name').observe_field 1, ->
    $(this).triggerPersonSearch()

  #$('#user_merge_form input.person').triggerPersonLookup()
  #$('#user_merge_form input.name').triggerPersonSearch()

  $('#show_message_guide_button').live 'click', ->
    custom_buttons = {}
    custom_buttons[t('dashboard.learn_more')] = ->
      send_message_guide_more()
    custom_buttons[t('dashboard.close')] = ->
      $(this).dialog('destroy')
    $('#send_message_guide').dialog
      resizable: false,
      height:200,
      width:520,
      modal: true,
      title: "Send Text/Email Message"
      buttons: custom_buttons
    false

  $('#people_controller a.add_person').live 'click', ->
    $('#new_person')[0].reset()
    $('#add_person_div').dialog
      resizable: false,
      height:664,
      width:600,
      modal: true,
      buttons: 
        Cancel: ->
          $(this).dialog('destroy')
    false
  
  $('#add_person_div .save').live 'click', ->
    form = $(this).closest('form')
    if $('#person_firstName', form).val() == '' #or ($('#person_email_address_email', form).val() == '' &&$('#person_phone_number_number', form).val() == '')
      alert('At a minimum you need to provide a first name.')
      return false
    if $(this).hasClass('save_and_more')
      $('#add_another').val('true')
    $.rails.handleRemote(form)
    form.html("<img src=\"<%= asset_path('spinner.gif') %>\" />")
    false
    
  true

  $("#people_controller a#bulk_delete").live 'click', ->
    ids = []
    $('.id_checkbox:checked:visible').each ->
      ids.push($(this).val())
    if($('#all_selected_text').is(':visible'))    
      $('.all_row').each ->
        ids.push($(this).attr('data-id'))
        
    num_selected = ids.length
    if num_selected  > 0
      if(confirm('Are you sure you want to delete ' + num_selected + ' person(s) permanently?'))
        $.ajax
          type: 'POST',
          url: '/people/bulk_delete',
          data: 'ids='+ids,
          success: (data) ->
            if data.indexOf("success") != -1 #there might be a better way of doing this other than just basing the success on the returned data
              $('.id_checkbox:checked').each ->
                $(this).closest('tr').fadeOut();
            else
              $.a(data)
    false
    
  $("#people_controller a#bulk_archive").live 'click', ->
    ids = []
    $('.id_checkbox:checked:visible').each ->
      ids.push($(this).val())
    if($('#all_selected_text').is(':visible'))    
      $('.all_row').each ->
        ids.push($(this).attr('data-id'))
        
    num_selected = ids.length
    if num_selected  > 0
      if(confirm('Are you sure you want to archive ' + num_selected + ' person(s)?'))
        $.ajax
          type: 'POST',
          url: '/people/bulk_archive',
          data: 'ids='+ids,
          success: (data) ->
            if data.indexOf("success") != -1 #there might be a better way of doing this other than just basing the success on the returned data
              $('.id_checkbox:checked').each ->
                $(this).closest('tr').fadeOut();
            else
              $.a(data)
    false
  
  fromViewingFBProfile = false  
  if $('#facebook_name_search')[0]?
    $('#facebook_name_search').autocomplete
      minLength: 3
      source: '/people/facebook_search'
      select: (event, ui)->
        if(isNaN(ui.item.id))
          url = escape(ui.item.id)
          $('#fb_name_search_dialog').dialog
            resizable: false,
            height: 600,
            width: 800,
            modal: true,
            open: (event, ui) ->
              $(this).fbNameSearch(url)
            buttons:
              Cancel: ->
                $(this).dialog('destroy')
              Previous: ->
              More: ->
          false
        else
          if(ui.item.id == null)
            $('#fb_name_search_dialog').dialog('destroy')
          else
            $('#person_fb_uid').val(ui.item.id)
            link = 'http://www.facebook.com/profile.php?id=' + ui.item.id
            $('#facebook_url').html('<a href="' + link + '">' + link + '<a>')
        false
    .data( "autocomplete" )
    ._renderItem = ( ul, item )->
      return $( "<li></li>" )
        .data( "item.autocomplete", item )
        .append( '<img src="http://graph.facebook.com/' + item.id + '/picture" /><a>' + item.name )
        .appendTo( ul );
      # + '<br/><span onclick="window.open(\'http://www.facebook.com/profile.php?id=' + item.id + '\')">' + t('people.edit.fb_profile_link') + '</span></a>'
      
  $(window).focus ->
    if(fromViewingFBProfile)
      $('#people_controller.edit .ui-autocomplete').show();
      fromViewingFBProfile = false
      
  $('#merge_people').live 'click', (e) ->
    e.preventDefault()  
    if $('.id_checkbox:checked').length > 0
      people = []
      $('.id_checkbox:checked').each ->
        people.push($(this).val()) 
      
      person1 = people[0]
      person2 = if people[1] == undefined then '' else people[1]
      person3 = if people[2] == undefined then '' else people[2]
      person4 = if people[3] == undefined then '' else people[3]
      
      document.location.href = '/people/merge?person1=' + person1 + 
      '&person2=' + person2 + '&person3=' + person3 + '&person4=' + person4
    else
      document.location.href = '/people/merge'
  false
  
  $('#assign_org .org_search_name').observe_field 0.5, ->
    name = $(this).val()
    $('#spinner_org_search').show()
    $.ajax
      url: '/organizations/search.js?q='+name, 
      type: 'GET',
      complete: ->
        $('#spinner_org_search').hide()

$.fn.fbNameSearch = (url)->
  prevBtn = $("#fb_name_search_dialog").next(".ui-dialog-buttonpane").find('button')[1]
  moreBtn = $("#fb_name_search_dialog").next(".ui-dialog-buttonpane").find('button')[2]
  $(prevBtn).button('disable')
  $(moreBtn).button('disable')

  $.getJSON '/people/facebook_search?url=' + url, (response) ->
    if(response.data.length == 0)
      $('#fb_name_search_result').html(t('people.edit.fb_name_search_dialog_no_more'))
    else
      $(moreBtn).button('enable')
      $(moreBtn).unbind('click').button().click ->
        $(this).fbNameSearch(escape(response.paging.next))

      $('#fb_name_search_result').html('<ul></ul>')
      for v, k in response.data
        $('#fb_name_search_result ul').append('<li><a class="name" data-id="' + v.id + '"><img src="http://graph.facebook.com/' + v.id + '/picture?type=square" /><div class="meta"><span class="fbname">' + v.name + '</span></div></a></li>')        
      # School Name Here
      # <a onclick="window.open(\'http://www.facebook.com/profile.php?id=' + v.id + '\')">' + t('people.edit.fb_profile_link') + '</a>
    if(response.paging.previous)
      $(prevBtn).button('enable')
      $(prevBtn).unbind('click').button().click ->
        $(this).fbNameSearch(escape(response.paging.previous))

    $('#fb_name_search_result a.name').click ->
      $('#facebook_name_search').val('http://www.facebook.com/profile.php?id=' + $(this).attr('data-id'))
      $('#fb_name_search_dialog').dialog('destroy')

$.fn.triggerPersonSearch = ->
  this.each ->
    name = $(this).val()
    $('#person_ids').hide()
    $('input.person').val('')
    $('.merge.person.preview').hide()
    return false if $.trim(name) == ''
    $("#spinner_name").show()
    $.ajax
      url: '/people/search_ids.json?q=' + name
      type: 'GET',
      success: (data)->
        $('#ids').html('<strong>' + name + '</strong>: ' + data.join(', '))
        $('#person_ids').show()
        $.each data, (i, val)->
          field = $('#person'+(i+1))
          if field[0]
            field.val(val)
      complete: ->
        $("#spinner_name").hide()
        
$.fn.triggerPersonLookup = ->
  this.each ->
    css_class = $(this).attr('id')
    id = $(this).val()
    unless Number(id) > 0
      $('.merge.' + css_class).hide()
      return false 
    $("#spinner_" + css_class).show()
    $.ajax
      url: '/people/' + id + '/merge_preview?class=' + css_class
      type: 'GET',
      complete: ->
        $('.merge.' + css_class).show()
        $("#spinner_" + css_class).hide()
        
$.fn.submitBulkSendTextDialog = ->
  ids = $('#bulk_send_text_dialog #send_text_to').val()
  $('#bulk_send_text_dialog #to').val(ids.join(','))
  $.rails.handleRemote($("#bulk_send_text_dialog form"))
  $.n('Text message sent')        
  $('#bulk_send_text_dialog').dialog('close')
     
$.fn.submitBulkSendDialog = ->
  ids = []
  $('.to_list li').each ->
    id = $(this).attr('data-id')
    ids.push(id)
  $('#bulk_send_dialog form #to').val(ids.join(','))
  $.rails.handleRemote($("#bulk_send_dialog form"))
  $('#bulk_send_dialog').dialog('destroy')
        
$('#send_bulkemail_link').live 'click', -> 
  if $('.id_checkbox:checked').length == 0
    alert("You didn't select any people to email")
    return false
  $('.to_list').html('')
  ids = []
  no_emails = []
  
  $('.id_checkbox:checked').each ->
    id = $(this).val()
    tr = $(this).parent().parent();
    name = tr.attr('data-name')
    if tr.attr('data-email').length > 0
      ids.push(id)    
      $('.to_list').append('<li data-id="'+id + '">'+ name + ' <a href="" class="delete">x</a></li>')
    else
      no_emails.push($.trim(name))
      
  if($('#all_selected_text').is(':visible'))    
    $('.all_row').each ->
      id = $(this).attr('data-id')
      name = $(this).attr('data-name')
      if $(this).attr('data-email').length > 0
        ids.push(id)      
        $('.to_list').append('<li data-id="'+id + '">'+ name + ' <a href="" class="delete">x</a></li>')    
      else
        no_emails.push(name)
        
  if ids.length == 0
    alert("Your selection didn't contain any person with a an email.")
    return false
  
  $('#bulk_send_dialog form').addClass('bulk-email')
  $('#bulk_send_dialog form').removeClass('bulk-sms')
  $('#bulk_send_dialog .subject').show()
  # disable char counter 
  $('#char_counter').hide()
  $('#bulk_send_body').unbind('keyup')
  $('#bulk_send_body').unbind('paste')  
  $('#bulk_send_body').val($('#bulk_email_message').val())
  nicEdit = null
  $('#bulk_send_dialog').dialog
    resizable: false,
    height:644,
    width:600,
    modal: true,
    title: 'Send Email Message',
    open: (event, ui) ->
      if no_emails.length > 0
        html = '<p>The following people are missing email addresses and will not be contacted:<br/>'
        html += no_emails.join(', ')
        html += '</p></div>'
        $('#bulk_send_dialog_message').show().find('.notice').html(html)
      else
        $('#bulk_send_dialog_message').hide()
        
      nicEdit = new nicEditor({fullPanel : true}).panelInstance('bulk_send_body')
      $(this).find('form').attr('action', '/people/bulk_email')
    close: (event, ui) ->
      nicEdit.removeInstance('bulk_send_body');
      $('#bulk_email_message').val($('#bulk_send_body').val())
    buttons: 
      Send: ->
        nicEdit.removeInstance('bulk_send_body');
        $(this).submitBulkSendDialog()
        $('#bulk_email_message').val($('#bulk_send_body').val())
        $.n('Email message sent')
      Cancel: ->
        nicEdit.removeInstance('bulk_send_body');
        $('#bulk_email_message').val($('#bulk_send_body').val())
        $(this).dialog('destroy')
  false        

$('.send_sms_link').live 'click', ->
	ids = new Array()
	id = $(this).attr('data-id')
	name = $(this).attr('data-name')
	number = $(this).attr('data-number')
	ids.push(id)
	element = '<li data-id="'.concat(id,'">',name,'<a href="" class="delete">x</a></li>')
	$('.to_list').html(element)
	$('#bulk_send_dialog form').addClass('bulk-sms')    
	$('#bulk_send_dialog .subject').hide()
	$('#char_counter').show()
	$('#bulk_send_dialog #bulk_send_body').simplyCountable( { maxCount: 160 } )
	$('#bulk_send_body').val('')
	$('#bulk_send_dialog').dialog
		resizable: false,
		height:444,
		width:600,
		modal: true,
		title: 'Send Text Message',
		open: (event, ui) ->
			$('#bulk_send_dialog_message').hide()
			$(this).find('form').attr('action', '/people/bulk_sms')
		close: (event, ui) ->
			$('#bulk_sms_message').val($('#bulk_send_body').val())            
		buttons: 
			Send: ->
				$(this).submitBulkSendDialog()
				$('#bulk_sms_message').val($('#bulk_send_body').val())                
				$.n('Text message sent')        
			Cancel: ->
				$('#bulk_sms_message').val($('#bulk_send_body').val())        
				$(this).dialog('destroy')
	false 

$('#send_bulksms_link_new').live 'click', ->
  ids = []
  $('.id_checkbox:checked').each ->
    id = $(this).attr('data-id')
    if $(this).attr('data-number').length > 0
      ids.push(id)    
    
  $('#bulk_send_text_dialog #bulk_send_body').val('')
  $('#bulk_send_text_dialog #send_text_to').val(ids)
  $('#bulk_send_text_dialog #send_text_to').trigger("liszt:updated")  
  $('#bulk_send_text_dialog').dialog('open')    
  $('#bulk_send_text_dialog #char_counter').show()
  $('#bulk_send_text_dialog #bulk_send_body').simplyCountable({ 
    maxCount: 160,
    counter: '#bulk_send_text_dialog #char_counter'
  })
  $('#bulk_send_text_dialog #bulk_send_body').focus()
  false


$('#send_bulksms_link').live 'click', ->
  if $('.id_checkbox:checked').length == 0
    alert("You didn't select any people to text")
    return false
  $('.to_list').html('')
  ids = []
  no_numbers = []
  $('#bulk_send_body').val('')

  $('.id_checkbox:checked').each ->
    id = $(this).val()
    tr = $(this).parent().parent();
    name = tr.attr('data-name')
    number = tr.find('.phone_number').text().length
    if number > 0
      ids.push(id)    
      $('.to_list').append('<li data-id="'+id + '">'+ name + ' <a href="" class="delete">x</a></li>')
    else
      no_numbers.push($.trim(name))

  if($('#all_selected_text').is(':visible'))    
    $('.all_row').each ->
      id = $(this).attr('data-id')
      name = $(this).attr('data-name')
      number = $(this).attr('data-phone-number').length
      if number > 0
        ids.push(id)      
        $('.to_list').append('<li data-id="'+id + '">'+ name + ' <a href="" class="delete">x</a></li>')    
      else
        no_numbers.push(name)

  if ids.length == 0
    alert("Your selection didn't contain any person with a phone number.")
    return false

  $('#bulk_send_dialog form').removeClass('bulk-email')
  $('#bulk_send_dialog form').addClass('bulk-sms')
  $('#bulk_send_dialog .subject').hide()
  $('#char_counter').show()
  $('#bulk_send_dialog #bulk_send_body').simplyCountable( { maxCount: 160 } )
  # $('#bulk_send_body').val($('#bulk_sms_message').val())  
  $('#bulk_send_dialog').dialog
    resizable: false,
    height:444,
    width:600,
    modal: true,
    title: 'Send Text Message',
    open: (event, ui) ->
      if no_numbers.length > 0
        html = '<div class="missing"><p>The following people are missing phone numbers and will not be contacted:<br/>'
        html += no_numbers.join(', ')
        html += '</p></div>'
        $('#bulk_send_dialog_message').show().find('.notice').html(html)
      else
        $('#bulk_send_dialog_message').hide()
    
      $(this).find('form').attr('action', '/people/bulk_sms')
    close: (event, ui) ->
      $('#bulk_sms_message').val($('#bulk_send_body').val())            
    buttons: 
      Send: ->
        $(this).submitBulkSendDialog()
        $('#bulk_sms_message').val($('#bulk_send_body').val())                
        $.n('Text message sent')        
      Cancel: ->
        $('#bulk_sms_message').val($('#bulk_send_body').val())        
        $(this).dialog('destroy')
  false        

$('#send_bulkcomment_link').live 'click', ->
  if $('.id_checkbox:checked').length == 0
    alert("You didn't select any people to comment on")
    return false
  $('.to_list').html('')
  ids = []
  
  $('.id_checkbox:checked').each ->
    id = $(this).val()
    tr = $(this).parent().parent();
    name = tr.attr('data-name')
    ids.push(id)    
    $('.to_list').append('<li data-id="'+id + '">'+ name + ' <a href="" class="delete">x</a></li>')

  if($('#all_selected_text').is(':visible'))    
    $('.all_row').each ->
      id = $(this).attr('data-id')
      name = $(this).attr('data-name')
      ids.push(id)      
      $('.to_list').append('<li data-id="'+id + '">'+ name + ' <a href="" class="delete">x</a></li>')    

  $('#bulk_send_dialog form').removeClass('bulk-email')
  $('#bulk_send_dialog form').addClass('bulk-sms')
  $('#bulk_send_dialog .subject').hide()
  $('#char_counter').show()
  $('#bulk_send_dialog #bulk_send_body').simplyCountable( { maxCount: 160 } )
  $('#bulk_send_body').val($('#bulk_sms_message').val())  
  $('#bulk_send_dialog').dialog
    resizable: false,
    height:444,
    width:600,
    modal: true,
    title: 'Bulk Message',
    open: (event, ui) ->
      $('#bulk_send_dialog_message').hide()
    
      $(this).find('form').attr('action', '/people/bulk_comment')
    close: (event, ui) ->
      $('#bulk_sms_message').val($('#bulk_send_body').val())            
    buttons: 
      Send: ->
        $(this).submitBulkSendDialog()
        $('#bulk_sms_message').val($('#bulk_send_body').val())                
        $.n('Comments posted')        
      Cancel: ->
        $('#bulk_sms_message').val($('#bulk_send_body').val())        
        $(this).dialog('destroy')
  false        

$('#bulk_send_dialog form').live 'submit', ->
  false

$('#transfer_org').live 'click', ->
  if $('.id_checkbox:checked').length > 0
    el = $('#assign_org')
    el.dialog
      resizable: false,
      height:650,
      width:600,
      modal: true,
      buttons: 
        Cancel: ->
          $(this).dialog('destroy')
  else
    $.a(t('contacts.index.none_checked'))
  false
  
$('#assign_org .org a').live 'click', (e)->
  e.preventDefault()
  form = $('#new_contact_assignment')
  from_id = $(this).closest('div').attr('data-org-id')
  to_id = $(this).attr('data-id')
  keep_contact = $('#keep-contact-copy > input').is(':checked')
  old_action = form.attr('action')
  form.attr('action', '/organizational_roles/move_to?from_id='+from_id+'&to_id='+to_id+'&keep_contact='+keep_contact)
  $.rails.handleRemote(form)
  if keep_contact == false
    $('.id_checkbox:checked').each ->
      $(this).closest('tr').remove()
  form.attr('action', old_action)
  $('#assign_org').dialog('destroy')
  if $('#people_controller.show')[0]
    setTimeout "document.location = '/people'", 1000
false
  
$('.check_all_mine').live 'click', ->
  first_row = $('#contacts_table').find('tr:first')
  text = first_row.text()
  if text.indexOf('Fetching') == 0
    $(this).attr('checked', true)  
    $('input.id_checkbox').attr('checked', true)  
    return false
    
  if true || $('.pagination').length
    if $(this).is(':checked')    
      $('#contacts_table').prepend('<tr><td colspan="6" align="center" style="background:none;">Fetching information...</td></tr>') 
      $.get '/contacts/mine_all?' + $(this).attr('data-status'), (html) ->
        $('#contacts_table').find('tr:first').remove()
        $('#contacts_table').prepend(html)    
    else
      first_row.remove()
 
$('.check_all_contacts').live 'click', ->
  first_row = $('#contacts_table').find('tr:first')
  text = first_row.text()
  if text.indexOf('Fetching') == 0
    $(this).attr('checked', true)  
    $('input.id_checkbox').attr('checked', true)  
    return false
    
  if true || $('.pagination').length
    if $(this).is(':checked')    
      $('#contacts_table').prepend('<tr><td colspan="99" align="center" style="background:none;">Fetching information...</td></tr>') 
      $.get '/contacts/contacts_all?' + $(this).attr('data-status'), (html) ->
        $('#contacts_table').find('tr:first').remove()
        $('#contacts_table').prepend(html)    
    else
      first_row.remove()
  
$('#check_all').live 'click', ->
  first_row = $('#people_table').find('tr:first')
  text = first_row.text()
  if text.indexOf('Fetching') == 0
    $(this).attr('checked', true)  
    $('input.id_checkbox').attr('checked', true)  
    return false
  
  checked = $(this).is(':checked')  
  if checked
    change_all_role_checkboxes(true)
  else
    change_all_role_checkboxes(false)
  $('input.id_checkbox').prop('checked', checked)  
  
  params = $(this).attr('data-params')  
  
  # only show option to select more if there are more than 1 page 
  if $('.pagination').length
    if checked    
      $('#people_table').prepend('<tr><td colspan="8" align="center" style="background:none;">Fetching information...</td></tr>') 
      $.get '/people/all?' + params, (html) ->
        $('#people_table').find('tr:first').remove()
        $('#people_table').prepend(html)     
    else
      if $('span#all_text', first_row)[0]?
        first_row.hide()

$('#roles_menu_div').live 'click', ->
  role_div = $(this).parent().find('.dropdown_1column')

  if $(role_div).attr('style')
    role_div.attr('style', '')
    $(this).attr('style', '')
  else
    role_div.css('left', '24.6em')
    $(this).attr('style', 'background: url("/assets/pillbg_over.png") repeat-x')
   
$('#apply_roles').live 'click', -> 
  return false if check_selected_roles() == 0
  return false if check_selected_people() == 0
  update_persons_roles()

$('.role_link_checkbox').live 'click', ->
  return false if check_selected_people() == 0
  role_checkbox = $(this).parent().find('input')
  update_checkbox_checkmark(role_checkbox)
  update_persons_roles()
   
$('.id_checkbox').live 'click', ->
  mark_as_checked = $(this).is ':checked'
  role_labels = get_role_labels($(this))
  change_role_checkboxes(role_labels, mark_as_checked)
  change_all_role_checkboxes(true) if !mark_as_checked
  disable_role_checkboxes()
  enable_all_unchecked()

check_selected_people = () ->
  checked = $('.id_checkbox:checked').length
  alert("You didn't select any people to update roles.") if checked == 0
  checked

check_selected_roles = () ->
  checked =  $('.role_id_checkbox:checked').length 
  alert("You didn't select any roles to apply.") if checked == 0
  checked

get_role_labels = (obj) ->   
  $('span.role_label', obj.closest('tr'))

disable_role_checkboxes = () -> # disable role checkboxes that only SOME of contacts have
  role_labels_array = []
  to_be_disabled = []
  to_be_enabled = []
  checked_length = $('input.id_checkbox:checked').length

  $('input.id_checkbox:checked').each ->
    role_labels = get_role_labels($(this))
    r = []
    role_labels.each ->
      role = $(this).attr('id').split('_')
      r.push(role[1])
    $.merge(role_labels_array, r)
  unique = role_labels_array.filter((itm, i, a) ->
    i is a.indexOf(itm))
  i = 0
  while(i < unique.length)
    j = 0
    count = 0
    while(j < role_labels_array.length)
      count++ if unique[i] == role_labels_array[j]
      j++
    to_be_disabled.push(unique[i]) if count < checked_length
    to_be_enabled.push(unique[i]) if count == checked_length
    i++
  l = 0
  while(l < to_be_disabled.length)
    checkbox = '#role_ids_' + to_be_disabled[l]
    $(checkbox).attr disabled: true
    #$(checkbox).attr checked: false
    l++

  l = 0
  while(l < to_be_enabled.length)
    checkbox = '#role_ids_' + to_be_enabled[l]
    $(checkbox).attr disabled: false
    $(checkbox).attr checked: true
    l++

  enable_and_uncheck_if_role_not_included_in_role_labels(role_labels_array)

enable_all_unchecked = () ->
  $('.role_id_checkbox:not(:checked)').each ->
    $(this).attr disabled: false

enable_and_uncheck_if_role_not_included_in_role_labels = (unique) ->
  $('.role_id_checkbox:checked').each ->
    l = 0
    while(l < unique)
      break if $(this).val() == unique[l]
      l++
    if l == unique.length
      $(this).attr disabled: false
      $(this).attr checked: false

change_role_checkboxes = (role_labels, check, n) ->
  role_labels.each ->
    role = $(this).attr('id').split('_')
    checkbox = '#role_ids_' + role[1]
    $(checkbox).attr checked: check 

change_all_role_checkboxes = (check) ->
  $('input.id_checkbox:checked').each ->
    role_labels = get_role_labels($(this))
    change_role_checkboxes(role_labels, check)

update_checkbox_checkmark = (role_checkbox) ->
  if role_checkbox.is ':checked'
    role_checkbox.attr checked: false
  else
    role_checkbox.attr checked: true

update_persons_roles = () ->
  role_ids = []
  some_role_ids = []

  $('#apply_roles_spinner').show()
  $("#apply_roles_successful").hide()
  $('.role_id_checkbox:checked').each ->
    role_id = $(this).val()
    role_ids.push(role_id)
    #if $(this).is ':enabled' #added for MH 299
    #  role_id = $(this).val()
    #  role_ids.push(role_id)
  $('.role_id_checkbox:not(:enabled)').each ->
    some_role_ids.push($(this).val())
  

  checked_elements = $('.id_checkbox:checked')
  
  checked_elements.each ->
    person_id = $(this).val()
    $.ajax
      type: 'POST',
      url: '/people/update_roles',
      data: 'role_ids='+role_ids+'&some_role_ids='+some_role_ids+'&person_id='+person_id,
      success: (data) ->
        roles_user = "#roles_user_" + person_id
        if data.indexOf("$.a") == -1
          $(roles_user).html data
          $("#apply_roles_spinner").hide()
          $("#apply_roles_successful").show()
          $("#apply_roles_successful").html("Roles have been applied.")
        else
          $("#apply_roles_spinner").hide()
          $("#apply_roles_successful").hide()
      #complete: ->
      #  if checked_elements.last().val() == person_id
      #    $("#apply_roles_spinner").hide()
      #    $("#apply_roles_successful").show()
      #    $("#apply_roles_successful").html("Roles have been applied.")

  
