$ ->
  $.facebook_autocomplete($("#avatar_facebook_search"))
  $.facebook_autocomplete($("#profile_facebook_search"))

  $(document).on 'click', '.info_edit #person_faculty', (e)->
    if $(this).is(':checked')
      $('#student_status_div').hide()
    else
      $('#student_status_div').show()

  $(document).on 'click', '.change_avatar', (e)->
    e.preventDefault()
    $('#avatar_fb_container').show()
    $('#avatar_browse_container').show()
    $('#display_avatar_file_name').text('')
    $('#avatar_fb_container #avatar_facebook_search').val('')
    $('#avatar_fb_container #person_fb_uid').val($('#avatar_fb_container #person_fb_uid').data('default'))
    $("img.browse_preview").attr("src", $("img.change_avatar").attr("src"))
    $("#avatar_upload").val("")
    $.showDialog($("#profile_avatar_dialog"))

  $(document).on 'click', 'button#browse_avatar', (e)->
    e.preventDefault()
    $('#avatar_upload').click()

  $(document).on 'click', '#avatar_save_button', (e)->
    e.preventDefault()
    $('#avatar_upload_form').submit()

  $(document).on 'change', '#avatar_upload', (e)->
    $('#avatar_fb_container #person_fb_uid').val($('#avatar_fb_container #person_fb_uid').data('default'))
    $('#avatar_fb_container').hide()
    $('#display_avatar_file_name').text($(this).val().split('\\').pop())

  $(document).on 'click', '.facebook_search_result', (e)->
    result = $(this)
    facebook_field = $("#"+result.data("for"))
    facebook_field.val("")
    facebook_field.val(result.find(".facebook_result_name").html())
    fb_uid_field = facebook_field.siblings(".facebook_uid").val(result.data("id"))
    if $('#avatar_browse_container').is(":visible")
      $('#avatar_browse_container').hide()
    $(".facebook_search_result").remove()

$.facebook_autocomplete = (facebook_field) ->
  search_field = $(facebook_field)
  if search_field.length > 0
    search_field.autocomplete
      minLength: 3
      delay: 300
      source: '/people/facebook_search.json'
    .data("autocomplete")
    ._renderItem = ( ul, item )->
      image_src = 'http://graph.facebook.com/v2.2/' + item.id + '/picture'
      if item.id == null
        resp = $("<li class='facebook_search_no_result'>Couldn't find facebook user with that name</li>")
      else
        resp = $( "<li class='facebook_search_result' data-id='" + item.id + "'></li>" ).data("item.autocomplete", item)
        resp.attr("data-for", search_field.attr("id"))
        resp.append("<div><img class='picture' src='" + image_src + "'/><span class='facebook_result_name'>" + item.name + "</span></div>")
      resp.appendTo(ul)
      return resp