$ ->
  $(document).on 'click', '.change_avatar', (e)->
    e.preventDefault()
    $('#avatar_fb_container').show()
    $('#avatar_browse_container').show()
    $('#display_avatar_file_name').text('')
    $('#avatar_fb_container #facebook_name_search').val('')
    $('#avatar_fb_container #person_fb_uid').val($('#avatar_fb_container #person_fb_uid').data('default'))
    $.showDialog($("#profile_avatar_dialog"))

  $(document).on 'click', 'button#browse_avatar', (e)->
    e.preventDefault()
    $('#avatar_upload').click()

  $(document).on 'click', '#avatar_save_button', (e)->
    e.preventDefault()
    $('#avatar_upload_form').submit()

  $(document).on 'change', '#avatar_upload', (e)->
    $('#avatar_fb_container #person_fb_uid').val($('#avatar_fb_container #person_fb_uid').data('default'))
    $('#avatar_fb_container').hide()
    $('#display_avatar_file_name').text($(this).val().split('\\').pop())

  $(document).on 'click', '.fb_user a', (e)->
    parent = $(this).parents('li.fb_user')
    if $(this).hasClass('no_user')
      $('#avatar_fb_container #facebook_name_search').val('')
    else
      $('#avatar_fb_container #facebook_name_search').val($(this).text())
      $('#avatar_fb_container #person_fb_uid').val(parent.data('id'))
      $('#avatar_browse_container').hide()

  $(document).on 'keyup', '#facebook_name_search', (e)->
    $(this).autocomplete
      minLength: 3
      delay: 1000
      source: '/people/facebook_search.json'
      select: (event, ui)->
        if(isNaN(ui.item.id))
          url = escape(ui.item.id)
          $('#fb_name_search_dialog').dialog
            resizable: false,
            height: 600,
            width: 800,
            modal: true,
            open: (event, ui) ->
              $(this).fbNameSearch(url)
            buttons:
              Cancel: ->
                $(this).dialog('destroy')
              Previous: ->
              More: ->
          false
        else
          if(ui.item.id == null)
            $('#fb_name_search_dialog').dialog('destroy')
          else
            $('#person_fb_uid').val(ui.item.id)
            link = 'http://www.facebook.com/profile.php?id=' + ui.item.id
            $('#facebook_url').html('<a href="' + link + '">' + link + '<a>')
        false
    .data("autocomplete")
    ._renderItem = ( ul, item )->
      image_src = 'http://graph.facebook.com/' + item.id + '/picture'
      resp = $( "<li class='fb_user' data-id='" + item.id + "'></li>" ).data("item.autocomplete", item)
      if item.id == null
        resp.append("<a class='no_user'>Couldn't find facebook user with that name</a>")
      else
        resp.append("<div class='fb_img' style='background:url(" + image_src + ")'>&nbsp</div> <a>" + item.name + "</a>")
      resp.appendTo(ul)
      return resp