@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

$base-font-size: 16px;

$font-primary-sans-serif: "Helvetica Neue", Arial, sans-serif;
$font-secondary-sans-serif: "Raleway", Arial, sans-serif;
$font-primary-serif: "adelle", serif;

@function pem($target, $context: $base-font-size) {
  @if $target == 0 { @return 0 }
  @return $target / $context + 0em;
}

body.welcome {
  font-family: $font-primary-sans-serif;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: 1.5;
  color: $color-content-text;

  a,
  a:link,
  a:visited {
    color: $color-link;
    text-decoration: none;
    @include transition-duration(".2s, .2s");
  }

  a:hover {
    color: lighten($color-blue, 5);
    text-decoration: underline;
  }

  section[role="global"] {
    h2 {
      margin: 0 0 .75em;
      color: $color-primary-header;
      // font-size: 34px;
      font-weight: 700;
    }

    h3 {
      color: $color-secondary-header;
      // font-size: 20px;
    }

    p {
      font-size: 18px;

      &.introductions {
        margin-bottom: 1em;
        font-size: 24px;
      }
    }
  }
}
