/* WIZARDRY */

.wizard {
  #rest {
    background: none;
  }
}

.wizard_steps {
  margin-right: 10px;
  div.wizard_step {
    line-height: 30px;
    height: 30px;
    border: 1px solid #c1ddef;
    padding: 0 8px;
    margin-bottom: 3px;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.49, rgb(255,255,255)),
      color-stop(0.88, rgb(234,241,246))
    );
    background-image: -moz-linear-gradient(
      center top,
      rgb(255,255,255) 49%,
      rgb(234,241,246) 88%
    );
  }
  .wizard_step_active,
  .wizard_step_name,
  .wizard_step_visited,
  .wizard_step_not_visited {
    display: inline-block;
  }
  .wizard_step_visited {
    background: url("<%= asset_path('check_complete.png') %>") no-repeat scroll 0 50% transparent;
    float: right;
    height: 30px;
    vertical-align: middle;
    width: 22px;
  }
  .wizard_step_not_visited {
    background: url("<%= asset_path('check_incomplete.png') %>") no-repeat scroll 0 50% transparent;
    float: right;
    height: 30px;
    vertical-align: middle;
    width: 22px;
  }
  .wizard_step_active,
  .wizard_step_inactive {
    width: 4px;
    margin-right: 9px;
    height: 30px;
    background: url("<%= asset_path('blue_arrow.png') %>") no-repeat 0 50%;
    display: inline-block;
    float: left;
  }
  .wizard_step_inactive {
    background: none;
  }
}

div.wizard {
  margin: 0 0 25px 0;
  border: 1px solid #c1ddef;
  padding: 5px 25px 15px;
  color: #666;
  display: block;
  font-family: Georgia;
  font-size: 14px;
  font-style: italic;
}