organization-overview-people {
  $visible-people: 10;

  .container {
    align-items: inherit;
    // Add another row for the header
    max-height: $person-height * ($visible-people + 1);
  }

  .people-list, ui-view {
    overflow: auto;
  }

  .people-list-filters {
    width: 222px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
  }

  .people-list {
    flex: 1; /* 25% of available width */
    min-width: 196px;
  }

  .collapsed {
    ui-view {
      flex: 3; /* 75% of available width */
      max-width: 530px;
    }

    ministry-view-person .detail-column {
      display: none;
    }
  }

  .header {
    @extend ministry-view-person;
    background-color: $pivot-darker-blue;

    input[type="checkbox"], input[type="checkbox"]:checked {
      background-color: $pivot-darker-blue;
      border: 1px solid $white;
    }
  }

  input[type="checkbox"] {
    position: relative;
    top: 2px;
  }
}
