organization-overview-contacts {
  $visible-contacts: 10;

  .container {
    align-items: inherit;
    // Add another row for the header
    max-height: $contact-height * ($visible-contacts + 1);
  }

  .contacts-list, ui-view {
    overflow: auto;
  }

  .contacts-list {
    flex-grow: 1;
  }

  .collapsed {
    ui-view {
      flex-grow: 1;
    }

    .contacts-list {
      flex-grow: initial;
    }

    contact .detail-column {
      display: none;
    }
  }

  .header {
    @extend contact;

    input[type="checkbox"] {
      background-color: $pivot-darker-blue;
      border: 0;
      &:checked {
        background-color: $pivot-darker-blue;
        border: 1px solid white;
      }
    }
  }

  input[type="checkbox"] {
    position: relative;
    top: 2px;
  }
}
