.warning {
  color: $pivot-orange;
}

.warning-highlight {
  /* Increase specificity for links so that this rule will not be overridden */
  &, &:link, &:hover {
    padding: 4px 7px;
    color: $white;
    background-color: $pivot-orange;
    border-radius: 40%;
  }
}

.medium-spacing {
  padding: 0 10px;
}

.title {
  font-size: 18px;
}

.subtitle {
  color: $gray-3;
  font-size: 12px;
}

.icon-chip {
  display: block;
  background-color: $gray-2;
  padding: 10px;
  border-radius: 100%;
  svg {
    display: block;
    fill: white;
  }
}

.primary-action {
  background-color: $pivot-bright-blue;
}

.actionable {
  cursor: pointer;
}
