@import '../variables/colors';

@mixin header($background-color) {
    min-height: 50px;
    background-color: $background-color;
    color: $white;
    svg {
        fill: $white;
    }
}

.header {
    @include header($pivot-dark-blue);
}

.subheader {
    @include header($pivot-darker-blue);
}
