@import '../variables/colors';

@mixin header($background-color) {
    min-height: 50px;
    background-color: $background-color;
    color: $gray-darker;
    svg {
        fill: $gray-darker;
    }
}

.header {
    @include header($white);
}

.subheader {
    @include header($white);
}
