.my-contacts-dashboard {
  .no-contacts-message {
    margin-top: 24px;
    margin-bottom: 36px;
    text-align: center;

    .largeRoundIcon {
      border-radius: 36px;
      display: inline-block;
      height: 72px;
      width: 72px;
      background: $pivot-gradient-light;
      background: -webkit-linear-gradient(down, $pivot-gradient-light 0%, $pivot-gradient-dark 100%);
      background: linear-gradient(to bottom, $pivot-gradient-light 0%, $pivot-gradient-dark 100%);
      ng-md-icon {
        fill: $white;
        display: inline-block;
        margin-top: 18px;
        padding-left: 6px;
      }
    }

    h1 {
      font-size: 32px;
      line-height: 32px;
      margin: 8px;
      font-weight: bold;
      color: $white;
      font-family: Montserrat, sans-serif;
    }

    p {
      font-size: 16px;
    }
  }
}