.nav-item,
[ui-sref],
[ui-state],
[ng-click] {
    cursor: pointer;
}

.tabs {
    display: flex;

    .tab {
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px;
        &,
        a {
            color: white;
        }
        border-bottom: 3px solid transparent;

        &.active {
            ::after {
                @media screen and (min-width: map-get($grid-breakpoints, md)) {
                    color: transparent;
                    content: '';
                    position: absolute;
                    bottom: -9%;
                    left: 40%;
                    margin: auto;
                    border-bottom: 6px solid $pivot-darker-blue;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    width: 0;
                }
            }
        }
        &.disabled {
            color: $gray-3;
            cursor: initial;
        }
    }
}
