.nav-item,
[ui-sref],
[ui-state],
[ng-click] {
    cursor: pointer;
}

.header .tabs {
    display: flex;

    .tab {
        display: flex;
        align-items: center;
        padding: 10px;
        &,
        a {
            color: white;
        }
        border-bottom: 3px solid transparent;
        &.active {
            color: $pivot-bright-blue;
            border-bottom-color: $pivot-bright-blue;
        }
        &.disabled {
            color: $gray-3;
            cursor: initial;
        }
    }
}
