.nav-item {
  cursor: pointer;
}

.tabs {
  display: flex;

  .tab {
    display: flex;
    align-items: center;
    padding: 10px;
    &, a {
      color: white;
    }
    border-bottom: 3px solid transparent;
    &.active {
      color: $pivot-bright-blue;
      border-bottom-color: $pivot-bright-blue;
    }
  }
}
