organization-people {
  display: block;
  margin-bottom: 20px;
  .header {
    background: $pivot-gradient-light;
    background: -webkit-linear-gradient(down, $pivot-gradient-light 0%, $pivot-gradient-dark 100%);
    background: linear-gradient(to bottom, $pivot-gradient-light 0%, $pivot-gradient-dark 100%);
    color: $white;
    display: flex;
    align-items: center;
    height: 48px;

    ng-md-icon {
      display: flex;
    }

    .org-name {
      width: 293px;
      padding: 0 8px;
      display: flex;
    }

    .organization-stats {
      flex: 1;
      display: flex;
      div {
        display: flex;
        justify-content: center;
        padding: 0 10px;
        width: 31px;
      }
    }
    .right-buttons {
      a, ng-md-icon {
        display: inline-block;
        line-height: normal;
      }
      a {
        padding: 0 4px;
      }
      ng-md-icon {
        height: 24px;
        width: 24px;
        padding: 12px 4px;
        svg {
          fill: $white;
        }
      }
      .sort-orgs-handle {
        display: inline-block;
        height: 48px;
        ng-md-icon {
          padding-top: 16px;
          padding-bottom: 0;
        }
      }
    }

    h2 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin: 0;
      font-weight: normal;
      font-size: 14px;
      font-family: 'Titillium Web', sans-serif;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      a {
        padding: 13px 0;
        display: inline-block;
      }
      a:visited {
        color: inherit;
      }
    }
    .chevron {
      fill: $white;
      padding: 14px 8px;
      margin-left: -8px;
      height: 19px;
      align-items: center;
      svg {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        transition: transform 200ms;
        margin: -10px 0;
      }
    }

    &.collapsed {
      .chevron svg {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
  }
  .people-list {
    display: flex;
    flex-direction: column;
  }

  round-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    color: $pivot-dark-blue;
    fill: $pivot-dark-blue;
    margin-left: 12px;
    margin-right: 6px;
    cursor: pointer;
    &:hover {
    }
    &:active {
    }
    & > ng-md-icon {
      display: inherit;
    }
    & + round-button {
      margin-left: 0;
    }
    &.disabled {
      cursor: initial;
      opacity: 0.3;
      &:hover, &:active {
        background: none;
      }
    }
  }

  .unassigned {
    background-color: $pivot-orange;
    color: $white;
    padding: 6px 11px 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a:visited, a:active {
      color: $white;
    }
    .snooze {
      color: $white;
      fill: $white;
      cursor: pointer;
      & > ng-md-icon {
        display: flex;
      }
    }
  }
}
