organization-people{
  .header{
    background: $pivot-dark-blue;
    color: $white;
    display: flex;
    height: 48px;
    line-height: 48px;

    .org-name {
      width: 294px;
      padding: 0 8px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
    .stats-icons {
      flex: 1;
      display: flex;
      ng-md-icon
      {
        display: flex;
        align-items: center;
        padding: 0 13px;
        width: 24px;
        transition: width 200ms;
        svg {
          fill: $pivot-muted-dark-blue;
        }
      }
    }
    .right-buttons {
      a {
        display: inline-block;
        padding: 9px 11px;
      }
      ng-md-icon svg {
        fill: $pivot-teal;
      }
    }

    h2{
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin: 0;
      font-weight: normal;
      font-size: 14px;
      font-family: 'Titillium Web', sans-serif;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      a:visited {
        color: inherit;
      }
    }
    .chevron {
      fill: #78919C;
      svg {
        transition: transform 200ms;
        margin: -10px 0;
      }
    }

    &.collapsed {
      margin-bottom: 12px;
      .chevron svg {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      ng-md-icon {
        width: 0;
      }
    }
  }
  .people-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
  round-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: $pivot-teal;
    color: $white;
    fill: $white;
    margin-left: 12px;
    margin-right: 6px;
    cursor: pointer;
    &:hover{
      background: $gray-1;
    }
    &:active{
      background: $gray-3;
    }
    & > ng-md-icon{
      display: inherit;
    }
    & + round-button{
      margin-left: 0;
    }
  }
}
