.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.text-row {
    align-items: baseline;
  }

  .column {
    @extend .medium-spacing
  }
  .normal-column {
    flex: 1;
  }
  .important-column {
    flex: 2;
  }
}
