<center>
  <%= t('.facebook_login') %><br/><br/>
  <%= link_to(image_tag('facebookconnect.png'), user_omniauth_authorize_path(:facebook_mhub), rel: 'external') %>
</center>
<div class="info"><br/><br/>
  <% survey_url = start_survey_url(@survey) %>
  <center><%= link_to(t('contacts.thanks.done'), user_signed_in? ? sign_out_url(next: survey_url) : survey_url ) %></center>
</div>
