<% provide :head do %>
  <%= render 'survey_responses/survey_head' %>
<% end %>
<% if @survey.logo_file_name.present? %>
  <%= image_tag(@survey.logo.url(:small), class: 'logo') %>
<% end %>

<h2><%= @survey.title %></h2>
<%= render partial: 'form', locals: {person: @person, survey: @survey, answer_sheet: @answer_sheet} %>
