<%= render :partial => 'survey_responses/survey_response_sidebar' %>
<div class="titlebar titlebarmod">
  <h1>
    <%= t('survey_responses.show.title', name: @person) %>
    <div id='global_loader'>
      <%= image_tag 'loader.gif'%>
    </div>
  </h1>
</div>

<% if @completed_answer_sheets.present? && @completed_answer_sheets.count %>
  <% @completed_answer_sheets.each do |answer_sheet| %>
    <% if answer_sheet.answers.count > 0 %>
      <%= render partial: 'interactions/survey_feed', locals: {answer_sheet: answer_sheet} %>
    <% end %>
  <% end %>
<% else %>
  <div class="feed_box notice">
    No completed surveys yet.
  </div>
<% end %>
