organizational-stats {
  flex: 1;
  display: flex;
  div {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    width: 51px;
    align-items: center;
    a {
      &, &:hover, &:active {
        color: $white;
      }
    }
  }
}