.filter_loader {
  vertical-align: top;
  color: #999;
  font-style: italic;
	font-family: Georgia;
  padding-top: 6px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.search_section {
  padding: 5px 13px 15px;
  div.search_section_title {
    font-family: Georgia, Serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    color: #808284;
  }
  div.fields {
    input.field-full {
      border: 1px solid #eee;
      width: 510px;
      max-width: 100% !important;
      padding: 4px 6px;
      font-size: 14px;
      margin: 10px 0px;
      color: #6d6f71;
    }
  }
  div.search_category {
    div.title {
      font-family: Georgia, Serif;
      font-style: italic;
      font-weight: normal;
      font-size: 16px;
      color: #808284;
      margin: 15px 20px 0;
      background-color: #fff;
      display: inline-block;
      padding: 0 5px;
    }
    div.search_filter_options {
      float: right;
      margin: 0;
      padding: 0px 0px 0px 5px;
      div.search_filter_option {
        display: inline-block;
        margin-right: 5px;
        color: #808284;
        .reset_search img {
          margin: -6px 0px;
        }
      }
    }
    div.extra_content {
      float: right;
      margin: 18px 10px 0px 0px;
      background: white;
      padding: 0px 0px 0px 5px;
      div.advanced_search_survey_update_loader {
        display: none;
        margin-right: 5px;
        color: #808284;
      }
    }
    div.fields {
      border: 1px solid #eee;
      border-right: none;
      margin: -8px -10px 10px 0px;
      padding: 15px 20px;
      div.search_group {
        margin: 20px 0 10px;
        div.group_title {
          font-family: Georgia, Serif;
          font-size: 16px;
          color: #6d6f71;
          margin: 10px 0 10px 0;
        }
        &:first-child {
          margin-top: 0px;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
      div.note {
        font-family: Georgia, Serif;
        padding: 6px 8px;
        font-size: 12px;
        color: #6d6f71;
        font-style: italic;
      }
      div.field {
        border: 1px solid #efefef;
        padding: 6px 8px;
        margin: 5px 0px;
        background-color: #fcfcfc;
        div.field_title {
          cursor: pointer;
          span.arrow {
            font-size: 10px;
            color: #6d6f71;
          }
          span.text {
            font-size: 14px;
            color: #6d6f71;
            padding-left: 3px;
          }
        }
        div.field_element {
          display: none;
          padding: 10px 15px 5px;
          &.active {
            display: block;
          }
          .field_option {
            display: inline-block;
            margin-right: 20px;
            font-size: 13px;
            color: #6d6f71;
            &.fixed {
              width: 160px;
            }
            &.near {
              margin-right: 10px;
              &.custom_datefield {
                width: 100px;
              }
            }
            .text_field {
              width: 200px;
              border: 1px solid #eee;
              padding: 4px 6px;
              font-size: 12px;
              color: #6d6f71;
            }
            &.survey_range {
              padding-left: 15px;
              .date_field {
                width: 110px;
                margin: 0px 5px;
                border: 1px solid #eee;
                padding: 4px 6px;
                font-size: 12px;
                color: #6d6f71;
                text-align: center;
              }
            }
          }
          .field_row {
            font-size: 13px;
            color: #6d6f71;
          }
        }
      }
    }
  }
}

