div#clear {
  clear: both;
}

div#snap_container1, div#snap_container2, div#snap_container3, div#snap_numbers {
  position: relative;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 300px;
  margin: 0 auto;
  float: left;
}

div#snap_gospel_exp, div#snap_laborers, div#snap_on_mission {
  width: 50%;
  height: 75px;
  float: left;
}

div#highcharts-0 defs+rect, div#highcharts-2 defs+rect, div#highcharts-4 defs+rect {
  fill:none;
}

svg>text[text-anchor=end] tspan{
  display:none;
}

div#snap_spinner {
  width: 100%;
  display:none;
}

div#rest {
  background:none;
}

div#rest #main, div#gandalfthewhite {
  border:none;
}

div#rest #main {
  padding:0 20px;
}

div#snapshot_movements {
  background-color:#ffffff;
  padding:8px 12px 8px 8px;
  max-height:300px;
  overflow-x:wrap;
  overflow-y:scroll;
  border:1px solid #c0c0c0;
  margin:0 8px;
}

div#snapshot_sidebar {
  background-color:#f6f6f6;
  /*--Border--*/
  border: 1px solid #c0c0c0;
  -webkit-border-radius: 4px;
  /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
  border-radius: 4px;
  margin:5px 0 0 20px;

}
div.movement_line {
  text-indent:-24px;
  margin-bottom:4px;
  margin-left:20px;
}

div.movement_line span {
  line-height:18px;
  margin-top:-8px;
  margin-left:4px;
}

div#snapshot_radio_buttons {
  padding:12px 8px;
}

div#snapshot_radio_button_custom {
  display:inline-block;
  margin-left:6px;
}

div#snapshot_radio_button_all {
  display:inline-block;
}

div#snapshot_button_uncheck_all {
  display:inline-block;
  margin-left:6px;
}

/*
div#snapshot_radio_button_all{
  float:left;
}

div#snapshot_radio_button_custom{
  float:right;
}
*/
div#snapshot_movements_submit {
  width:100%;
}

div#snapshot_movements_submit input{
  width:140px;
  margin:12px auto 0;
}

div#snapshot_movements_submit button{
  width:140px;
  margin:12px auto;
}

input[type="submit"].large_gray {
    /*--Border--*/
    border: 1px solid #333333;
    -webkit-border-radius: 4px;
    /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
    border-radius: 4px;
    /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
    /*--Gradient--*/
    background: #808284;
    /* Old browsers */
    background: -moz-linear-gradient(top, silver 0%, #858789 50%, #808284 50%, #808284 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, silver), color-stop(50%, #858789), color-stop(50%, #808284), color-stop(100%, #808284));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, silver 0%, #858789 50%, #808284 50%, #808284 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, silver 0%, #858789 50%, #808284 50%, #808284 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, silver 0%, #858789 50%, #808284 50%, #808284 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, silver 0%, #858789 50%, #808284 50%, #808284 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c0c0', endColorstr='#808284',GradientType=0 );
    /* IE6-9 */
    /*--Font--*/
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    /*line-height:24px;*/
    text-shadow: 0px -1px #333333;
    /*--Other--*/
    height: 32px;
    min-width: 85px;
    padding: 0 9px;
    display: block;
    cursor: pointer;
  }


input[type="submit"].large_gray:hover {
    background: #808284;
    border-color:#333333;
    text-shadow: 0px -1px #333333;
}

input[type="submit"].large_gray a {
    display:block;
    line-height:30px;
}

button[type="submit"].large_gray {
    /*--Border--*/
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 4px;
    /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
    border-radius: 4px;
    /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
    /*--Gradient--*/
    background: #f6f6f6;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f6f6f6));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #fcfcfc 0%, #f6f6f6 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f6f6f6',GradientType=0 );
    /* IE6-9 */
    /*--Font--*/
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    text-align: center;
    /*line-height:24px;*/
    text-shadow: 0px 1px #FFF;
    /*--Other--*/
    height: 32px;
    min-width: 85px;
    padding: 0 9px;
    display: block;
    cursor: pointer;
  }


button[type="submit"].large_gray:hover {
    background: #f6f6f6;
    border-color:#666666;
}

button[type="submit"].large_gray a {
    display:block;
    line-height:30px;
}

div#snap_gospel_exp {
}

div#snap_laborers {
  text-align:right;
}

div#snap_on_mission {
  margin-top:-16px;
}

div#snap_movements_data h2 {
  margin-bottom: 0px;
}

div#changed_lives {
  margin-top: 70px;
}

h3.snap_movement_data {
  width: 45%;
  float: left;
  margin: 5px;
}

div.changed_life {
  width: 25%;
  height: 90px;
  float: left;
  text-align: center;
}

div.changed_life img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
