/* Colors */
$blue-1: #0379AE;
$blue-2: #3594BE;
$blue-3: #C7DFF0;
$blue-4: #EAF1F6;
$blue-5: #F7F9FB;
$white: #fff;
$gray-1: #333333;
$gray-2: #808284;
$gray-3: #C0C0C0;
$gray-4: #F2F2F2;
$gray-5: #F8F8F8;
