/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#contacts_controller.all_contacts {
  #gandalfthewhite {
    border-bottom: none;
    margin-bottom: 5px;
  }
  #ac_sidebar {
    padding-left: 20px;
    #sidebar_loader {
      text-align: center;
    }
    .leftmenu {
      .entry {
        .name {
          max-width: 120px;
          display: inline-block;
        	white-space: nowrap;
        	overflow: hidden;
        	text-overflow: ellipsis;

          a {
            color: #0379ae;
          }
        }
        .delete_icon {
          display: none;
          height: 10px;
          padding: 0px;
          img {
            margin: 1px 0 0px;
          }
        }
        &:hover .delete_icon {
          display: inline-block;
        }
      }
    }
  }
  #rest {
    background: none;
  }
  #left {
    width: 180px;
  }
  #main {
    border: none;
    margin-left: 210px;
  }
  .contact_listing {
    width: 100%;
    border: 1px solid #C7DFF0;
    th {
      color: #0379ae;
      &.last_survey, &.first_name, &.last_name {
        min-width: 90px;
      }
      &.hidden_questions, &.phone {
        min-width: 120px;
      }
      &.gender {
        min-width: 60px;
      }
      &.status {
        min-width: 80px;
      }
    }
    tr {
      &:hover {
        background: #fff;
      }
    }
    td.cell {
      padding: 5px;
      &.labels {
        min-width: 150px;
        .roles_spaces {
          width: 160px;
          overflow: hidden;
          boarder: 1px solid red;
          .roles_cover {
            float: right;
          }
          .roles_container {
            width: 2000px;
            text-align: left;
          }
        }
      }
    }
  }
}

.handle {cursor: pointer; vertical-align: middle; margin-left: 5px;}
#bulk_send_subject {
  width: 680px;
  padding: 5px;
}
#bulk_send_body, #bulk_send_comment {
  width: 680px;
  padding: 5px;
  height: 60px;
}
#sms_compose_message_preview{
	display: none;
	.title{
		font-weight: bold;
	}
	.message_desc {
		width:10px;
	}
	.message_body {
		width: 280px;
		word-wrap:break-word;
	}
}
#send_contact_info_dialog input {
  width: 270px;
}
.red_errors {
  color: #990000;
}
.add_contact_survey_question_field {
  padding: 0 20px;
}
.add_contact_survey_title {
  margin: 10px 0px;
}
#add_contact_form {
  .form_group_label {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
		.form_group_optional {
			font-weight: normal;
			font-color: #ccc;
		}
  }
  .form_group_fields {
    padding: 5px 10px 15px;
  }
}
#hidden_questions_div {
	border: 1px solid red;
	position: absolute;
	right: 12px;
	width: 400px;
	background: white;
	padding: 0px;
	width: 450px;
  margin: 0;
	border: 1px solid #999;
	border-image: initial;
	box-shadow: #BBB 0px 2px 5px;
  #hidden_questions_list {
    max-height: 300px;
    overflow-x: auto;
  }
  #hidden_questions_guide {
    padding: 10px;
    font-size: 14px;
  }
  #hidden_questions_loader {
    text-align: center;
    padding: 20px;
    font-size: 14px;
  }
  ul#hidden_questions {
    padding: 0px;
    margin: 0px;
    padding: 0px 10px 10px 30px;
  }
}
#all_contacts_select_all_option {
  padding: 5px 7px;
}
#sidebar_div {
  #sidebar_loader {
    text-align: center;
    padding: 20px;
  }
}
#search_hidden_questions_div {
  #search_hidden_questions_guide {
    padding: 10px;
    font-size: 14px;
  }
  #search_hidden_questions_list {
    max-height: 300px;
    overflow-x: auto;
    ul#search_hidden_questions {
      margin: 0px;
      padding: 0px 10px 10px 20px;
      li a {
        color: #0379AE;
      }
    }
  }
  #search_hidden_questions_fetcher, #search_hidden_questions_loader {
    text-align: center;
    padding: 20px;
    font-size: 14px;
  }
}
#other_questions {
  .field.user_defined {
    width: 265px;
    padding-right: 10px;
    padding-left: 0px;
    display: inline-block;
  }
}
input.text.validate-date {
  width: 130px;
}
#locate_contact_container{
  #search_locate_contact_button{
    width: 70px;
  }
  #search_locate_contact_loading{
    display:none;
  }
  #search_locate_contact_button_containter{
    min-height:35px;
    overflow:hidden;
  }
  #locate_contact_results_container{
    height: 275px;
    overflow-y: scroll;
    
    .locate_contact_list_head{
      border:1px solid #0379ae;
      background-color: #eaf1f6;
      font-weight:bold;
    }
    td {
      border:1px solid #aaa;
      font-size:11px;
    }
    .wrap_list {
      word-wrap:break-word;
      width: 180px;
      overflow:hidden;    
    }
    .locate_contact_list_tr:hover{
      td{
        background-color:#f5ffc4;
      }
    }
    .locate_contact_list_link{
      font-weight:bold;
      font-size:12px;
      color:#0379ae;
    }
  }
}
#advanced_search_actions{
  overflow:hidden;
  a{
    font-size: 10px;
	 	color: #ffffff;
	}
  #advanced_search_right_container{
    margin-right:4px;
    float:right;
    overflow:hidden;
    width: 297px;
    #search_locate_button_container{
      float:left;
    }
    #advanced_search_button_container{
      float:right;
    }
  }
}