/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.handle {cursor: pointer; vertical-align: middle; margin-left: 5px;}

#send_contact_info_dialog input {
  width: 270px;
}

.red_errors {
  color: #990000;
}

.add_contact_survey_question_field {
  padding: 0 20px;
}

.add_contact_survey_title {
  margin: 10px 0px;
}

#add_contact_form {
  .form_group_label {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
		.form_group_optional {
			font-weight: normal;
			font-color: #ccc;
		}
  }
  .form_group_fields {
    padding: 5px 10px 15px;
  }
}

#hidden_questions_div {
	border: 1px solid red;
	position: absolute;
	right: 12px;
	width: 400px;
	background: white;
	padding: 10px;
	width: 450px;
	border: 1px solid #999;
	border-image: initial;
	box-shadow: #BBB 0px 2px 5px;
}

#all_contacts_select_all_option {
  padding: 5px 7px;
}