/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#contacts_controller.all_contacts, #contacts_controller.my_contacts, #labels_controller,
#groups_controller {
  #gandalfthewhite {
    border-bottom: none;
    margin-bottom: 5px;
  }
  #all_contacts_more_menu {
    position: absolute;
    background: white;
    padding: 0;
    width: 140px;
    border: 1px solid #C7DFF0;
    margin-left: -13px;
    box-shadow: 0 2px 5px #bbb;
    li {
      display: block;
      text-align: left;
      padding: 0;
      color: #333;
      a {
        color: #0379ae;
        font-size: 11px;
        padding: 0px 8px;
        line-height: 24px;
        margin: 0;
        &:hover {
          background: #eaf1f6;
          text-decoration: none;
        }
      }
    }
  }
  #group_member_sidebar{
    .information{
      padding: 4px 2px;
      background: #FFF0D7;
      margin: 2px 0px 4px 0px;
    }
    .title_with_bg{
      padding: 4px 2px;
      background: #eaf1f6;
      a {color: #fff;}
      font-weight:bold;
    }
    .title{
      font-weight:bold;
    }
    .content{
      padding: 0px 16px;
    }
  }
  #transfer_to_org {
    .fancy {
      margin: 55px 20px -15px;
      font-size: 14px;
      input[type=text] {
        width: 380px;
      }
    }
    #transfer_to_org_content {
      padding: 0;
      ul {
        padding: 0;
        margin: 0;
        li {
          display: block;
          text-align: left;
          padding: 0;
          a {
            font-size: 12px;
            padding: 0px 12px;
            display: block;
            line-height: 24px;
            margin: 0;
            &:hover {
              text-decoration: none;
              background: #eaf1f6;
            }
          }
        }
      }
    }
  }
  #bulk_vcard_dialog {
    #bulk_vcard_dialog_box {
      width: 400px;
      .fancy {
        margin: 55px 20px -15px;
        font-size: 14px;
      }
      #bulk_vcard_dialog_content {
        margin: 0px 15px 10px;
      }
      #bulk_vcard_dialog_buttons {
        width: 386px;
      }
    }
  }
  #ac_sidebar {
    padding-left: 20px;
    #sidebar_loader {
      text-align: center;
    }
    #mine_sidebar_lists{
      a{
    		color: #808284;
      }
      li {
        padding:4px 0px;
      }
      .selected_class{
        a{
          color: rgb(3, 121, 174);
        }
      }
    }
    .leftmenu {
      margin-top: 24px;
      .side_list {
        display: none;
      }
      .entry {
        max-width: 140px;
        word-wrap: break-word;
        text-indent:-2em;
        margin: 2px 0px 2px 2em;
        a {
          color: #0379ae;
          font-weight: normal;
        }
        .delete_icon {
          display: none;
          height: 10px;
          padding: 0px;
          img {
            margin: 2px 0px 0px 6px;
          }
        }
        &:hover .delete_icon {
          display: inline-block;
          float:right;
        }
        &:hover a{
          text-decoration: underline;
        }
      }
      .selected_entry {
        a, .count {
          font-weight: bold;
        }
      }
    }
  }
  #rest {
    background: none;
  }
  #left {
    width: 180px;
    min-height: 420px;
  }
  #main {
    border: none;
    margin-left: 210px;
    margin-right: 20px;
    min-height: 420px;
  }
  .contact_listing {
    width: 100%;
    border: 1px solid #C7DFF0;
    th {
      color: #0379ae;
      &.last_survey, &.first_name, &.last_name {
        min-width: 90px;
      }
      &.hidden_questions, &.phone {
        min-width: 120px;
      }
      &.gender {
        min-width: 60px;
      }
      &.status {
        min-width: 80px;
      }
    }
    tr {
      &:hover {
        background: #fff;
      }
    }
    td.cell {
      padding: 5px;
      &.labels {
        min-width: 150px;
        .roles_spaces {
          width: 160px;
          overflow: hidden;
          boarder: 1px solid red;
          .roles_cover {
            float: right;
          }
          .roles_container {
            width: 2000px;
            text-align: left;
          }
        }
      }
    }
    .group_labels_column, .group_name_column{
      min-width: 120px;
      a {
        color: #0379ae;
      }
    }
  }
}

.handle {cursor: pointer; vertical-align: middle; margin-left: 5px;}
#bulk_send_subject {
  width: 680px;
  padding: 5px;
}
#bulk_send_body, #bulk_send_comment {
  width: 680px;
  padding: 5px;
  height: 60px;
}
#sms_compose_message_preview{
	display: none;
	.title{
		font-weight: bold;
	}
	.message_desc {
		width:10px;
	}
	.message_body {
		width: 280px;
		word-wrap:break-word;
	}
}
#send_contact_info_dialog input {
  width: 270px;
}
.red_errors {
  color: #990000;
}
.add_contact_survey_question_field {
  padding: 0 20px;
}
.add_contact_survey_title {
  margin: 10px 0px;
}
#add_contact_form {
  .form_group_label {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
		.form_group_optional {
			font-weight: normal;
			font-color: #ccc;
		}
  }
  .form_group_fields {
    padding: 5px 10px 15px;
    .permissions_checkbox {
      display: inline-block;
      margin-right: 20px;
      input {
        margin-right: 2px;
      }
    }
  }
}
#hidden_questions_div {
  position: absolute;
	border: 1px solid red;
	right: 20px;
	width: 400px;
	background: white;
	padding: 0px;
	width: 450px;
  margin: 0;
	border: 1px solid #999;
	border-image: initial;
	box-shadow: #BBB 0px 2px 5px;
  #hidden_questions_list {
    max-height: 300px;
    overflow-x: auto;
  }
  #hidden_questions_guide {
    padding: 10px;
    font-size: 14px;
  }
  #hidden_questions_loader {
    text-align: center;
    padding: 20px;
    font-size: 14px;
  }
  ul#hidden_questions {
    padding: 0px;
    margin: 0px;
    padding: 0px 10px 10px 30px;
  }
}
#all_contacts_select_all_option {
  padding: 5px 7px;
}
#sidebar_div {
  #sidebar_loader {
    text-align: center;
    padding: 20px;
  }
}
#search_hidden_questions_div {
  #search_hidden_questions_guide {
    padding: 10px;
    font-size: 14px;
  }
  #search_hidden_questions_list {
    max-height: 300px;
    overflow-x: auto;
    ul#search_hidden_questions {
      margin: 0px;
      padding: 0px 10px 10px 20px;
      li a {
        color: #0379AE;
      }
    }
  }
  #search_hidden_questions_fetcher, #search_hidden_questions_loader {
    text-align: center;
    padding: 20px;
    font-size: 14px;
  }
}
#other_questions {
  .field.user_defined {
    width: 265px;
    padding-right: 10px;
    padding-left: 0px;
    display: inline-block;
  }
}
input.text.validate-date {
  width: 130px;
}
#locate_contact_container{
  #search_locate_contact_button{
    width: 70px;
  }
  #search_locate_contact_loading{
    display:none;
  }
  #search_locate_contact_button_containter{
    min-height:35px;
    overflow:hidden;
  }
  #locate_contact_content{
    width:790px;
    height:565px;
  }
  .mh_popup_buttons{
    width:780px;
  }
  #locate_contact_results_container{
    height: 275px;
    overflow-y: scroll;
    .locate_contact_list_head{
      border:1px solid #0379ae;
      background-color: #eaf1f6;
      font-weight:bold;
    }
    td {
      border:1px solid #aaa;
      font-size:11px;
    }
    .wrap_list {
      word-wrap:break-word;
      width: 180px;
      overflow:hidden;
    }
    .locate_contact_list_tr:hover{
      td{
        background-color:#f5ffc4;
      }
    }
    .locate_contact_list_link{
      font-weight:bold;
      font-size:12px;
      color:#0379ae;
    }
  }
}
#advanced_search_actions{
  overflow:hidden;
  a{
    font-size: 10px;
	 	color: #ffffff;
	}
  #advanced_search_right_container{
    margin-right:4px;
    float:right;
    overflow:hidden;
    width: 297px;
    #search_locate_button_container{
      float:left;
    }
    #advanced_search_button_container{
      float:right;
    }
  }
}

#bulk_send_msg_dialog {
  .note {
		margin: 10px 0;
		font-family: Georgia;
		font-size: 13px;
		font-style: italic;
		font-weight: normal;
		color: #808284;
    .reply_to_toggle {
      display: inline-block;
      vertical-align: top;
    }
  }
  .mh_popup_box{
    width:733px;
  }
  .mh_popup_buttons {
  	width:721px;
  }

}
