// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard_main {
	padding: 15px 15px;
	
	#dashboard_panels {
		text-align: center;
		vertical-align: top;
		width: 900px;
		margin: 0 auto;
		
		#dashboard_left {
			float: left;
			width: 300px;
			
			.dash_links {
				border: 1px solid #ccc;
				background: #F0F0F0;
				-webkit-border-radius: 9px;
				-moz-border-radius: 9px;
				border-radius: 9px;
				margin-bottom: 15px;
				
				.dash_link {
					padding: 10px 10px;
					height: 64px;
					
					.dash_icon {
						width: 64px;
						height: 64px;
						float: left;
						margin-right: 20px;
					}
					
					.dash_content {
						text-align: left;
						height: 64px - 20px;
						line-height: 22px;
						vertical-align: middle;
						padding: 10px;
						
						a {
							font-size: 14px;
							margin-top: 5px;
							&:hover {
								text-decoration: none;
								opacity: 0.9;
								cursor: pointer;
							}
						}
			
					}
				}
								
				.dash_divider {
					width: 95%;
					margin: 0 auto;
				}
				
				&.lower_box {
					padding: 0 0 10px;
				}
				
				.lower_box_title {
					padding: 10px;
					font-size: 18px;
					text-align: left;
					color: #666;
				}
				
				.lower_box_item {
					padding: 0px 15px 4px;
					height: 25px;
					
					.lower_box_count {
						background: #008db7;
						width: 26px;
						height: 22px;
						float: left;
						padding: 4px 0 0 0;
						font-size: 14px;
						text-align: center;
						vertical-align: middle;
						color: #fff;
						margin-right: 10px;
					}
					
					.lower_box_link {
						text-align: left;
						padding: 4px;
						a {
							font-size: 14px;
							&:hover {
								text-decoration: none;
								opacity: 0.9;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	
		#dashboard_right {
			float: right;
			width: 560px;
			
			#dash_content {
				margin: 20px 0;
				
				.description {
					float: left;
					width: 65%;
					padding: 0 0 20px 0;
					text-align: left;
					
					.title {
						font-weight: bold;
						color: #0379AE;
						font-size: 14px;
					}
					.date {
						color: #0379AE;
						font-size: 13px;
						margin-bottom: 15px;
					}
					.info {
						color: #666;
						font-size: 13px;
						text-align: justify;
					}
				}
			
				.social_buttons {
					float: right;
					width: 34%;
					text-align: right;
				}
			}
		}
	}
}