.manage_labels {
	width: 325px;
	padding: 15px;
}
.label_space {
	height: 230px;
	width: 300px;
}
.label_list {
	border: 1px solid #CCC;
	height: 230px;
	width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 10px 10px 4px;
}
.label_new {
	width: 300px;
	margin: 5px 10px 10px;
	#new_label_field {
		width: 198px;
		padding: 6px 3px;
		background: #fefefe;
		&.loading {
			background: #fefefe url(loader.gif) no-repeat 99%;
		}
	}
	#new_label_button {
		width: 90px;
	}
	#new_label_message {
		text-align: center;
		height: 24px;
		margin-top: 3px;
		color: #900;
		font-weight: bold;
	}
	#new_label_loader {
		height: 24px;
		text-align: center;
	}
}
.label_item {
	border-bottom: 1px solid #CCC;
	padding: 4px;
	background: #FCFCFC;
}
.import_label {
	width: 90px;
	display: inline-block;
}
.import_field {
	display: inline-block;
}
.import_header {
	height: 60px;
	.import_step {
		width: 60px;
		float: left;
		img {
			width: 50px;
			height: 50px;
		}
	}
	.import_info  {
		float: left;
		margin-top: 14px;
		font-family: Tahoma, Arial;
		color: #333;
		font-size: 21px;
		font-weight: bold;
	}
}
.stepwrap {
	min-height: 30px;
}

#import_container {
	margin: 0 auto;
	width: 574px;
	
		h1.title {
			float: left;
			font-family: Georgia;
			font-size: 24px;
			font-style: italic;
			font-weight: normal;
			color: #808284;
		}
		
		.helpme {
			margin-top: 1.2em;
			margin-right: 1em;
			padding: 0.5em 1em;
			float: right;
			display: block;
			background: #fff2a2;
			border: 1px solid #ffeb74;
			-moz-border-radius: 8px;
			border-radius: 8px;
			font-weight: bold;
			color: #222;
		}
		
		.helpme:hover {
			text-decoration: none;
			background: #ffeb74;
		}
		
		.helpme:actice {
			background: #fff2a2;
		}
	
		.container {
			clear: both;
			border: 1px solid #eaf1f6;
			border-top: 25px solid #eaf1f6;
				
				.content {
					padding: 0 3em;
					font-family: Georgia;
					font-size: 14px;
					font-style: italic;
					color: #808284;
					
					ol {
						margin: 2em 0;
						font-size: 12px;
					}
				}
				
				.uploadimports {
					padding: 0;
					width: 100%;
					border-radius: 0;
					background: #eaf1f6;
					
					.uploadform {
						padding: 1em;
						
						.fileinput {
							margin: 0 5px 0 0;
							padding: 5px;
							border: none;
							-moz-border-radius: 0;
							border-radius: 0;
							width: 65%;
						}
						
						input[type="submit"] {
							float: right;
							background: #fff;
							border-radius: 8px;
							border: 1px solid #808284;
						}
					}
				}
		}
}