#organizations_container {
	margin: 0 auto;
	width: 790px;
	
		.inside_container {
			margin: 0 auto;
			width: 630px;
		}
	
		h1.title {
			float: left;
			font-family: Georgia;
			font-size: 24px;
			font-style: italic;
			font-weight: normal;
			color: #808284;
		}
		
		.helpme {
			margin-top: 1.2em;
			margin-right: 1em;
			padding: 0.5em 1em;
			float: right;
			display: block;
			background: #fff2a2;
			border: 1px solid #ffeb74;
			-moz-border-radius: 4px;
			border-radius: 4px;
			font-weight: bold;
			color: #222;
		}
		
		.helpme:hover {
			text-decoration: none;
			background: #ffeb74;
		}
		
		.helpme:active {
			background: #fff2a2;
		}
	
		.container {
			clear: both;
			background-color: #eaf1f6;
			border: 1px solid #eaf1f6;
			border-top: 25px solid #eaf1f6;
				
				.content {
					font-family: Tahoma;
					font-size: 11px;
					color: #333;
					
					table {
						&.header_table {
							tr:first-child {
								background: #c7dff0;
							}
						}
						
						width: 100%;
						table-layout: fixed;
						text-align: left;
						
						th {
							padding: 5px;
							width: 100px;
							vertical-align: middle;
						}
						
						td {
							padding: 5px 0px 5px 10px;
							width: 100px;
							vertical-align: middle;
							&:first-child {
								padding: 5px
							}
						}
						
						th:first-child, td:first-child {
							text-align: center;
							width: 30px;
						}
						
						th:last-child, td:last-child {
							width: 190px;
						}
						
						tr {
							border-bottom: 1px solid #eaf1f6;
						}
					}
					
					.transfer_info {
						overflow-y: scroll;
						overflow-x: hidden;
						height: 240px;
						background: #fff;
						text-align: left;
					}
					
					.transfer_results {
						background: #fff;
						text-align: center;
						
						.transfer_message {
							padding: 3.95em 0;
							font-family: Georgia;
							font-size: 18px;
							line-height: 18px;
							color: #808284;
							font-style: italic;							
							
							p {
								margin: 0;
								padding: 0;
								display: inline-block;
								vertical-align: top;
							}
							
							p.with_image {
								margin-left: 1em;
								padding: 0.9em 0;
							}
						}
						
						.with_error {
							padding: 2.97em 0;
						}
					}
					
					.transfer_actions {
						overflow: hidden;
						background: #eaf1f6;
						
						.info_left {
							float: left;
							width: 240px;
							
							div:nth-child(odd) {
								float: left;
							}
							
							.select_option {
								margin-right: 0.5em;
							}
							
							.options {
								margin-bottom: 0.6em;
							}
							
							.pri_text {
								font-family: Georgia;
								font-size: 12px;
								line-height: 12px;
								color: #808284;
								font-style: italic;
							}
							
							.sec_text {
								font-family: Georgia;
								font-size: 9px;
								line-height: 9px;
								color: #808284;
								font-style: italic;
							}
						}
						
						.info_right {
							overflow: hidden;
							float: right;
							min-height: 24px;
							text-align: right;
							padding-right: 3px;
							
							#add_sent_contact {
								margin: 3px 0px 8px 3px;
								padding: 3px;
								width: 290px;
								border: 1px solid #c7dff0;
								font-family: Georgia;
								font-size: 12px;
								color: #666;
								text-align: center;
							}
							
							.action_button {
								background: #fff;
								border-radius: 4px;
								border: 1px solid #808284;
								font-family: Arial;
								font-size: 11px;
								line-height: 11px;
								font-weight: bold;
								color: #333;
								cursor: pointer;
								text-shadow: #eee 0px 1px 0px;
								vertical-align: top;
							}
							
							.action_button:hover {
								text-decoration: none;
								background: #c7dff0;
								border-color: #0379ae;
							}
							
							#cancel_transfer {
								padding: 0.49em 3.18em;
								display: inline-block;
							}
							
							#begin_transfer {
								margin: 0 0 0 5px;
								padding: 0;
								width: 108px;
								height: 24px;
							}
							
							#ok_transfer {
								padding: 0.49em 2.15em;
								display: inline-block;
							}
							
							#re_start_transfer {
								margin: 0;
								padding: 0;
								width: 162px;
								height: 24px;
							}
							
							#return_dashboard {
								margin: 0 0 0 1.1em;
								padding: 0.49em 2.25em;
								display: inline-block;
							}
						}
						
						.info_full {
							width: 100%;
						}
					}
					
					.actions_92 {
						padding: 1.47em 1.5em;
					}
					
					.actions_48 {
						padding: 1.1em 1.5em;
					}
				}
		}
}