@import './variables/colors';
@import './variables/generateColors';
@import './components/dropdown';
@import './components/global';
@import './components/grid';
@import './components/header';
@import './components/navigation';
@import './components/row';
@import './components/sheet';
@import '~tachyons';

//This is the new section here

app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: $pivot-dark-blue;

    > header {
        margin-bottom: 140px;

        nav-header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 100;

            .main-menu {
                height: 64px;
                padding: 15px 15px;

                .logo {
                    background: url(/app/assets/images/logo-missionhub-initials.png)
                        no-repeat;
                    background-size: 48px;
                    width: 48px;
                    height: 100%;

                    @media only screen and (min-width: 1130px) {
                        background: url(/app/assets/images/logo-missionhub@2x.png)
                            no-repeat;
                        background-size: 124px;
                        width: 124px;
                    }
                }

                > ul:first-of-type {
                    > li {
                        display: inline-block;
                        position: relative;

                        &.current,
                        &:hover {
                            &:after {
                                content: '';
                                display: inline-block;
                                width: 0;
                                height: 0;
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-bottom: 10px solid $white;
                                position: absolute;
                                left: calc(50% - 7.5px);
                                bottom: -20px;
                                margin-left: -10px;
                            }
                        }
                    }
                }

                nav-search {
                    .search-autocomplete-field {
                        cursor: pointer;
                        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8%2BCjxzdmcgd2lkdGg9IjI0cHgiIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA0MC4zICgzMzgzOSkgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0%2BCiAgICA8dGl0bGU%2BU2VhcmNoPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM%2BPC9kZWZzPgogICAgPGcgaWQ9Ik1ILU1pbmlzdHJpZXMtVmlldyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI%2BCiAgICAgICAgPGcgaWQ9Ik1pbmlzdHJ5LVN1cnZleXMtMS4yLVByb2ZpbGUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05OTIuMDAwMDAwLCAtMTguMDAwMDAwKSIgZmlsbD0iI0ZGRkZGRiI%2BCiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xMDE1Ljc4LDQwLjcyIEwxMDA5LjU3MiwzNC41MTIgQzEwMTEuMDgxLDMyLjc2MSAxMDEyLDMwLjQ4OCAxMDEyLDI4IEMxMDEyLDIyLjQ4NiAxMDA3LjUxMywxOCAxMDAyLDE4IEM5OTYuNDg2LDE4IDk5MiwyMi40ODYgOTkyLDI4IEM5OTIsMzMuNTE0IDk5Ni40ODYsMzggMTAwMiwzOCBDMTAwNC40ODcsMzggMTAwNi43NiwzNy4wODIgMTAwOC41MTIsMzUuNTczIEwxMDE0LjcxOSw0MS43ODEgQzEwMTQuODY2LDQxLjkyNyAxMDE1LjA1Nyw0MiAxMDE1LjI1LDQyIEMxMDE1LjQ0Miw0MiAxMDE1LjYzMyw0MS45MjcgMTAxNS43OCw0MS43ODEgQzEwMTYuMDczLDQxLjQ4OCAxMDE2LjA3Myw0MS4wMTMgMTAxNS43OCw0MC43MiBaIE0xMDEwLjUsMjggQzEwMTAuNSwzMi42ODcgMTAwNi42ODYsMzYuNSAxMDAyLDM2LjUgQzk5Ny4zMTMsMzYuNSA5OTMuNSwzMi42ODcgOTkzLjUsMjggQzk5My41LDIzLjMxMyA5OTcuMzEzLDE5LjUgMTAwMiwxOS41IEMxMDA2LjY4NiwxOS41IDEwMTAuNSwyMy4zMTMgMTAxMC41LDI4IFoiIGlkPSJTZWFyY2giPjwvcGF0aD4KICAgICAgICA8L2c%2BCiAgICA8L2c%2BCjwvc3ZnPg%3D%3D)
                            5px 0 no-repeat;
                        height: 24px;
                        width: 30px;
                        border: 0 solid white;
                        font-size: 0px;

                        &.ui-autocomplete-loading {
                            background-color: transparent !important;
                        }

                        &::placeholder {
                            color: $white;
                            opacity: 0.5;
                        }

                        &:focus {
                            border-width: 0 0 1px;
                            background: none;
                            font-size: 12px;
                            width: 290px;
                            outline: none;
                        }
                    }
                }

                .avatar-nav {
                    display: flex;
                    font-size: 14px;
                    list-style: none;
                    margin-bottom: 0;

                    > li {
                        position: relative;
                        padding-bottom: 20px;

                        &:hover {
                            > ul {
                                top: 48px;
                            }
                        }

                        ul {
                            min-width: 120px;
                            border: 1px solid #06415f;
                            border-top: none;
                            background-color: #06415f;
                            list-style: none;
                            position: absolute;
                            top: 48px;
                            left: -69px;
                            padding: 0;
                            z-index: 100;
                            top: -999em;

                            > li {
                                background: none;
                                position: relative;
                                height: 30px;
                                line-height: 30px;
                                font-size: 14px;
                                text-align: center;
                                width: auto;

                                > a {
                                    padding: 0 1.5em;
                                    color: $gray-4;
                                    text-decoration: none;
                                    display: block;

                                    &:hover {
                                        background-color: #085378;
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }

                    .avatar {
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        background: $pivot-dark-blue;
                        position: relative;
                        align-items: center;
                        justify-content: space-around;
                        font-weight: bold;
                        display: flex;

                        img {
                            position: absolute;
                        }
                    }
                }
            }
        }
    }

    .font-titillium,
    .titillium {
        font-family: 'Titillium Web', sans-serif !important;
    }

    .font-source-sans,
    .source-sans {
        font-family: 'Source Sans Pro', sans-serif;
    }

    .sub-navigation {
        height: 53px;
        position: fixed;
        top: 64px;
        left: 0;
        right: 0;
        z-index: 50;
        box-shadow: 0 0 10px #808284;
    }

    .main-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        min-width: 765px; //Currently below this width components mess up so locking here for now.

        @media screen and (min-width: 768px) {
            width: 765px;
        }

        @media screen and (min-width: 992px) {
            width: 976px;
        }

        @media screen and (min-width: 1352px) {
            width: 976px;
        }
    }

    .btn-primary {
        background-color: $pivot-dark-blue;
        font-size: 0.8em;
        color: $white !important;
        padding: 11px 15px 13px 15px;
        padding-right: 15px;
        text-decoration: none;
        display: inline-block;
        min-width: 210px;
        border-radius: 0.25em;
        text-align: center;

        transition: color 0.15s ease-in;
        text-transform: uppercase;

        &:hover {
            opacity: 0.5;
            transition: opacity 0.15s ease-in;
        }
    }

    .btn-key {
        &:before {
            background: url(/app/assets/images/icons/logo-key-1x.png) no-repeat
                center center;
            width: 20px;
            height: 22px;
            display: block;
            content: '';
            margin-right: 19px;
            position: relative;
            top: 2px;
            left: 0;
            float: left;
        }
    }

    .btn-facebook {
        &:before {
            background: url(/app/assets/images/icons/facebook-1x.png) no-repeat
                center center;
            width: 20px;
            height: 22px;
            display: block;
            content: '';
            margin-right: 19px;
            position: relative;
            top: 2px;
            left: 0;
            float: left;
        }
    }
}

.flex-grow-5 {
    flex-grow: 5;
}

a {
    color: $blue-1;
}

//End new section

.pivot_theme {
    $focus-gray: $gray-4;
    $label-color: $gray-1-5;
    $field-stroke-color: $gray-3;

    textarea,
    input[type='text'],
    input[type='button'],
    input[type='submit'],
    input[type='radio'],
    input[type='checkbox'] {
        -moz-appearance: none;
        -webkit-appearance: none;
        border: 1px solid $field-stroke-color;
        border-radius: 0;
        background-color: $white;
        color: $pivot-dark-blue;
    }

    textarea,
    input[type='text'],
    input[type='email'],
    input[type='tel'] {
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        &:focus {
            background-color: $focus-gray;
            border-color: $focus-gray;
        }
    }

    .ui-select-container.open,
    .form .ui-select-container.open {
        background-color: $focus-gray;
        border-color: $focus-gray;
    }

    input[type='radio'] {
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-clip: content-box;
        padding: 2px;
        position: absolute;
        &:checked {
            background-color: $pivot-dark-blue;
        }
    }

    input[type='checkbox'] {
        height: 14px;
        width: 14px;
        &:checked {
            background-color: $pivot-dark-blue;
            background-image: url('data:image/svg+xml;utf8,<svg width="8px" height="8px" viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-409, -448)" fill="%23FFF"><path d="M412.250024,456.000761 C412.062019,456.000761 411.879014,455.930759 411.74001,455.800755 L409.239939,453.48169 C408.936931,453.200682 408.91793,452.726669 409.199938,452.42266 C409.480946,452.118651 409.95796,452.101651 410.259968,452.382659 L412.09002,454.079707 L415.611119,448.356545 C415.828125,448.005535 416.291138,447.893532 416.643148,448.111538 C416.996158,448.328545 417.105161,448.790558 416.889155,449.143568 L412.889042,455.643751 C412.771039,455.834756 412.574033,455.96376 412.352027,455.993761 C412.317026,455.998761 412.284025,456.000761 412.250024,456.000761"></path></g></svg>');
            background-repeat: no-repeat;
            background-position: 50%;
            border: 0;
        }
    }

    .required-field::after {
        content: '*';
        color: $pivot-orange;
    }

    .form {
        .form-group {
            margin-bottom: 16px;

            label + label {
                margin-top: 10px;
            }
        }

        label {
            display: block;
            position: relative;
            margin-bottom: 0;

            .label {
                display: block;
                padding-bottom: 3px;
                font-size: 12px;
                color: $label-color;
            }
        }

        .form-control {
            -moz-appearance: none;
            -webkit-appearance: none;
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 32px;
            border: 1px solid $field-stroke-color;
            border-radius: 0;
            background-color: $white;
            color: $pivot-dark-blue;
            padding: 0 8px;
            font-size: 14px;

            &.invalid {
                border-color: $pivot-orange;
            }
        }

        textarea.form-control {
            height: 3.5em;
            line-height: normal;
        }

        .form-control-select {
            position: relative;
            select {
                padding-right: 30px;
                outline: none;
                &:focus {
                    background-color: $focus-gray;
                    border-color: $focus-gray;
                }
            }
            &::after {
                content: ' ';
                position: absolute;
                top: 64%;
                right: 1em;
                z-index: 2;
                pointer-events: none;
                display: block;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid $pivot-dark-blue;
            }
            &.disabled {
                &::after {
                    border-top-color: $gray-2;
                }
                select {
                    color: $gray-2;
                }
            }
        }

        .form-group--radio {
            .label {
                color: $label-color;
                display: block;
                font-size: 12px;
                margin-bottom: 2px;
            }

            label {
                display: inline-block;
                margin-right: 1em;
            }

            input[type='radio'] {
                position: static;
            }
        }
    }

    .btn {
        @include font-smoothing(on);
        background: #007398;
        font-size: 15px;
        color: #ffffff;
        padding: 0 0.25rem 0 0.25rem;
        text-decoration: none;
        display: inline-block;
        text-align: left;
        -moz-appearance: none;
        -webkit-appearance: none;
        border-radius: 0.25rem;
        text-align: center;
        border: 0;
        box-shadow: none;
        height: 36px;

        &[disabled] {
            opacity: 0.6;
        }
    }

    .btn-secondary {
        @include font-smoothing(off);
        background-image: none;
        color: $gray-1;
        border: 1px solid $field-stroke-color;
    }

    .uib-timepicker {
        td {
            padding: 0;
        }

        input[type='text'] {
            width: 36px;
        }

        .btn {
            height: 32px;
            padding: 0 6px;
        }

        .btn-link {
            background: none;
            border: 0;
        }

        .uib-increment .btn,
        .uib-decrement .btn {
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            height: 20px;
            padding: 0px;
            width: 100%;
        }
        .uib-increment .btn {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjQ4IiBoZWlnaHQ9IjQ4Ij48cGF0aCBkPSJNMTIgOGwtNiA2IDEuNDEgMS40MUwxMiAxMC44M2w0LjU5IDQuNThMMTggMTR6Ij48L3BhdGg+PC9zdmc+');
        }
        .uib-decrement .btn {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjQ4IiBoZWlnaHQ9IjQ4Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiI+PC9wYXRoPjwvc3ZnPg==');
        }
    }

    .modal-content {
        border: 0;
        box-shadow: rgba(0, 0, 0, 0.5) -2px 1px 1px;
    }

    .modal-header {
        background-color: $gray-5;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .modal-title {
        @include font-smoothing(on);
        color: $pivot-dark-blue;
        font-size: 24px;
    }

    .modal-subtitle {
        font-size: 14px;
        margin: 0;
        color: $gray-1-5;
    }

    .modal-header,
    .modal-body {
        padding-left: 40px;
        padding-right: 40px;
    }

    .modal-footer {
        display: flex;
        padding: 0;

        .btn {
            flex-grow: 1;
            margin: 0 1px 0 0;
            border: 0;
            height: 50px;
            background: $pivot-dark-blue;
        }
        .btn-secondary {
            color: $white;
            background-color: $gray-1-5;
        }

        .btn:last-of-type {
            margin-right: 0;
        }
    }
}
