.side-search#saved_search .option.link {
  padding-bottom: 4px;
  .delete {
    float: right;
    margin: 2px 0;
    display: none;
    img {
      width: 12px;
    }
  }
  &:hover .delete {
    display: inline-block;
  }
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

#search-sidebar {
  .clear_filter {
    float: right;
    margin: 6px 2px 2px 0;
    display: none;
    img {
      width: 12px;
    }
  }
  .side-search-links {
    margin-top: 10px;
    height: 10px;
    a {
      color: #555;
    }
  }
  .side-search-field {
    padding: 3px 5px;
    color: #666;
    height: 20px;
    font-size: 13px;
    &.smaller-font {
      font-size:12px !important;
    }
  }
  #side-search-any {
    #search_any {
      width: 126px;
      height: 25px;
      font-size: 18px;
    }
    #search_any_button {
      margin-top: 2px !important;
      width: 38px;
      height: 34px;
      display: inline-block;
      line-height: 2.7 !important;
      padding-top: 3px !important;
    }
  }
  #side-search-result {
    padding-top: 10px;
    .title {
      font-family: Georgia, Serif;
      font-style: italic;
      font-weight: normal;
      font-size: 18px;
      color: #808284;
    }
    #side-search-result-buttons {
      button.search_result_button {
        margin-top: 8px;
        padding: 5px 10px;
        height: 26px;
        width: 88px;
        display: inline-block;
      }
    }
  }
  .side-search {
    .search_info {
      color: #aaa;
      text-align: center;
      padding: 10px;
      font-style: italic;
    }
    .side-search-title {
      margin: 10px 0 5px;
      padding: 4px 5px;
      font-size: 15px;
      background: #2384ad;
      color: white;
      cursor: default;
    }
    .side-search-options {
      display: none;
      .links_only {
        margin-bottom: 10px !important;
      }
      .side-search-survey .survey-title {
        margin: 5px 0;
        padding: 4px 5px;
        background: #aaa;
        color: white;
        cursor: default;
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
      }
    }
    &.active {
      .side-search-options {
        display: block;
      }
    }
    .side-search-toggler {
      padding: 7px 10px 7px 5px;
      font-size: 13px;
      color: #2384ad;
      cursor: pointer;
      .visible {
        display: none;
      }
      .invisible {
        display: block;
      }
      &.active {
        .visible {
          display: block;
        }
        .invisible {
          display: none;
        }
      }
    }
    .side-search-options {
      margin: 0;
      overflow: hidden;
      &.links_only {
        margin-bottom: 5px !important;
      }
      .side-search-option {
        .link a {
          margin: 0 7px !important;
          color: #808284 !important;
          &:hover {
            text-decoration: none;
            color: #505051 !important;
          }
        }

//        &.checkboxes_only .actions {
//          margin-top: 10px !important;
//        }
        &.singleton.active {
//          border-top: 2px dashed #2384ad;
//          border-bottom: 2px dashed #2384ad;
//          padding: 10px 0 15px;
//          margin: 10px 0;
          background: #fdfdfd;
        }
        .options {
          display: none;
          margin: 5px 0px 5px 10px;
          padding: 3px 5px;
          background: #f0f0f0;
          &.active {
            display: block;
          }
          .text_option {
            font-weight: normal;
            font-size: 12px;
            cursor: pointer;
            color: #808284;
            padding: 1px 0 1px 5px;
          }
          .selected {
            padding: 3px 5px;
            display: block;
            color: #808284;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            };
          }
          .choices {
            display: none;
          }
        }
        .toggler {
          padding: 4px 5px 0px 3px;
          float: left;
          cursor: pointer;
          color: #888;
          &:hover {
            color: #aaa;
          }
          .expanded {
            display: none;
          }
          .collapsed {
            display: inline-block;
          }
          &.active {
            .expanded {
              display: inline-block;
            }
            .collapsed {
              display: none;
            }

          }
        }
        .fields, .fields_active {
          .option {
            display: none;
            &.active {
              display: block;
            }
          }
          &.active {
            display: block;
          }
          &.fields_active {
            display: block;
          }
          .field {
            text-align: left;
            margin: 0 10px;
            &.text_field, &.date_field {
              margin-bottom: 10px !important;
              display: none;
              &.active {
                display: block;
              }
            }
            .textfield {
              width: 150px;
              padding: 3px 5px;
            }
            .dateselect {
              padding-top: 4px;
              .dateselect_intro {
                text-align: center;
                padding: 5px 10px 10px;
                color: #666;
                &.inactive {
                  color: #aaa;
                }
              }
              .dateselect_label {
                display: inline-block;
                width: 45px;
                color: #666;
                text-align: right;
                &.inactive {
                  color: #aaa;
                }
              }
              .dateselect_field {
                display: inline-block;
              }
            }
          }
          .actions {
            margin: 5px 0px 12px 10px;
            .apply {
              display: none;
              button {
                float: right;
                display: inline-block;
              }
            }
            .other, .clear {
              height: 20px;
              a {
                color: #aaa;
                text-decoration: none;
              }
            }
          }
        }
        .title {
          display: block;
          width: 140px;
          margin-left: 14px;
          font-weight: normal;
          font-size: 14px;
          cursor: pointer;
          color: #808284;
          padding: 3px 0 3px 5px;
        }
        .option {
          padding-top: 3px;
          color: #777;
          &.checkbox {
            min-height: 20px;
            padding-left: 10px;
            .sidebar-label {
              margin-top: 2px;
              width: 115px;
              display: inline-block;
              &.wide {
                width: 145px;
              }
            }
            input {
              float: left;
              margin-right: 5px
            }
            span.info {
              margin: 2px 0px 0 0 !important;
              float: right;
              margin: 0 5px;
            }

          }
          .count, .info {
            color: #999;
          }
        }
      }
    }
  }
}