// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.mass_entry {
  #gandalfthewhite {
    height: 65px;
  }
  #fixed_footer {
    display: none;
  }
  #outer {
    margin: 133px auto 0px;
    min-width: inherit;
    .ht_clone_top, .ht_clone_corner {
      display: none;
    }
  }
  #fixed_header {
    height: 65px;
    #globalNav, #menu_search, .sf-menu, .ht_clone_top {
      display: none;
    }
  }
  .titlebar {
    z-index: 999;
    position: fixed;
    background-color: #fff;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 0;
    h1 {
      padding: 10px 10px 0;
      overflow: hidden;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0px auto;
    }
    #ac_button_bar {
      display: block;
      margin: 5px 10px;
      z-index: 9999999;
    }
  }
}

#fixed_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 25px 0 0;
}


#fixed_header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
}

#mass_entry_main {
  margin-bottom: 30px;
}

#surveys_controller.mass_entry {
  #outer #main {
    padding: 0 !important;
    margin: 0 !important;
    #ac_button_bar {
      margin-left: 23px;
      display: none;
    }
    #ac_contact_spread {
      margin: 0 !important;
    }
  }
}

#mass_entry_table {
  width: 100%;
  overflow: visible;
}

.htDatepickerHolder .ui-datepicker {
  border: 1px solid #ccc !important;
}

.ui-datepicker a.ui-state-active {
  background-color: #666 !important;
  color: #fff !important;
  padding: 1px 3px !important;
}

.ui-datepicker-calendar td a.ui-state-default {
  color: #000;
}

.htCore thead th {
  text-align: left;
}

#transfer_survey_div {
  #transfer_survey_guide {
    #survey_name {
      font-weight: bold;
    }
  }
  #transfer_survey_loader {
    text-align: center;
    margin-top: 20px;
  }
  #transfer_survey_processing {
    text-align: center;
    margin-top: 20px;
    #org_name {
      font-weight: bold;
    }

  }
  #transfer_survey_content {
    margin-top: 20px;
    text-align: center;
    #other_orgs_filter {
      #other_orgs_filter_keyword {
        padding: 2px 3px;
        width: 504px;
      }
    }
    #other_orgs_list {
      height: 190px;
      width: 510px;
      margin: 0 auto;
      border: 1px solid #ddd;
      overflow-x: auto;
      .other_org {
        text-align: left;
        border-bottom: 1px solid #ddd;
        padding: 3px 4px;
        cursor: pointer;
        &:hover {
          background: #eee;
        }
      }
    }
  }
  #transfer_survey_error {
    margin-top: 10px;
    color: #990000;
    text-align: center;
    font-size: 12px;
  }
}
#advanced_toggle {
  color: rgb(3, 121, 174);
}
#remove_logo_link{
  color:#007cc8;
}
.file_upload_container{
  overflow:hidden;
  margin:10px 0px;
  .file_upload_name_container{
    float:left;
    height: 20px;
    margin: 4px 0px 0px 10px;
  }
  .file_upload {
    float:left;
  	position: relative;
  	overflow: hidden;
    margin: 0px;
    input.file_field {
    	position: absolute;
    	top: 0;
    	right: 0;
    	margin: 0;
    	padding: 0;
    	font-size: 20px;
    	cursor: pointer;
    	opacity: 0;
    	filter: alpha(opacity=0);
    }
  }
}
.new_sms_keyword, .edit_sms_keyword{
  textarea{
    width: 610px;
  }
  input[type=text] {
    width: 606px;
  }
}
.div_button{
  border: 1px solid #C0C0C0;
  border-radius: 4px;
  background: linear-gradient(to bottom, #FCFCFC 0%, #F6F6F6 100%) repeat scroll 0% 0% transparent;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-shadow: 0px 1px #FFF;
  min-width: 85px;
  padding: 5px 9px;
  display: block;
  cursor: pointer;
}

.mass_entry_buttons.bottom {
  padding: 15px 0 0;
}

.htMobileEditorContainer {
  .inputs textarea {
    width: auto;
  }
  .positionControls {
    display: none;
  }
}