<ul>
  <% organizations.each do |org| %>
    <%= render 'org_li', org: org %>
  <% end %>
</ul>

<% if @total && @total > organizations.length %>
  <span style="font-size: 11px;">Showing <%= organizations.length %> of <%= @total %>, keep typing to narrow search</span>
<% end %>