<div class="inside_container">
  <div class="titlebar titlebarmod">
    <h1>
      Graduating On Misson
    </h1>
  </div>
  <div>
    <h1 class="title">Transfer Contacts to Graduating On Misson</h1>
      <div class="container">
        <div class="content">
          <div class="transfer_results">
            <div class="transfer_message">
              <p>Your contact transfer was successful!</p>
            </div>
          </div>
        <div class="transfer_actions actions_48">
          <div class="info_right info_full">
            <%= link_to "OK", all_contacts_path, class: 'action_button', id: 'ok_transfer' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
</div>