<div class="titlebar"><h1>Organizations</h1>
<p>From this screen you can edit, delete or rearrange your organizations. Clicking "Add new organization"<br/>
  will do a quick add by name. To edit more details, permissions and other info, select "edit" from the item's<br/>
   name on the list.</p></div>
  
  
<div id="orgs">
  <div class="org_column">
    <a class="org_new" href="">+ Add new organization</a>
    <ul>
      <li>Organization Name <span class="ctrl"><a href="/organizations/3/edit">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
    </ul>
  </div>
  <div class="org_column">
    <a class="org_new" href="">+ Add new organization</a>
    <ul>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
      <li>Organization Name <span class="ctrl"><a href="">Edit</a></span></li>
    </ul>
  </div>

  <div class="org_column org_empty">
    <a class="org_big_add" href=""><span class="plus">+</span><span>Add new<br/>organization</span></a>
  </div>
</div>