<p>
  <b>Explanation:</b>
  <%= @sms_keyword.explanation %>
</p>

<p>
  <b>Keyword:</b>
  <%= @sms_keyword.keyword %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sms_keyword.state %>
</p>
<%= link_to 'Edit', edit_sms_keyword_path(@sms_keyword) %>
