.btn-key {
    min-width: 235px;
    &:before {
        background: url(./logo-key-1x.png) no-repeat center center;
        width: 20px;
        height: 22px;
        display: block;
        content: '';
        margin-right: 19px;
        position: relative;
        top: 2px;
        left: 0;
        float: left;
    }
}

.btn-facebook {
    min-width: 235px;
    &:before {
        background: url(./facebook-1x.png) no-repeat center center;
        width: 20px;
        height: 22px;
        display: block;
        content: '';
        margin-right: 19px;
        position: relative;
        top: 2px;
        left: 0;
        float: left;
    }
}
