<header role='global'>
    <toaster-container toaster-options="{ 'close-button': true }"></toaster-container>
    <nav-header ng-if="!$root.legacyNavigation"></nav-header>
    <div ng-transclude="legacyMenu" ng-if="$root.legacyNavigation"></div>
    <dashboard-subnav ng-if="$ctrl.currentOrganization"></dashboard-subnav>
</header>
<section class='main-container pb5'>
    <ui-view></ui-view>
</section>
<footer role='global' class='tc bg-white pt4 pb4'>
    <span class='copyright'>{{'nav.copyright' | t: { year: ($ctrl.year | date: 'yyyy') } }}</span>
    <span>
      <a href='https://get.missionhub.com/terms-of-service' class='ml3'>{{ 'nav.terms' | t }}</a>
    </span>
</footer>