app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background: #f2f2f2;
    background-image: url(./background-left.png), url(./background-right.png);
    background-position: left 100px, right 120px;
    background-repeat: repeat-y, no-repeat;
    background-attachment: fixed, fixed;

    > header {
        height: 100%;
    }

    .sub-navigation {
        height: 48.5px;
        z-index: 50;
        box-shadow: 0 0 10px #808284;
        > .main-container {
            width: 100%;
            > .icons ng-md-icon {
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }

    .main-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;

        @media screen and (min-width: 768px) {
            width: 765px;
        }

        @media screen and (min-width: 992px) {
            width: 976px;
        }

        @media screen and (min-width: 1352px) {
            width: 976px;
        }
    }
}
