@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../stylesheets/variables/colors';

organization-overview {
    display: block;
    &:last-child {
        margin-bottom: 0;
    }

    .org-nav-header {
        ng-md-icon {
            & > svg {
                fill: $white;
            }
        }
    }

    .hidden-org {
        background: $gray-7;
    }

    .org-title-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .org-name {
        color: $pivot-bright-blue;
        font-size: 2em;
    }

    .tabs {
        padding-left: 8px;
        .tab {
            a {
                text-decoration: none;
            }

            &.active {
                a,
                span {
                    color: $blue-6;
                }
                .loading svg {
                    fill: $pivot-bright-blue;
                }
            }
            .loading {
                padding-left: 3px;
            }
            &.dropdown {
                display: block;
            }

            .dropdown-content {
                display: none;
                background-color: $white;
                min-width: 200px;
                list-style: none;
                margin: 13px 0 0 0;
                padding: 0;
                z-index: 1;
                border: solid 1px $gray-4;

                li {
                    padding: 6px 10px;
                    &:hover {
                        background: $gray-3;
                    }
                    a {
                        color: $gray-1;
                    }
                }
                .divider {
                    border-top: 2px solid $gray-4;
                }
            }

            &.dropdown:hover .dropdown-content {
                display: block;
            }
        }
    }
}

organization-overview-suborgs {
    .suborg-name {
        width: 172px;
        @media screen and (min-width: map-get($grid-breakpoints, md)) {
            width: 344px;
        }
    }
}
