<async-content ready="$ctrl.ready">
    <div
        class="br3 bg-pivot-dark-blue mb3"
        ng-class="{'hidden-org': $ctrl.org.visible === false, 'shadow-4': !$ctrl.isInsightsTab(), 'insights-tab': $ctrl.isInsightsTab()}"
        ng-if="$ctrl.showOrgNav()"
    >
        <div class="flex items-center justify-between">
            <div
                class="pivot-white f3 ph3 pv3  flex flex-auto justify-between"
                ui-sref="^.ministry.defaultTab({ orgId: $ctrl.org.id })"
            >
                {{ $ctrl.org.name }}
                <ng-md-icon
                    icon="menu"
                    class="dn-l"
                    ng-if="$ctrl.navOpen"
                    ng-click="$ctrl.toggleNav()"
                    style="fill: #F2F2F2"
                ></ng-md-icon>
                <ng-md-icon
                    icon="close"
                    class="dn-l"
                    ng-if="!$ctrl.navOpen"
                    ng-click="$ctrl.toggleNav()"
                ></ng-md-icon>
            </div>
            <div ng-if="$ctrl.editMode">
                <ng-md-icon
                    icon="visibilityOn"
                    ng-if="$ctrl.org.visible"
                    ng-click="$ctrl.toggleVisibility($ctrl.org)"
                    analytics-on="click"
                    analytics-category="Dashboard"
                    analytics-event="Hide Organization"
                >
                </ng-md-icon>
                <ng-md-icon
                    icon="visibilityOff"
                    ng-if="!$ctrl.org.visible"
                    ng-click="$ctrl.toggleVisibility($ctrl.org)"
                    analytics-on="click"
                    analytics-category="Dashboard"
                    analytics-event="Show Organization"
                >
                </ng-md-icon>
                <ng-md-icon class="sort-orgs-handle mh2" icon="dragHandle">
                </ng-md-icon>
            </div>
        </div>
        <div
            class="tabs flex-l flex-column flex-row-l"
            ng-class="{ dn: ('app.ministries.root' | isState) || $ctrl.navOpen}"
        >
            <div
                class="tab pivot-white"
                ng-class="{active: $ctrl.isInsightsTab()}"
                ng-if="!$ctrl.envService.is('production')"
            >
                <a
                    ng-href="/ministries/{{ $ctrl.org.id }}/insights/personal"
                    ui-state-params="{ orgId: $ctrl.org.id }"
                    >{{ 'nav.insights' | t }}</a
                >
            </div>
            <div
                class="tab pivot-white"
                ng-repeat="tabName in $ctrl.tabNames"
                ui-sref-active="active"
                ui-state="'^.ministry.' + tabName"
                ui-state-params="{ orgId: $ctrl.org.id }"
                ng-if="$ctrl.isTabVisible(tabName)"
            >
                <span>
                    {{ 'ministries.' + tabName + '.header' | t }}
                    <span
                        ng-if="$ctrl[tabName] && $ctrl[tabName] !== 'countHidden'"
                        >({{ $ctrl[tabName].length }})</span
                    >
                </span>
                <loading-spinner
                    ng-if="$ctrl.loadDetails && !$ctrl[tabName]"
                    class="loading"
                    size="16"
                >
                </loading-spinner>
            </div>
            <div class="tab dropdown " ng-if="$ctrl.directAdminPrivileges">
                <span class="pivot-white"
                    >{{ 'ministries.tools.header' | t }}</span
                >
                <ng-md-icon
                    icon="play_arrow"
                    class="chevron fill-pivot-white"
                    size="14"
                ></ng-md-icon>
                <div class="dropdown-container">
                    <ul
                        class="dropdown-content br3 br--bottom shadow-5 overflow-hidden"
                    >
                        <li>
                            <a
                                ui-sref="app.ministries.ministry.import({ orgId: $ctrl.org.id })"
                                >{{ 'contacts.index.import_contacts' | t }}</a
                            >
                        </li>
                        <li>
                            <a
                                ui-state="'^.ministry.management'"
                                ui-state-params="{ orgId: $ctrl.org.id }"
                                >{{ 'nav.manage' | t }}</a
                            >
                        </li>
                        <li>
                            <a
                                ui-state="'^.ministry.labels'"
                                ui-state-params="{ orgId: $ctrl.org.id }"
                                ui-sref-active="active"
                                >{{ 'people.index.manage_labels' | t }}</a
                            >
                        </li>
                        <li>
                            <a
                                ui-state="'^.ministry.cleanup'"
                                ui-state-params="{ orgId: $ctrl.org.id }"
                                >{{ 'nav.cleanup' | t }}</a
                            >
                        </li>
                        <li ng-if="$ctrl.org.reports_movement_indicators">
                            <a
                                ui-state="'^.ministry.reportMovementIndicators'"
                                ui-state-params="{ orgId: $ctrl.org.id }"
                            >
                                {{ 'nav.report_movement_indicators' | t }}
                            </a>
                        </li>
                        <li ng-if="$ctrl.p2cOrg">
                            <a
                                ui-state="'^.ministry.signatures'"
                                ui-state-params="{ orgId: $ctrl.org.id }"
                                ui-sref-active="active"
                                >{{ 'signatures.title' | t }}</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div
            ng-if="!('app.ministries.root' | isState)"
            class="w-100"
            ng-class="{ 'overflow-x-auto': !$ctrl.$state.includes('app.ministries.ministry.people') }"
        >
            <ui-view class="grid"></ui-view>
        </div>
    </div>

    <div ng-if="!('app.ministries.root' | isState) && !$ctrl.showOrgNav()">
        <ui-view class="grid"></ui-view>
    </div>
</async-content>
