<organization-breadcrumbs org="$ctrl.org"></organization-breadcrumbs>
<div class="header">
    <div class="org-name">{{$ctrl.org.name}}</div>
    <div class="tabs">
        <div class="tab" ng-repeat="tabName in $ctrl.tabNames" ui-sref-active="active"
             ui-state="'app.ministries.ministry.' + tabName" ui-state-params="{ orgId: $ctrl.org.id }">
            <span>
                {{'ministries.' + tabName | t}}
                <span ng-if="$ctrl[tabName]">({{$ctrl[tabName].length}})</span>
            </span>
            <img ng-if="!$ctrl[tabName]" src="/assets/loading.gif" class="loading" />
        </div>
    </div>
</div>
<div class="content" ng-if="!('app.ministries.root' | isState)">
    <stats-header title="'Ministry'"></stats-header>
    <ui-view></ui-view>
</div>
