organization-overview {
  display: block;
  margin-bottom: 20px;

  & > .header {
    height: auto;
  }

  .org-name {
    padding: 10px;
    color: $pivot-bright-blue;
    font-size: 2em;
    cursor: pointer;
  }

  .tabs {
    display: flex;

    .tab {
      display: flex;
      align-items: center;
      padding: 10px;
      &, a {
        color: white;
      }
      cursor: pointer;
      border-bottom: 3px solid transparent;
      &.active {
        color: $pivot-bright-blue;
        border-bottom-color: $pivot-bright-blue;
        .loading svg {
          fill: $pivot-bright-blue;
        }
      }
      .loading {
        padding-left: 3px;
      }
    }
  }
}
