<div class="row periods">
    <span class="period nav-item" ng-repeat="period in $ctrl.periods"
          ng-click="$ctrl.setPeriod(period.period)" ng-class="{ active: period.period === $ctrl.period }">
          {{period.label | t}}
    </span>
</div>
<div class="grid">
    <div class="grid-content">
        <div class="row">
            <span class="normal-column">{{'assignments.assigned' | t}}</span>
            <span class="count-column">{{$ctrl.report.contact_count || '-'}}</span>
        </div>
        <div class="row double-column alternate-color">
            <span class="normal-column">{{'followup_status.uncontacted' | t}}</span>
            <span class="count-column warning-highlight">{{$ctrl.report.uncontacted_count || '-'}}</span>
        </div>
        <div class="row double-column" ng-class="{ 'alternate-color': $odd }"
             ng-repeat="interactionType in $ctrl.interactionTypes">
            <span class="normal-column">{{interactionType.title | t}}</span>
            <span class="count-column">{{$ctrl.getInteractionCount(interactionType.id) || '-'}}</span>
        </div>
    </div>
</div>
