$person-height: 50px;

ministry-view-person {
  $person-padding: 10px;

  @extend .row;
  height: $person-height;

  .column.select-column {
    width: 26px;
    padding-left: 6px;
    padding-right: 6px;
  }
  .button-column {
    width: 56px;
  }
  .gender-column {
    width: 50px;
  }
  .phone-number-column {
    width: 120px;
  }

  icon-button {
    margin: auto;
  }

  padding: $person-padding;
}
