@import '../../../../stylesheets/variables/colors';
@import '../../../../stylesheets/variables/ministriesView';
@import '../peopleScreen/columnConfig';

ministry-view-person {
    display: block;
    height: $person-height;
    .row {
        height: 50px;
    }

    @extend %column-config;

    .assigned-to-column {
        .name-container {
            display: flex;
            height: $person-height;
            .name {
                flex: 1;
                align-self: center;
            }
            .arrow {
                display: flex;
                align-items: center;
                color: $pivot-dark-blue;
                &::after {
                    content: ' ';
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid;
                }
                &.arrow-up::after {
                    border-top: none;
                    border-bottom: 5px solid;
                }
            }
        }
        &.warning .name-container a.arrow {
            &,
            &:hover {
                color: $pivot-orange;
            }
        }
    }
    .status-column {
        display: flex;
        height: 50px;

        &.warning .form-control-select::after {
            border-top-color: $pivot-orange;
        }

        .form-control-select::after {
            top: 45%;
        }

        .form-control-select {
            display: flex;
        }

        .form-control-select select {
            border: none;
            padding-left: 0;
            color: inherit;
            font-size: 14px;
            line-height: 21px;
            align-self: center;

            &,
            &:focus {
                background-color: transparent;
            }
        }
    }

    icon-button {
        margin: auto;
    }

    .dropdown-content {
        min-width: 200px;
    }
}
