<div class="column select-column">
    <input type="checkbox" ng-model="$ctrl.selected" />
</div>
<div class="column important-column">
    <a ui-sref=".person.defaultTab({ personId: $ctrl.person.id })">
        {{$ctrl.person.full_name}}
    </a>
</div>
<div class="column detail-column gender-column">
    <span ng-if="$ctrl.person.gender">{{('ministries.people.' + $ctrl.person.gender.toLowerCase()) | t}}</span>
</div>
<div class="column detail-column normal-column" ng-class="{warning: $ctrl.assignedTo.length === 0}">
    <span>{{$ctrl.assignedTo.length > 0 ?
            $ctrl.assignedTo[0].full_name :
            ('assignments.unassigned' | t)}}</span>
</div>
<div class="column detail-column normal-column"
     ng-class="{warning: $ctrl.orgPermission.followup_status === 'uncontacted'}">
    <span>{{($ctrl.orgPermission.followup_status === 'uncontacted' ?
                'followup_status.uncontacted' :
                'followup_status.contacted')
            | t}}</span>
</div>
<div class="column detail-column phone-number-column">
    <span ng-if="$ctrl.phoneNumber">{{$ctrl.phoneNumber.number | phone}}</span>
</div>
<div class="column detail-column button-column">
    <a ng-href="{{$ctrl.emailAddress.email | mailto}}">
        <icon-button icon="'email'" disabled="!$ctrl.emailAddress"></icon-button>
    </a>
</div>
