$person-height: 50px;

ministry-view-person {
  display: block;
  height: $person-height;

  .column.select-column {
    width: 26px;
    padding-left: 6px;
    padding-right: 6px;
  }
  .name-column {
    flex: 2;
  }
  .button-column {
    width: 56px;
  }
  .gender-column {
    width: 40px;
  }
  .assigned-to-column {
    flex: 1.5;

    .name-container {
      display: flex;
      height: $person-height;
      .name {
        flex: 1;
        align-self: center;
      }
      .chevron {
        padding-top: 10px;
      }
    }

    .chevron svg {
      fill: $pivot-dark-blue;
    }
    &.warning .chevron svg {
      fill: $pivot-orange;
    }
  }
  .status-column {
    width: 170px;

    .pivot_theme &.warning .form-control-select::after {
      border-top-color: $pivot-orange;
    }

    .pivot_theme & .form-control-select select {
      border: none;
      padding-left: 0;
      color: inherit;

      &, &:focus {
        background-color: transparent;
      }
    }
  }
  .phone-number-column {
    width: 120px;
  }

  icon-button {
    margin: auto;
  }

  .dropdown-content {
    min-width: 200px;
  }
}
