$person-height: 50px;

ministry-view-person {
  $person-padding: 10px;

  @extend .row;
  height: $person-height;

  .column.select-column {
    width: 26px;
    padding-left: 6px;
    padding-right: 6px;
  }
  .name-column {
    flex: 2;
  }
  .button-column {
    width: 56px;
  }
  .gender-column {
    width: 40px;
  }
  .assigned-to-column {
    flex: 1.5;

    .name-container {
      display: flex;
      height: $person-height;
      .name {
        flex: 1;
        align-self: center;
      }
      .chevron {
        padding-top: 10px;
      }
    }

    .chevron svg {
      fill: $pivot-dark-blue;
    }
    &.warning .chevron svg {
      fill: $pivot-orange;
    }
  }
  .status-column {
    width: 170px;

    .pivot_theme &.warning .form-control-select::after {
      border-top-color: $pivot-orange;
    }

    .pivot_theme & .form-control-select select {
      border: none;
      padding-left: 0;
      color: inherit;

      &, &:focus {
        background-color: transparent;
      }
    }
  }
  .phone-number-column {
    width: 120px;
  }

  icon-button {
    margin: auto;
  }

  padding: $person-padding;

  .dropdown-content {
    background-color: $pivot-dark-blue;
    min-width: 200px;

    .item {
      display: flex;
      align-items: center;
      padding: 6px 10px;
      color: $white;

      ng-md-icon {
        align-self: flex-end;
        width: 14px;
        height: 14px;

        // Align the icon with the text baseline
        margin-bottom: -1px;
      }

      input {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $white;
        outline: none;

        // Unfortunately, these rules cannot be simply combined using the comma operator because browsers choke on the
        // the prefixed selectors of other browsers and ignore the entire rule
        @mixin white-placeholder() {
          color: $white;
          opacity: 1;
        }
        &::-webkit-input-placeholder {
          @include white-placeholder();
        }
        &::-moz-placeholder {
          @include white-placeholder();
        }
        &::-ms-input-placeholder {
          @include white-placeholder();
        }
      }

      .assignment-icon {
        margin-right: 6px;
        svg {
          fill: $white;
        }
      }
    }
  }
}
