multiselect-list {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: .5em;
  }

  .pill {
    max-width: 100%;

    span {
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
    }
  }

  .pill.unselected {
    background-color: $gray-4;
    border-color: $gray-4;
    color: $pivot-dark-blue;
  }

  ng-md-icon {
    fill: $white;
    overflow: hidden;
    float: right;
    text-align: right;
    height: 12px;
    width: 17px;
    margin-top: -1px;
    margin-right: -10px;
  }
}
